<table style='width: 750px; font-family: Calibri; font-size: small; background-color: #efefef; padding:5px 15px 5px 15px; border: 1px solid #cdcdcd; color:#333333; text-align: left;'>
    <tr>
        <td>
            Dear <b><!--Addreseee-->,</b><br />
            <br />This is a formal email from Online Provider service for notification.
        </td>
    </tr>
    <tr>
        <td style='text-align:justify;'>
            <p>
                <!--Body Message-->
<br /> 

<br /><br /><br />
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                This is an auto generated mail from Online Provider service, do not reply this mail.
                <br />
                
            </p>

            <b>Warm Regards,</b><br />
            Online Services Team<br />
            <br />Bupa Arabia, Al Rawdah St. Al Khalediya District,
            <br />PO Box 23807 Jeddah 21436, KSA
            <br />
            Tel:  +966 920 000 456

            <br />
            Fax: +966 2 639 1735
        </td>
    </tr>
</table>