<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="ClientMaster.master" Inherits="CtntMyCoverage" Debug="true" Codebehind="CtntMyCoverage.aspx.cs" %>

<%@ MasterType VirtualPath="ClientMaster.master" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="aspAjax" %>

<asp:Content ID="Content1_1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

        <asp:UpdatePanel ID="UpdatePanel2" runat="server" >
            <ContentTemplate>
               <br /><br /> 
            <table >
           
                <tr>
                    <td>
                        <asp:Label ID="lblMembership_No" runat="server" Text="Membership No :"></asp:Label></td>
                    <td >
                        <asp:Label ID="lblMembershipNo" runat="server" Text="3456998"></asp:Label></td>
                </tr>
                <tr>
                    <td >
                        <asp:Label ID="lblMember_Name" runat="server" Text="Member Name :"></asp:Label></td>
                    <td >
                        <asp:Label ID="lblMemberName" runat="server" Text=""></asp:Label></td>
                </tr>
                <tr>
                    <td >
                        <asp:Label ID="lblCustomer_Name" runat="server" Text="Customer Name"></asp:Label></td>
                    <td >
                        <asp:Label ID="lblCustomerName" runat="server" Text="30/05/1970"></asp:Label></td>
                </tr>
                <tr>
                    <td>
                        <asp:Label ID="lblClass_Name" runat="server" Text="Class Name"></asp:Label></td>
                    <td>
                        <asp:Label ID="lblClassName" runat="server" Text=""></asp:Label></td>
                </tr>
          
            </table>
            
       <div id="CoverageListReport"  visible=false style=" font-family:Verdana; ; height:384px; width:95%; overflow:hidden;" runat="server" >
       <img src="file:///C:\Downloads\imagemap-1291\AJAX_ImageMap\animated_loading.gif" />
       </div>

            
            
            </ContentTemplate>
        </asp:UpdatePanel>
    
    <asp:Label ID="Message1" runat="server" Text="" Width="183px"></asp:Label>
    <asp:TextBox CssClass="textbox" ID="TextBox1" runat="server"></asp:TextBox>
</asp:Content>