﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="ClientMaster.master" Inherits="CtntClaimHistory" Debug="true" Codebehind="CtntClaimHistory.aspx.cs" %>

<%@ MasterType VirtualPath="ClientMaster.master" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="aspAjax" %>

<asp:Content ID="Content1_1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:UpdatePanel ID="UpdatePanel2" runat="server" Visible="false">
    <ContentTemplate>
               <br /><br /> 
            <table >
           
                <tr>
                    <td>
                        <asp:Label ID="lblMembership_No" runat="server" Text="Membership No :"></asp:Label></td>
                    <td >
                        <asp:Label ID="lblMembershipNo" runat="server" Text=""></asp:Label></td>
                </tr>
                <tr>
                    <td >
                        <asp:Label ID="lblMember_Name" runat="server" Text="Member Name :"></asp:Label></td>
                    <td >
                        <asp:Label ID="lblMemberName" runat="server" Text=""></asp:Label></td>
                </tr>
                <tr>
                    <td>
                        </td>
                    <td>
                        </td>
                </tr>
          
            </table>
       <font size=2>Please click on the <b>Claim Voucher No</b> to view the Reimbursement Statement:[ الرجاء الضغط على رقم المطالبة لمشاهدة كشف حساب المطالبات  ]</font> 
    <table style="width:100%">
    <tr>
        <td><literal id="CoverageListReport"  visible=false style=" font-family:Verdana; ; height:384px; width:100%; overflow:visible;" runat="server"></literal>
       
       </div></td>
    </tr>
    </table>
       

            
            
            </ContentTemplate>    </asp:UpdatePanel>
    
    <asp:Label ID="Message1" Font-Names="verdana" Width="95%" runat="server" ></asp:Label>
    
</asp:Content>
<asp:Content ID="Content1" runat="server" 
    contentplaceholderid="ContentPlaceHolder2">
    View claim history details of your staff for the past 6 months
</asp:Content>
