﻿<%@ Page Language="C#" AutoEventWireup="true" Inherits="empdep" Codebehind="empdep.aspx.cs" %>

<table class="table table-striped table-bordered dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>ID Number</th>
                                <th>Sponsor</th>
                                <th>Gender</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>sumesh</td>
                                <td>112222</td>
                                <td>112222</td>
                                <td>Male</td>
                                <td>
                                    <asp:linkbutton id="LinkButton3" runat="server" commandname="Delete" commandargument='<%# Eval("Id")%>'>Edit</asp:linkbutton>
                                </td>
                            </tr>
                            <tr>
                                <td>sumesh</td>
                                <td>112222</td>
                                <td>112222</td>
                                <td>Male</td>
                                <td>
                                    <asp:linkbutton id="LinkButton4" runat="server" commandname="Delete" commandargument='<%# Eval("Id")%>'>Edit</asp:linkbutton>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4">Footer</td>
                            </tr>
                        </tfoot>

                    </table>