﻿<%@ Page Language="C#" AutoEventWireup="true" Inherits="Client_SMEintermediate" Codebehind="SMEintermediate.aspx.cs" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>    
        <input type="hidden" runat="server" id="BupaGSUserName" />
        <input type="hidden" runat="server" id="BupaGSUserPassword" />
    </div>
    </form>
</body>
</html>
