﻿html{

}

body {
	margin: 0;
	font: 0.95em Arial, Geneva, sans-serif;
	background-color:#e6f5ff;
	direction:ltr;
}

form{

}

.MasterTbl{
	width:940px;
	background-color:white;
	margin-right:0;
	margin-left:0;
	border-left:0px #dddeee solid;
	border-right:0px #dddeee solid;
	border-bottom:0px #dddeee solid;

}

.HdrArea{
	padding: 10px 10px 10px 10px;
}

.BodyArea{
	min-height:400px;
	padding:10px 10px;
}


.FtrTbl{
	margin-top:35px;
	margin-bottom:5px;

}

.FMenu {
	font-size:8pt;
	padding-right:40px;
	color: #333333;
	text-align:right;
}

.FMenu a{
	font-family:Arial, sans-serif;
	font-size:8pt;
	color: #006699;
	text-decoration:none;
	margin:0px 5px;
}

.FMenu a:hover{
	text-decoration:underline;
}

.CopyR{
	font-family: Arial, sans-serif;
	font-size:9pt;
	color: #333333;
	text-align:right;
	width:100px;
}

.HdrTbl{
	height:100px;
}

.Logo{
	padding-left:5px;
}

.RevAlignIn{
	float:right;
	clear:both;
}

.RevAlign{
text-align:right;
}

.SearchTbl{
	margin-left: 40px;
	white-space:nowrap;
}

.SearchTxt{
	font-family:Arial, sans-serif;
	font-size:9pt;
	color: #333333;
}

.SearchInput{
	height:14px;
	width:110px;
	font-family:Arial, sans-serif;
	font-size:8pt;
	color: #666666;
	margin:0px 3px;
	padding:1px;
	border:1px #00adef solid;
}

a.SearchLnk{
	font-family:Arial, sans-serif;
	font-size:8pt;
	color: #333333;
	text-decoration:none;
}

/* Top Menu Style  */


.HMenuTbl{
	border-collapse:collapse;
	float:right;
	clear:both;
}

.HMenuItem{
font-family:Arial, sans-serif;
	font-size:9pt;
	color:#006699;
	font-weight:bold;
	text-decoration:none;
	display:block;
	padding-left:5px;
	padding-right:7px;

}

a.HMenuItem{
	font-family:Arial, sans-serif;
	font-size:9pt;
	color:#006699;
	font-weight:bold;
	text-decoration:none;
	display:block;
	padding-left:5px;
	padding-right:7px;

}

.HMenuItemSel{

}

a.HMenuItemSel{
	font-family:Arial, sans-serif;
	font-size:9pt;
	color:#333333;
	font-weight:bold;
	text-decoration:none;
	display:block;
	padding-left:10px;
	padding-right:10px;

}

a:hover.HMenuItem{
	text-decoration:underline;
}

a:hover.HMenuItemSel{
	text-decoration:underline;
}

.QLinksTbl{
	float:right;
	clear:both;
}

.QLinks{
	font-size:9pt;	
}

.QLinks a{
	font-family:Arial, sans-serif;
	font-size:8pt;
	color: #333333;
	text-decoration:none;
}

.QLinks a:hover{
	text-decoration:underline;
}

a.Lang{
	font-family: Tahoma, "Microsoft Sans Serif";
	font-size:8pt;
	color: #333333;
	text-decoration:none;
}

/* Homepage content style */

.HomeTbl{

}

.HomeLeft{
	width:185px;
}

.HomeRight{
	width:185px;
}


.HomeCenter{
	padding:0px 20px;
}

.BnrMed{
	background-color:#e6f5ff;
	width:240px;
	padding-bottom:0px;
}

.BnrMed img{
	display:block;
}

.BnrMedTitle{
	font-family:Arial, sans-serif;
	font-size:9pt;
	color: #333333;
	font-weight:bold;
	background: url('../../images/en-us/BnrMedEdg1.gif') no-repeat top left;
	padding:2px 5px 2px 10px;
	display:block;
}


.BnrBig{
	background-color:#e6f5ff;
}

.Summary-Sml{
	font-family:Arial, sans-serif;
	font-size:8pt;
	color: #333333;
	text-align: left;
}

.TxtBold-Sml{
	font-family:Arial, sans-serif;
	font-size:8pt;
	color: #333333;
	font-weight:bold;
}

.TxtJst-Sml{
	font-family:Arial, sans-serif;
	font-size:8pt;
	color:#333333;
	text-align:justify;
	}


.TxtNorm-Sml{
	font-family:Arial, sans-serif;
	font-size:8pt;
	color:#333333;
}

.TxtNorm-Sml a{
	font-family:Arial, sans-serif;
	color:#006633;
	text-decoration:none;
}


.TxtNorm-Med{
	font-family:Arial, sans-serif;
	font-size:10pt;
	color:#333333;
}

.TxtNorm-Med a{
	font-family:Arial, sans-serif;
	color:#006633;
	text-decoration:none;
}

.TxtBold-Med{
	font-family:Arial, sans-serif;
	font-size:10pt;
	font-weight:bold;
	color:#333333;
}

.Brief-Sml{
	font-family:Arial, sans-serif;
	font-size:8pt;
	color:#333333;
	font-style:italic;
}


.DesSml{
	font-family:Arial, sans-serif;
	font-size:8pt;
	color: #333333;
}

.HLine{
	border-bottom:1px #dddddd solid;
}

.AdSml{
	margin-bottom:6px;
}

.AdLMenu{
	padding-top:50px;
}

.IndentPic{
	padding-right:65px;
}


/* RondedBox Style - Default */

.RndBox{
	width:185px;
	margin-bottom:10px;
}

.RndHdr{
	background:url('../../images/en-us/RundHdrOrng.gif') no-repeat left top;
	border-right:1px #f7d289 solid;
	height:5px;
}


.RndBody{
	border-bottom:1px #f7d289 solid;
	border-left:1px #f7d289 solid;
	border-right:1px #f7d289 solid;
	padding:10px 10px 5px 10px;
}

.RndTitle{
	font-family:Arial, sans-serif;
	font-size:9pt;
	color: #333333;
	font-weight:bold;
}


/* RondedBox Style - Orange */

.RndBox-Orng{
	width:185px;
	margin-bottom:10px;
}

.RndHdr-Orng{
	background:url('../../images/en-us/RundHdrOrng.gif') no-repeat left top;
	border-right:1px #f7d289 solid;
	height:5px;

}

.RndBody-Orng{
	border-bottom:1px #f7d289 solid;
	border-left:1px #f7d289 solid;
	border-right:1px #f7d289 solid;
	padding:0px 10px 5px 10px;
}


/* RondedBox Style - Blue */

.RndBox-Blu{
	width:185px;
	margin-bottom:10px;
}

.RndHdr-Blu{
	background:url('../../images/en-us/RundHdrBlue.gif') no-repeat left top;
	border-right:1px #c4e1ff solid;
	height:5px;

}

.RndBody-Blu{
	border-bottom:1px #c4e1ff solid;
	border-left:1px #c4e1ff solid;
	border-right:1px #c4e1ff solid;
	padding:0px 0px 0px 0px;
}


.RHandDes{
	font-family:Arial, sans-serif;
	font-size:8pt;
	color:#333333;
}

.RHandDes a{
	font-family:Arial, sans-serif;
	font-size:8pt;
	color:#333333;
	text-decoration:none;
}


/* Spical RoundedBox Style */

.RndTitle-Pink{
	font-family:Arial, sans-serif;
	font-size:9pt;
	color: #ff0066;
	font-weight:bold;
}

/* Right Hand images */

.RHand-Job{
	background:url('../../images/en-us/RHand_JobBg.jpg') no-repeat right top;
	margin-bottom:0px;
}

.RHand-Support{
	background:url('../../images/en-us/RHand_SupportBg.jpg') no-repeat Left top;
	margin-bottom:0px;

}

/* Listing Style */

.Summary-Lnk{
	padding:2px 3px 2px 20px;
	font-family:Arial, sans-serif;
	font-size:8pt;
	color: #333333;
	vertical-align: middle;
	margin-top:2px;
	min-height:14px;
	background: transparent url('../../images/en-us/ArrBulletFFx.gif') no-repeat left;
}

.Summary-Lnk a, .Summary-Lnk a:link{
	font-family:Arial, sans-serif;
	font-size:8pt;
	color: #006633;
	vertical-align: middle;
	text-decoration:none
}

.Summary-Lnk a:hover{
	text-decoration:underline;
}

ul.ListingSty1{
	padding:8px 3px 5px 20px;
	margin:0px;
	list-style-position: outside;
}

.ListingSty1 li{
	font-family:Arial, sans-serif;
	font-size:8pt;
	color: #333333;
	vertical-align: middle;
	list-style-image:url('../../images/en-us/ArrBulletFFx.gif');
	margin:1px 0px;
}

.ListingSty1 li a:link, .ListingSty1 li a{
	color: #006633;
	text-decoration:none;
}

*html .ListingSty1 li{
	font-family:Arial, sans-serif;
	font-size:8pt;
	color: #333333;
	vertical-align: baseline;
	list-style-image:url('../../images/en-us/ArrBulletIE.gif');
	margin-bottom:2px !important;
}


ul.ListingSty2{
	padding:8px 1px 5px 15px;
	margin:0px;
	list-style-position: outside;
}

.ListingSty2 li{
	font-family:Arial, sans-serif;
	font-size:8pt;
	color:#333333;
	vertical-align: middle;
	list-style-image:url('../../images/en-us/ArrBulletOrange.gif');
	margin:3px 0px;
}

.ListingSty2 li a:link, .ListingSty2 li a{
	color: #333333;
	text-decoration:none;
}

ul.ListingSty3{
	padding:8px 1px 5px 15px;
	margin:5px;
	list-style-position: outside;
}

.ListingSty3 li{
	font-family:Arial, sans-serif;
	font-size:8pt;
	color:#333333;
	vertical-align: middle;
	list-style-image:url('../../images/en-us/ArrBulletBlue.gif');
	margin:3px 0px;
}

.ListingSty3 li a:link, .ListingSty3 li a{
	color: #333333;
	text-decoration:none;
}

.ListingSty1 li a:hover, .ListingSty2 li a:hover, .ListingSty3 li a:hover{
	text-decoration:underline;
}

ul.ListingNorm{
	font-family:Arial, sans-serif;
	font-size:9pt;
	color:#333333;
	list-style-type: disc;
	padding: 5px 5px 5px 30px;
	margin:0px;
}


/* Inside Style */

.ContainerTbl{
	
}

.LeftColom{
	width:160px;
	border-top: 1px #e6f5ff solid;
	border-right: 1px #e6f5ff solid;

}

.BodyTbl{
	
}

.ContentPart{
	padding: 5px 20px;
	height:400px;
}


.RightColom{
	width:200px;
	padding-top:10px;
}

.VMenuTbl{
	border-collapse:collapse;
}

.VMenuItem{
	width:147px;
	border-collapse:collapse;
}

a.VMenuItem{
	font-family:Arial, sans-serif;
	font-size:9pt;
	color:#333333;
	text-decoration:none;
	padding:3px 5px;
	display:block;
	margin:2px;
	border-bottom: 1px #e6f5ff solid;
	display:block;
}


a:hover.VMenuItem{
	text-decoration:none;
}

.VMenuItemSel{
	width:147px;
	border-collapse:collapse;
	border-bottom: 1px #e6f5ff solid;
}

a.VMenuItemSel{
	background-color:#e6f5ff;
	font-family:Arial, sans-serif;
	font-size:9pt;
	color:#333333;
	font-weight:bold;
	text-decoration:none;
	padding:3px 5px;
	display:block;
	margin:2px;
	display:block;
}

a:hover.VMenuItemSel{
	text-decoration:none;
}

/* ||||||||| Inside Content Style  |||||||||  */

.PageTitle{
	font-family:Arial, sans-serif;
	font-size:12pt;
	color:#333333;
	font-weight:bold;
	display:block;
	margin-bottom:15px;
}

h2{
	font-family:Arial, sans-serif;
	font-size:10pt;
	color:#006633;
	font-weight:bold;
	margin:5px 0px;
}


.SubTitle{
	font-family:Arial, sans-serif;
	font-size:11pt;
	color: #333333;
	font-weight:bold;
	margin:5px 0px;
}

.SecName{
	
}

a.SecName{
	font-family:Arial, sans-serif;
	font-size:10pt;
	font-weight:bold;
	color:#006699;
	text-decoration:none;
}

a:hover.SecName{
	color:#006699;
	text-decoration: none;
}

.Breadcrumb{
	font-family:Arial, sans-serif;
	font-size:8pt;
	color: #333333;
}

.Breadcrumb a{
	font-family:Arial, sans-serif;
	font-size:8pt;
	color:#333333;
	text-decoration:none;
}


.PicInTxt{
	float:left;
	margin:0px 10px 3px 0px;
}

.PicCentered{
	text-align:center !important;
	margin:10px 0px;
}

.PicCentered img{
	padding:5px;
	border:1px #eeeeee solid;

}

.DateFormat{
	font-family:Arial, sans-serif;
	font-size:8pt;
	color:gray;
	padding-bottom:3px;
	text-transform: uppercase;
}


.NewsTbl{
	
}

.NewsTitle{
	
}

.NewsTitle a{
	font-family: Geneva, Arial, sans-serif;
	font-size:9pt;
	font-weight:bold;
	color:#006633;
	text-decoration:none;
}

.NewsTitle a:hover{
	color:#006633;
	text-decoration: underline;
}


.NewsDes{
	font-family:Arial, sans-serif;
	font-size:8pt;
	color:#333333;
	text-align:justify;
}


.Tools{
	margin: 10px 0px;
}

.Tools a:link, .Tools a{
	font-family:Arial, sans-serif;
	font-size:9pt;
	font-weight:bold;
	color:#006633;
	text-decoration:none;
}

.Tools a:hover{
	color:#006633;
	text-decoration: underline;
}

.Tools img{
	display:inline;
	margin:0px 5px;
}

.MData{
	font-family:Arial, sans-serif;
	font-size:8pt;
	color:gray;
	white-space:nowrap;
}

.CntrAlign{
	text-align:center;
}

.New{
	font-family:Arial, sans-serif;
	font-size:8pt;
	color: #ff6600;
	margin-left:3px;
}

.ActionPart{
	background-color: #E6F5FF;
	border-top: 3px #eeeeee solid;
	padding:3px;
}


.AzTbl{
	margin: 0px auto;
	border-collapse:collapse;
	border: 1px #ececec solid;
	width:100%;
}

.AzTbl a{
	font-family:Arial, sans-serif;
	text-transform:uppercase;
	font-size:10pt;
	font-weight:bold;
	color:#006633;
	display:block;
	margin:5px 2px;
	padding:2px;
	border:1px white solid;
	text-decoration:none;
}


.AzTbl a:hover{
	color:#006633;
	text-decoration:none;
	background-color:#F5F5E6;
	border:1px silver solid;
}


.AzLetter{
	background-color: #F5F5E6;
	font-family: Geneva, Arial, sans-serif;
	font-size:10pt;
	font-weight:bold;
	color:#333333;
	width:50px;
	text-align:center;
	text-transform:uppercase;
	padding:3px;
	margin:3px;
	border:1px silver solid;


}

.AzCatTbl{
	margin:5px 0px;
	border-bottom:1px #dddddd solid;

}


.HdgBg{
	background-color: #00adef;
	border-top: 3px #e6f5ff solid;
	padding:4px;
}

.HdgTitle{
	font-family: Geneva, Arial, sans-serif;
	font-size:10pt;
	font-weight:bold;
	color:#ffffff;
}

.HdgTitle a{
	font-family: Geneva, Arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #E6F5FF;
	text-decoration: none;
}

.InputTbl{
	display:inline;
}

/* Tabular data */

.BrdTbl{
	border:1px #c4e1ff solid;
	border-bottom: 2px #eeeeee solid;
}

.ListRwBg{

}


.ListRwBrd td{
	border-bottom: 1px #dddddd solid;
}


.ListHead{
	
}

a.ListHead{
	font-family: Geneva, Arial, sans-serif;
	font-size:9pt;
	font-weight:bold;
	color:#006633;
	text-decoration:none;
}


.ListDes{
	font-family:Arial, sans-serif;
	font-size:8pt;
	color:#333333;
	text-align:justify;
}

a.ListLnk{
	font-family: Arial, sans-serif;
	font-size:8pt;
	font-weight:bold;
	color:#006633;
	text-decoration:none;
}

.ListNoLnk{
	font-family: Arial, sans-serif;
	font-size:9pt;
	font-weight:bold;
	color:#333333;
}

.ListNoLnk-Sml{
	font-family: Arial, sans-serif;
	font-size:8pt;
	font-weight:bold;
	color:#333333;
}

.IndentTxt{
	padding:5px 5px 10px 20px;
}

/* Bullet Style */

.SmL1{
	font-family: Arial, sans-serif;
	font-size:10pt;
	font-weight:bold;
	color:#333333;
}

.SmL2{
	padding:6px 3px 0px 3px;
}

.SmL2 a{
	font-family: Arial, sans-serif;
	font-size:9pt;
	font-weight:bold;
	color:#006633;
	text-decoration:none;
}

.SmL3{
	padding:0px 5px;
}

.SmL3 a{
	font-family: Arial, sans-serif;
	font-size:8pt;
	color:#006633;
	text-decoration:none;
}



/* Web part Style */

.WpHeader{
	background-color: #E6F5FF;
	border-top: 3px #efefef solid;
	padding:4px;
	margin-top:5px;
}

.WpTitle{
	font-family: Geneva, Arial, sans-serif;
	font-size:10pt;
	font-weight:bold;
	color:#333333;
}


/* Pageing Style */

.PagingTbl{
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
}


.Paging{
}

.Paging a{
	text-decoration: none;
	color:#006633;
	padding-left:5px;
	padding-right:5px;
	font-family:Arial, sans-serif;
	font-size:9pt;
}

.Paging a:hover{
	color: #006633;
	text-decoration:underline;
}

a.PagingR{
	background: url('../../images/en-us/ArrR.gif') no-repeat top left;
	display:block;
}

a:hover.PagingR{
	background: url('../../images/en-us/ArrR.gif') no-repeat left bottom;
}

a.PagingL{
	background: url('../../images/en-us/ArrL.gif') no-repeat top left;
	display:block;
}

a:hover.PagingL{
	background: url('../../images/en-us/ArrL.gif') no-repeat left bottom;
}


/* Form Elements */

.FormTbl{
	margin-top:15px;
}

.FormGroup{

}

.GroupTitle{
	font-family:Arial, sans-serif;
	font-size:10pt;
	color: #333333;
	font-weight:bold;
	padding:5px;
}

.ColoredBg{
	background-color:#E6F5FF;
	padding:2px;
}

.Colored2Bg{
	background-color:#F2F2F2;
	padding:2px;
}

.SelectBox{
	font-family: Geneva, Arial, sans-serif;
	font-size:9pt;
	border:1px  solid #BFDBFF;
}

.TxtBox{
	font-family: Geneva, Arial, sans-serif;
	font-size:9pt;
	border: 1px solid #BFDBFF;
	padding:2px;
	width: 160px;

}

.LblNorm{
	font-family: Geneva, Arial, sans-serif;
	font-size:9pt;
}

.LblBig{
	font-family: Geneva, Arial, sans-serif;
	font-size:9pt;
	font-weight:bold;

}

.Star{
	font-family: Arial, sans-serif;
	font-size:8pt;
	color:red;
}

.TxtArea{
	font-family: Geneva, Arial, sans-serif;
	font-size:9pt;
	width:200px;
	height:100px;
	border: 1px solid #BFDBFF;

}

.SubmitBtn{
	font-family:Arial, sans-serif;
	font-size:8pt;
	color:#333333;
	font-weight:bold;
	padding:1px;
}


/* Search Center */

.SearchResFor{
	background-color:#E6F5FF;
	font-family:Arial, sans-serif;
	font-size:9pt;
	color:#333333;
	padding: 5px;
	margin-bottom:10px;
}


.SearchResTitle a{
	font-family:Arial, sans-serif;
	font-size:9pt;
	color:#006633;
	font-weight:bold;
	text-decoration:none;
}

.SearchResDes{
	font-family:Arial, sans-serif;
	font-size:8pt;
	color:#333333;
}

.SearchResUrl a{
	font-family:Arial, sans-serif;
	font-size:8pt;
	color: blue;
	text-decoration:none;
}

.SearchBtn{
	font-family:Arial, sans-serif;
	font-size:9pt;
	color:#333333;
	font-weight:bold;
	padding:3px;
}

/* Compar Style */
.ComparTbl{
	border-collapse:collapse;
	margin-bottom:10px;
	border: 1px silver solid;
	font-family: Arial, sans-serif;
	font-size:9pt;
}

.ComparHdr{
	background-color: #E6F5FF;
	border-top: 3px #eeeeee solid;
	color:#333333;
	font-family: Geneva, Arial, sans-serif;
	font-size:9pt;
	font-weight:bold;
}

.ComparHdr a:link, .ComparHdr a{
	color:#006633;
	text-decoration:none;
}

.ComparHdr a:hover{
	color:#006633;
	text-decoration: underline;
}

.ComparDes{
	font-family:Arial, sans-serif;
	font-size:8pt;
	color: #333333;
	display:block;

}

/* Collapse Expand */

/* Default style for SPAN icons. Edit if desired */
.iconspan{
float: left;
margin: 2px 5px 2px 2px;
cursor:hand;
cursor:pointer;
font-weight: bold;
}

/*CSS used to style the examples. Remove if desired */
.eg-bar{
	/* show-hide header */
}

div.eg-bar{
	padding:0px 0px;
}

.icongroup{
	/* show-hide layer container */
}


/* End */

/* Table Style */

.TblNormSty{
	border-collapse:collapse;
	border: 1px silver solid;
	font-size:9pt;
	margin-top:10px;
	margin-bottom:5px;
}

.TblNormHdr{
	font-family: Geneva, Arial, sans-serif;
	font-size:10pt;
	font-weight:bold;
	background-color: #E6F5FF;
	color:#333333;
}


.TblSty1{
	border-collapse:collapse;
	border: 1px silver solid;
	margin-top:5px;
	margin-bottom:5px;
	font-size:9pt;
}

.TblSty1 td{
	border: 1px #cecece solid;
}


.TblSty1 th{
	font-family: Arial, sans-serif;
	font-size:9pt;
	font-weight:bold;
	background-color: #E6F5FF;
	color:#333333;
}

.TblSty1Hdr{
	font-family: Arial, sans-serif;
	font-size:10pt;
	font-weight:bold;
	background-color: #E6F5FF;
	color:#333333;
}

/* Web Editor Style */


.WEditor{
	margin-bottom: 10px;
}

.WEditor p{
	margin: 10px 0px;
}

.WEditor ul{
	list-style: disc;
	padding: 10px 5px 10px 30px;
	margin:0px;
}

.WEditor a:link{
	color:#006633;
}

.WEditor a{
	color:#006633;
}

.WEditor a:hover{
	text-decoration:underline;
}

.WEditor table{
	border-collapse:collapse;
	border: 1px silver solid;
	margin-top:5px;
	margin-bottom:5px;
	font-size:9pt;
}

.WEditor table td{
	border: 1px #cecece solid;
}


.WEditor table th{
	font-family: Arial, sans-serif;
	font-size:9pt;
	font-weight:bold;
	background-color: #E6F5FF;
	color:#333333;
}

/* Global Style */

a:hover{
	text-decoration:underline;
}

