﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="UserControls_Chat" Codebehind="Chat.ascx.cs" %>

<table cellpadding="4" cellspacing="1" title="you can chat with one of our Doctors to discuss your medical concerns
">
 <tr>
            <td align="left" class="boxcaptionDoc">
            <div class="investorBannerTitle" align="left">Doctor Chat</div>
            <div class="margBottom15" >
            <div style="font-size:small;vertical-align:top">Available 24/7</div>
        <a onclick="button.onClick();" href="javascript:;"><img src="../images/dr online chat.jpg"
            style="height: 123px; width: 108px; border:0" /></a>
    </div>
            </td>
                </tr>
               
</table>
<br />
