﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="UserControls_DashBoardTOB" Codebehind="DashBoardTOB.ascx.cs" %>
<div class="margBottom25 TOBContainer" title="View and print our member’s table of benefits
">
                    	<div class="TOBTitle">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td ><h2 class="dahsboardTitle">Check TOB </h2></td>
                            </tr>
                        </table>
                        </div>
                        <div><div class="mostReadDescp">
                           <asp:Literal id="CoverageListReport"  Visible=false runat=server />
                        <asp:Label ID="Message1" runat="server" Width="693px"></asp:Label>
                        </div>
                        <div class="orangeLinks" align="right"><a href="TOBSearch.aspx">read more</a></div></div>
                    </div>