﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="UserControls_HealthArt" Codebehind="HealthArt.ascx.cs" %>
<div class="careerBanner">
                    <div class="careerBannerTitle">Latest Health Articles</div>



                    <asp:DataList ID="DataList1" runat="server" Width="100%" 
                         RepeatColumns="3" 
                        RepeatDirection="Horizontal">
                <ItemTemplate>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td class="mostReadComp1"><div class="mostReadTitle">
                            <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl='<%# Bind("link") %>' CssClass="dahsboardTitle" Text="">
                            <asp:Label ID="lblTitle" runat="server" Text='<%# Bind("Title") %>'></asp:Label></asp:HyperLink></div>
                            <div class="mostReadDescp"><asp:Label ID="Label1" runat="server" Text='<%# Bind("description") %>'></asp:Label></div>
                            <div class="orangeLinks"><asp:HyperLink ID="HyperLink2" runat="server" NavigateUrl='<%# Bind("link") %>' CssClass="dahsboardTitle" Text="">read more</asp:HyperLink></div></td>
                            
                        </tr>
                    </table>
                </ItemTemplate>
                <SelectedItemStyle BackColor="#009999" Font-Bold="True" ForeColor="#CCFF99" />
            </asp:DataList>


                    
                    </div>

 
<asp:XmlDataSource ID="XmlDataSourceTips" runat="server"></asp:XmlDataSource>




