﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="UserControls_Hospital" Codebehind="Hospital.ascx.cs" %>
<table cellpadding="4" cellspacing="1" runat="server" id="HA" visible=false title="As a VIP member, allow our service agent to book your hospital appointment 
">
 <tr>
            <td align="left" class="boxcaptionDoc">
            <div class="investorBannerTitle" align="left">Hospital Appointment</div>
            <div class="margBottom15" >

            
        <a href="../communication/MyRequests.aspx"><img src="../images/Hospital appointment.jpg"
            style="height: 123px; width: 108px; border:0" /></a>
    </div>
            </td>
                </tr>
</table>
