﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="UserControls_Tips" Codebehind="Tips.ascx.cs" %>
 <div class="careerBanner">
                    <div class="careerBannerTitle">Tip of the Day</div>



                    <asp:DataList ID="DataList1" runat="server" Width="100%" 
                         RepeatColumns="1" 
                        RepeatDirection="Horizontal">
                <ItemTemplate>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td class="mostReadComp1"><div class="mostReadTitle">
                            
                            <h3><asp:Label ID="lblTitle" runat="server" Text='<%# Bind("Title") %>'></asp:Label></h3>
                            <div class="mostReadDescp"><asp:Label ID="Label1" runat="server" Text='<%# Bind("description") %>'></asp:Label></div>
                            </td>
                            
                        </tr>
                    </table>
                </ItemTemplate>
                <SelectedItemStyle BackColor="#009999" Font-Bold="True" ForeColor="#CCFF99" />
            </asp:DataList>


                    
                    </div>

 
<asp:XmlDataSource ID="XmlDataSourceTips" runat="server"></asp:XmlDataSource>







