﻿<%@ Page Language="C#" AutoEventWireup="true" Inherits="Provider_BatchStatment" Codebehind="BatchStatment.aspx.cs" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div id="divOuter" style="width: 100%">
            <div id="divInner" style="width: 50%; margin: 0 auto;">
                <asp:Label ID="lblMeesage" runat="server" Text="" ForeColor="Red"></asp:Label>
            </div>
        </div>
    </form>
</body>
</html>
