<%@ Page Language="C#" AutoEventWireup="true" Inherits="BioOut" Codebehind="BioOut.aspx.cs" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
<meta http-equiv="refresh" content="2">

<%--<meta http-equiv="refresh"  content="5" />--%>
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:TextBox CssClass="textbox" id="txt1" runat="server" Width="558px" Height="144px" TextMode="MultiLine"></asp:TextBox>

    
    </div>
    </form>
</body>
</html>
