<%@ Page Language="C#" AutoEventWireup="true" Inherits="BO1_" Codebehind="BO1_.aspx.cs" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
<meta http-equiv="refresh" content="4">

<%--<meta http-equiv="refresh"  content="5" />--%>
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <asp:Label ID="StatusMessage" runat="server" Text="Label" Visible="False"></asp:Label>
        <asp:TextBox CssClass="textbox" id="txt1" runat="server" Width="558px" Height="144px" TextMode="MultiLine" Visible="False"></asp:TextBox>
      <p style="text-align:center;">  
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <asp:Label ID="Label1" runat="server" Font-Names="Arial" Font-Size="X-Small" Text="Loading..."></asp:Label><br />
          
      </p>
      </div>
    </form>
</body>
</html>
