﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Templates/Inner.master" AutoEventWireup="true" Inherits="Provider_Default" Codebehind="Default.aspx.cs" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolderLeft" runat="server">
    <div class="sectionTitle">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td><h2>Preauthorisation </h2></td>
                <td align="right">&nbsp;</td>
            </tr>
        </table>
        </div>
 <div class="userLinks">
             <table cellpadding="4" cellspacing ="1" >
                <tr>
                    <td align="center "  class="boxcaption"><div runat="server" id="Option1" visible="false"><a href="Preauth15.aspx">
                        <img id="Img2" runat="server" style="height: 85px; width:70px" border="0" 
                            src="~/images/icons/provider/New request.jpg"  alt="My Details" 
                            title="My Details"/></a><br />
                        New Request </div></td>
                    <td align="center" class="boxcaption"><div runat="server" id="Option2" visible="false"><a href="ExistingRequestSearch.aspx"><img id="Img3" runat="server" border="0" style="height: 85px; width:70px" src="~/images/icons/provider/Existingrequest.jpg" alt="My Coverage" title="My Coverage"/></a><br />
                        Existing Request </div></td>
                    <td align="center" class="boxcaption"><div runat="server" id="Option3" visible="false"><a href="CheckNewReply.aspx"><img id="Img4" runat="server" border="0" style="height: 85px; width:70px" src="~/images/icons/provider/Checknewreply.jpg" alt="My Medication" title="My Medication"/></a><br />
                        Check New Reply  </div></td>
                   
                </tr>
                               
                </table></div>

                <div class="sectionTitle">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td><h2>Other Services </h2></td>
                <td align="right">&nbsp;</td>
            </tr>
        </table>
        </div>
 <div class="userLinks">
             <table cellpadding="4" cellspacing ="4" >
                  <tr>
                    <td align="center" class="boxcaption"><div runat="server" id="Option4" visible="false"><a href="TOBSearch.aspx"><img id="Img6" runat="server" border="0" style="height: 85px; width:70px" src="~/images/icons/common/RequiredDocument.jpg" alt="My Network" title="My Network"/></a><br />
                        Table of Benefits</div></td>
                    <td align="center" class="boxcaption"><div runat="server" id="Option5" visible="false"><a href="eclaims.aspx"><img id="Img11" runat="server" border="0" style="height: 85px; width:70px"
                            src="~/images/icons/common/eclaimssubmission.jpg"  alt="My Details" 
                            title="My Details"/></a><br />
                        E-Claim Submission</div></td>
                            <td align="center" class="boxcaption"><div runat="server" id="Option6" visible="false"><a href="MemberVerification1.aspx"><img id="Img12" runat="server" border="0" style="height: 85px; width:70px"
                            src="~/images/icons/provider/Verification.jpg" alt="My Coverage" 
                            title="My Coverage"/></a><br />
                                Verification </div></td>
                            

                </tr>
               
                </table></div>
</asp:Content>

<asp:Content ID="Content2" runat="server" 
    contentplaceholderid="ContentPlaceHolder1">
    <p>
        Bupa has one of the largest networks of providers with hospitals all over KSA 
        and the Middle East, region ready to provide quality medical care to our 
        members. Our online service features allow you to submit, view and print 
        pre-authorisation requests, search and
    </p>
</asp:Content>


