﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Templates/Inner.master" AutoEventWireup="true" Inherits="Provider_RegisterDoc" Codebehind="RegisterDoc.aspx.cs" %>

<%--<%@ Register src="../UserControls/DocReg.ascx" tagname="DocReg" tagprefix="uc1" %>
--%>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolderLeft" Runat="Server">
   <%-- <uc1:DocReg ID="DocReg1" runat="server" />--%>
</asp:Content>

