﻿html{
}

body{
	margin:0;
	background-color:#E6F5FF;
}

form{
	margin:0;
}


.ChatBodyTbl{
	margin-left:auto;
	margin-right:auto;
	width:100%;
	border-collapse:collapse;
	border-top: 5px white solid;
}

.ChatTbl{
	margin-left:auto;
	margin-right:auto;
}

.AdminBound{
	background-color:white;
	width:770px;
	margin-left:auto;
	margin-right:auto;
	border-left:1px #dddeee solid;
	border-right:1px #dddeee solid;
}

.ChatContent{
	height:250px;
	padding:15px 10px;
}

.ChatContentTbl{
	margin-left:auto;
	margin-right:auto;
}

.ChatFrmBg{
	background-color:#E6F5FF;
	padding:2px;
}


.PopFtr{
	background-color:#00adef;
}

.CopyR{
	font-family:Arial, sans-serif;
	font-size:9pt;
	color: #eeeeee;
	text-align:center;
	padding:3px;
}

.HdgBg{
	background-color: #00adef;
	border-top: 3px #e6f5ff solid;
	padding:4px;
}

.HdgTitle{
	font-family: Geneva, Arial, sans-serif;
	font-size:10pt;
	font-weight:bold;
	color:#ffffff;
}

.CntrAlign{
	text-align:center;
}


.PopHdr{
	background:#e6f5ff url('../../images/en-us/Bnr1Sml_180x80.jpg') no-repeat top right;
	height:80px;
}

.ChatBody{
	height:100%;
}

.ChatArea{
	font-family:Arial, sans-serif;
	font-size:9pt;
	color: #333333;
	background-color:white;
	overflow: scroll;
	overflow-x: auto;
	height:200px;
	padding:10px 15px;
	border-top: 4px #cccccc double;
	border-bottom: 4px #cccccc double;
}


.OprName{
	font-family:Arial, sans-serif;
	font-size:9pt;
	color: #ff0066;
	font-weight:bold;
	margin-right:5px;
}

.VisName{
	font-family:Arial, sans-serif;
	font-size:9pt;
	color: #00adef;
	font-weight:bold;
	margin-right:5px;

}

.RevAlign{
text-align:right;
}

a.PrintLnk{
	font-family:Arial, sans-serif;
	font-size:8pt;
	color: #006633;
	text-decoration:none;
}

.SysMsg{
	font-family:Arial, sans-serif;
	font-size:10pt;
	color: #ff0066;
	font-weight:bold;
}

/* Operator Only */

.OprPenal{
	width:98px;
	height:380px;
	background-color:#6a83db;
	float:left;
	border-right: 2px #cccccc solid;
	overflow:auto;
	overflow-y:auto;
	overflow-x:hidden;
}

.OprTab{
	background-color:#ece9d8;
	font-family:Arial, sans-serif;
	font-size:8pt;
	color: #ff0066;
	text-align:center;
	font-weight:bold;
	padding:2px;
	border:2px white solid;
	border-bottom:3px #eb921b solid;
	margin-bottom:2px;
}


.VisTab{
	background: #edf1fb url('../../images/en-us/TabBg.gif') repeat-x top;
	padding:5px;
	text-align:center;
	border-bottom: 1px #5261b2 solid;
}

.VisTab a{
	font-family:Arial, sans-serif;
	font-size:8pt;
	color: navy;
	text-align:center;
	text-decoration:none;
}


.VisTabSel{
	font-family:Arial, sans-serif;
	font-size:8pt;
	color: #00adef;
	font-weight:bold;
	background: #ecfee7 url('../../images/en-us/TabSelBg.gif') repeat-x top;
	padding:4px;
	text-align:center;
	border: 1px #eb921b dashed;
}


.VisTabNo{
	background-color:#eeeeee;
	font-family: "Times New Roman", Times, serif;
	font-size:9pt;
	font-style:italic;
	color: gray;
	padding:5px;
	text-align:center;
	border-bottom: 1px #5261b2 solid;
}

a.ActionLnk{
	font-family:Arial, sans-serif;
	font-size:8pt;
	color: #006633;
	text-decoration:none;
}

a.CloseChat{
 display:block;
 background-color: #ffffe1;
 border:1px white solid;
 margin-bottom:1px;
 width:20px;
 display:block;
 border:1px #cccccc solid;
}

a:hover.CloseChat{
 background-color: #FF8000 ;

}
a.AcceptCall{
	background: transparent url('../../images/en-us/AccecptBg.gif') no-repeat top;
	width:60px;
	height:20px;
	padding-left: 15px;
	padding-top:3px;
	font-family:Arial, sans-serif;
	font-size:8pt;
	color: #006633;
	font-weight:normal !important;
	text-decoration:none;
	display:block;
}

a:hover.AcceptCall{
	color: #FF8000 !important;
	font-weight:normal !important;
	text-decoration:none;
}

.MData{
	font-family:Arial, sans-serif;
	font-size:8pt;
	color:gray;
	white-space:nowrap;
}


.ChatListing{
	font-family: Arial, sans-serif;
	font-size:8pt;
	color:#333333;
}

.ChatListing a{
	font-family: Arial, sans-serif;
	font-size:9pt;
	font-weight:bold;
	color:#006633;
	text-decoration:none;
	margin:0px 3px;

}

.ChatGrd{
	font-family: Arial, sans-serif;
	font-size:8pt;
	color:#333333;
}

.ChatGrd a{
	font-family: Arial, sans-serif;
	font-size:9pt;
	font-weight:bold;
	color:#006633;
	text-decoration:none;
	margin:0px 3px;

}


.ChatGrdHdr{
	font-family: Arial, sans-serif;
	font-size:9pt;
	font-weight:bold;
	background-color: #E6F5FF;
	color:#333333;
}


.FilterTbl{
	margin-left:auto;
	margin-right:auto;
}

/* Form Elements */
.LblNorm{
	font-family: Geneva, Arial, sans-serif;
	font-size:9pt;
}

.ColoredBgSty1{
	background-color:#ffffe1;
}


.MData{
	font-family:Arial, sans-serif;
	font-size:8pt;
	color:gray;
	white-space:nowrap;
}


.TxtBox{
	font-family: Geneva, Arial, sans-serif;
	font-size:9pt;
	border: 1px solid #BFDBFF;
	padding:2px;
	width: 160px;

}

.SelectBox{
	font-family: Geneva, Arial, sans-serif;
	font-size:9pt;
	border:1px  solid #BFDBFF;
}

.Star{
	font-family: Arial, sans-serif;
	font-size:8pt;
	color:red;
}

.ChatBtn{
	background: #00adef url('../../images/en-us/BtnBgSml.gif') no-repeat;
	font-family: Geneva, Arial, sans-serif;
	font-size:9pt;
	font-weight:bold;
	margin-top:5px;
	height:30px;
	width:50px;
	border:0px;
	color:white;
}

.ChatInputBox{
	font-family: Geneva, Arial, sans-serif;
	font-size:9pt;
	border:1px white solid;
	background-color:white;
	width:380px;
	height:20px;
	margin-top:2px;
	color:#333333;
}

.ChatInputBg{
	background: transparent url('../../images/en-us/ChatInputBg.gif') no-repeat left;
	height:30px;
	width:400px;
	text-align:center;
	margin:5px;
	float:left;
	clear:none;
}


/* Tabs Menu  */

.TabMenu{
	font-family: Tahoma, Arial, sans-serif;
	float: left;
	width: 100%;
	background: #ffffff;
	font-size: 9pt;
	line-height: normal;
	border-bottom: 1px solid #BCD2E6;

}
.TabMenu ul{
	margin: 0;
	padding: 10px 10px 0 20px;
	list-style: none;
}
.TabMenu li{
	display: inline;
	margin: 0;
	padding: 0;
}
.TabMenu a{
	float: left;
	background: url('../../images/en-us/MenuTabLeft.gif') no-repeat left top;
	margin: 0;
	padding: 0 0 0 4px;
	text-decoration: none !important;
}
.TabMenu a span {
	float: left;
	display: block;
	background: url('../../images/en-us/MenuTabRight.gif') no-repeat right top;
	padding: 5px 15px 4px 6px;
	color: #627EB7;
}
/* Fix IE5-Mac \*/
.TabMenu a span {
	float: none;
}
/* End Fix IE5-Mac */

.TabMenu a:hover span {
	color: #627EB7;
}
.TabMenu a:hover {
	background-position: 0% -42px;
}
.TabMenu a:hover span {
	background-position: 100% -42px;
}
.TabMenu .Current a {
	background-position: 0% -42px;
	font-weight:bold;	
}
.TabMenu .Current a span {
	background-position: 100% -42px;
}




/* Keep this at the end of document */
a:hover{
	text-decoration:underline;
}



