﻿body{
	padding:10px;
	background-color:white;

}

.PChatWidth{
	width: 95%;
	padding:5px;
	font-family:Arial, sans-serif;
	font-size: .8em;
	color: #333333;

}

.PChatLogo{
	margin-bottom:10px;
}

.ChatArea{
}


.OprName{
	font-family:Arial, sans-serif;
	font-size: .9em;
	color:  #999999;
	font-weight:bold;
	margin-right:5px;

}

.VisName{
	font-family:Arial, sans-serif;
	font-size: .9em;
	color: #808080;
	font-weight:bold;
	margin-right:5px;

}

.PChatFtr{
	font-family:Arial, sans-serif;
	font-size: .75em;
	color: gray;
}

