<%@ Page Language="C#" AutoEventWireup="true" Inherits="SwipeCard_BioOut" Codebehind="BioOut.aspx.cs" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">



<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:LinkButton ID="LinkButton1" PostBackUrl="~/Provider/swipecard/BioOut.aspx?Data=ssfsfsgsdgdfjdfhsagsdfggsdfgsdfgsdg" runat="server" >LinkButton</asp:LinkButton>
    </div>
    </form>
</body>
</html>
