@font-face {
    font-family: 'Gotham-Medium';
    src: url('fonts/gothammedium.eot');
    src: url('fonts/gothammedium.eot?#iefix') format('embedded-opentype'), url('fonts/gothammedium.woff') format('woff'), url('fonts/gothammedium.ttf') format('truetype'), url('fonts/gothammedium.svg#gothammedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Light';
    src: url('fonts/gothamlight.eot');
    src: url('fonts/gothamlight.eot?#iefix') format('embedded-opentype'), url('fonts/gothamlight.woff') format('woff'), url('fonts/gothamlight.ttf') format('truetype'), url('fonts/gothamlight.svg#gothamlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('fonts/gothambold.eot');
    src: url('fonts/gothambold.eot?#iefix') format('embedded-opentype'), url('fonts/gothambold.woff') format('woff'), url('fonts/gothambold.ttf') format('truetype'), url('fonts/gothambold.svg#gothambold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/************************************* Reset Styles ********************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, div {
    vertical-align: top;
}

* {
    outline: none;
}

li, ol {
    list-style-type: none;
    list-style-image: none;
    list-style: none;
}

img {
    border: 0px;
    max-width: 100%;
}

textarea {
    resize: none;
}

    input:focus, select:focus, textarea:focus, button:focus {
        outline: none;
    }

body {
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #10375e;
}

*, *:after, *:before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    min-height: 100%;
}
/************************************* Website Styles ********************************/






/************************************* Common Styles ********************************/
.fullWidth {
    width: 100%;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.posRelative {
    position: relative;
}

.absolutePos {
    position: absolute;
}

.textDecorationNone {
    text-decoration: none;
}

.textDecorationUnderline {
    text-decoration: underline;
}

.fontWeightBold {
    font-weight: bold;
}

.clearBoth {
    clear: both;
}

a, .servicesList span {
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
    color: #0079c7;
    text-decoration: none;
}

.icon, .bigIcon, .dashboardBlocs .coloredBloc .blockTitle, .dashboardBlocs .iconName {
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}

.highlighted {
    color: #0079c7;
}

.highlightedRed {
    color: #e9180e;
}

.backToBupa {
    font-family: 'Gotham-Medium', sans-serif;
    position: relative;
}

.header {
    padding: 25px 0 0 0;
}

.safeArea {
    position:relative;
    max-width: 980px;
    margin: 0 auto;
}

.backToBupa {
    padding: 12px 22px;
    color: #fff;
    background: #0079c7;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    font-size: 15px;
    margin-left: 25px;
}

    .backToBupa span {
        display: block;
        padding-left: 15px;
        text-decoration: underline;
        position: relative;
    }

        .backToBupa span:after {
            display: block;
            content: '';
            position: absolute;
            width: 8px;
            height: 13px;
            left: 0;
            top: 50%;
            margin-top: -6.5px;
            background: url(../images/sprite.png) 0 0 no-repeat;
        }

    .backToBupa:hover {
        background: #0f375e;
    }

.hpBlocs, .dashboardBlocs {
    padding-top: 70px;
}

.innerSafe {
    width: 665px;
    margin: 0 auto;
}

.hpBlocs .blocElem {
    width: 33.3333%;
    float: left;
    position: relative;
}

.dashboardBlocs .blocElem {
    width: 25%;
    float: left;
    position: relative;
}

.blocElemInner {
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    display: block;
}

.blueBloc {
    background: #0079c7;
}

.orangeBloc {
    background: #ef8900;
}

.purpleBloc {
    background: #10375e;
}

.fuschiaBloc {
    background: #942151;
}

.mauveBloc {
    background: #6a2ca1;
}

.greenBloc {
    background: #008385;
}

.whiteBloc{
    background: #fff;
}

.darkGreenBloc {
    background: #007a3d;
}

.whiteBloc {
    background: #fff;
}

.absText {
    display: block;
    position: absolute;
    bottom: 30px;
    left: 14px;
    right: 14px;
}

.blockTitle {
    color: #fff;
    font-family: 'Gotham-Medium', sans-serif;
    font-size: 23px;
    /*text-transform: uppercase;*/
    font-weight: normal;
    margin-bottom: 10px;
    display: block;
}

.bupaLogo {
    display: block;
    position: absolute;
    width: 203px;
    height: 63px;
    background: url(../images/sprite.png) 0 -30px no-repeat;
    left: 50%;
    margin-left: -101.5px;
    top: 10px;
}

.normalDesc {
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    padding-bottom: 10px;
}

.normalDescBlue {
    color: #10375e;
    font-size: 12px;
    line-height: 16px;
    padding-bottom: 10px;
}

.hiddenSection a {
    color: #fff;
    text-decoration: underline;
    font-size: 12px;
}


a.whiteBack{
    color:#fff !important;
    background:#10375e !important;
}
a.whiteBack:hover{
    color:#10375e !important;
    background:#0079c7 !important;
}

a.blockedLink {
    background: #fff;
    display: inline-block;
    width: 155px;
    padding: 15px 0;
    text-align: center;
    /*text-transform: uppercase;*/
    font-family: 'Gotham-Medium', sans-serif;
    font-size: 16px;
    text-decoration: none;
    vertical-align: middle;
}

    a.blockedLink.bigBtn {
        width: 234px;
    }

.hiddenSection a.blockedLink {
    display: block;
    margin-bottom: 10px;
}

.blueBloc .blockedLink {
    color: #0079c7;
}

.orangeBloc .blockedLink {
    color: #ef8900;
}

.purpleBloc .blockedLink {
    color: #10375e;
}

.fuschiaBloc .blockedLink {
    color: #942151;
}

.mauveBloc .blockedLink {
    color: #6a2ca1;
}

.greenBloc .blockedLink {
    color: #008385;
}

.darkGreenBloc .blockedLink {
    color: #007a3d;
}

a.normalBtn, a.normaBluelBtn:hover {
    background: #0f375e;
    color: #fff;
}

a.blockedLink:hover, a.normaBluelBtn {
    background: #0079c7;
}

    a.normaBluelBtn:hover {
        background: #6988a8;
    }

a.normaBluelBtn {
    color: #fff;
    margin-left: 15px;
}

.newUserBlock {
    position: absolute;
    width: 200%;
    height: 200%;
    background: #efefef;
    color: #717376;
    font-size: 15px;
    padding: 30px 15px;
    top: 0;
    left: 0;
    z-index: 1;
}

    .newUserBlock p {
        margin: 15px 0;
    }

    .newUserBlock ul {
        font-size: 12px;
        margin-bottom: 30px;
    }

ul.normalBullet li {
    padding-left: 15px;
    background: url(../images/blue-bullet.png) 0 4px no-repeat;
    margin-bottom: 10px;
}

.closeClick {
    color: #10375e;
    font-size: 15px;
    position: absolute;
    display: block;
    right: 0;
    bottom: -5px;
    height: 18px;
    padding-right: 20px;
    background: url(../images/sprite.png) right -92px no-repeat;
}

    .closeClick:hover {
        background: url(../images/sprite.png) right -110px no-repeat;
        color: #717376;
    }

.toggleBlock, .hiddenSection {
    display: none;
}

.mainLogo {
    display: block;
    float: left;
    width: 145px;
    height: 144px;
    background: url(../images/BALogo.jpg);
    margin-right: 35px;
}

.bodyContent {
    background: #10375e;
    color: #fff;
    padding: 30px;
}

.pageTitle {
    /*text-transform: uppercase;*/
    font-weight: normal;
    font-size: 23px;
    font-family: 'Gotham-Light';
}

.radiosHolder {
    float: right;
}

.noFloat {
    float: none;
}

.radiosHolder label {
    display: inline-block;
    margin-left: 40px;
    font-size: 16px;
}

.radiosHolder.noFloat {
    margin-bottom: 20px;
}

    .radiosHolder.noFloat label {
        margin-left: 0;
        margin-right: 40px;
        padding-left: 5px;
    }

.radiosHolder label input[type=radio] {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.radiosHolder label:first-child {
    margin-left: 0;
}

.pageHeader {
    margin-bottom: 30px;
}

.inputEntity {
    margin-bottom: 15px;
}

.mainInput {
    margin-bottom: 25px;
}

.inputEntity label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

.mainInput label {
    float: left;
    width: 30%;
    padding-top: 7px;
}

.inputEntity input[type=text], .inputEntity input[type=file], .inputEntity input[type=password], .inputEntity select, .inputEntity textarea, .inputEntity .dk-select {
    width: 100%;
    border: 0 none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 16px;
    color: #717376;
    padding: 7px;
    line-height: 20px;
    background: #fff;
}

.inputEntity input[type=file] {
    height: 34px;
    padding: 0;
}

.inputEntity .dk-select {
    background: #6988a8;
}

.mainInput input[type=text], .mainInput input[type=file], .mainInput input[type=password], .mainInput select, .mainInput textarea, .mainInput .dk-select {
    width: 70%;
    float: right;
}

.halfBloc {
    width: 45%;
    float: left;
    margin-right: 10%;
}

    .halfBloc.floatRight {
        float: right;
    }

    .halfBloc:nth-child(2n) {
        margin-right: 0;
    }

.smallInfo {
    font-size: 11px;
}

.mediumInfo {
    padding-top: 10px;
    font-size: 12px;
    color: #8fc7ec;
}

.normalLink {
    font-size: 12px;
    text-decoration: underline;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
}

.tableDisplay {
    display: table;
    height: 100%;
    width: 100%;
}

.tableCell {
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}

.fullAbs {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.iconName {
    display: block;
    width: 111px;
    height: 78px;
    margin: 30px auto;
    background: url(../images/dashboard-sprite.png) left 0 no-repeat;
}

.detailsIcon {
    background-position: left 0;
}

.coverageIcon {
    background-position: -111px 0;
}

.networkIcon {
    background-position: -222px 0;
}

.preApproval {
    background-position: -333px 0;
}

.claimHistoryIcon {
    background-position: -444px 0;
}

.certificateIcon {
    background-position: -555px 0;
}

.dashboardBlocs .blocElemInner:hover .detailsIcon {
    background-position: left -78px;
}

.dashboardBlocs .blocElemInner:hover .coverageIcon {
    background-position: -111px -78px;
}

.dashboardBlocs .blocElemInner:hover .networkIcon {
    background-position: -222px -78px;
}

.dashboardBlocs .blocElemInner:hover .preApproval {
    background-position: -333px -78px;
}

.dashboardBlocs .blocElemInner:hover .claimHistoryIcon {
    background-position: -444px -78px;
}

.dashboardBlocs .blocElemInner:hover .certificateIcon {
    background-position: -555px -78px;
}

.topLinks {
    text-align: right;
    margin-bottom: 15px;
}

    .topLinks a, .topLinks span, .mainMenu > ul, .mainMenu a.logout {
        display: inline-block;
        vertical-align: middle;
    }

    .topLinks a, .topLinks span {
        color: #fff;
    }

        .topLinks a.normalLink:hover {
            color: #0079c7;
        }

.rightAlign, .mainMenu {
    text-align: right;
}

.mainMenu {
    margin-bottom: 20px;
}

    .mainMenu ul a {
        font-family: 'Gotham-Medium';
        display: block;
        font-size: 18px;
        color: #fff;
        /*text-transform: uppercase;*/
        padding: 5px 25px;
    }

    .mainMenu li {
        display: inline-block;
        position: relative;
    }

.logout {
    padding: 5px 0 5px 55px;
    color: #fff;
    position: relative;
}

    .logout:after {
        display: block;
        content: '';
        position: absolute;
        width: 47px;
        height: 29px;
        background: url(../images/sprite.png) left -260px no-repeat;
        top: 50%;
        left: 0;
        margin-top: -14.5px;
    }

.smallDesc {
    font-size: 14px;
    text-align: right;
    color: #fff;
}

.status {
    color: #3ca1e3;
}

.smallDesc strong {
    font-family: 'Gotham-Medium';
    font-size: 16px;
    font-weight: normal;
}

.height60 {
    padding-bottom: 120%;
}

.height40 {
    padding-bottom: 80%;
}

.wealthTips {
    background: url(../images/wealth-tips-bg.jpg) 0 0 repeat;
}

.innerPadding {
    padding: 20px;
}

.tipsIcon {
    padding: 3px 0 3px 45px;
    text-transform: uppercase;
    background: url(../images/sprite.png) left -340px no-repeat;
}

.quotesMain {
    text-align: center;
    color: #fff;
    position: relative;
    font-size: 16px;
    padding: 5px 15px 10px 32px;
    background: url(../images/sprite.png) left -400px no-repeat;
    margin-top: 30px;
    line-height: 23px;
}

.quotesEnd {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 26px;
    height: 21px;
    background: url(../images/sprite.png) left -540px no-repeat;
    display: block;
}

.dashboardBlocs .blockTitle {
    text-transform: none;
    font-size: 20px;
}

.tipsIcon, .servicesIcon {
    padding: 3px 0 3px 45px;
}

.servicesIcon {
    padding: 3px 0 3px 37px;
}

.whiteBloc h2 {
    color: #10375e;
}

.servicesList {
    padding-top: 2px;
}

    .servicesList a {
        display: block;
        padding: 4px 0 4px 32px;
        color: #0079c7;
        font-size: 16px;
        font-family: 'Gotham-Medium';
        position: relative;
        margin: 2px 0;
    }

        .servicesList a:hover {
            color: #10375e;
        }

.icon {
    display: block;
    width: 27px;
    height: 30px;
    left: 0;
    top: 50%;
    margin-top: -15px;
    background: url(../images/sprite.png) left 0 no-repeat;
    position: absolute;
}

.servicesList span.doctorPhone {
    background-position: left -653px;
}

.servicesList a:hover span.doctorPhone {
    background-position: -27px -653px;
}

.servicesList span.doctorChat {
    background-position: left -683px;
}

.servicesList a:hover span.doctorChat {
    background-position: -27px -683px;
}

.servicesList span.maternityCare {
    background-position: left -713px;
}

.servicesList a:hover span.maternityCare {
    background-position: -27px -713px;
}

.servicesList span.babyVaccin {
    background-position: left -743px;
}

.servicesList a:hover span.babyVaccin {
    background-position: -27px -743px;
}

.inboxIcon {
}

body {
    position: relative;
}

.subpagesHeader .topLinks a.normalLink, .subpagesHeader .topLinks span, .subpagesHeader .logout, .subpagesHeader .mainMenu ul a:hover, .pageTitle, .titleHolder .mainInput, .sectionTitle, .editMode:hover, .pages a:hover, .backLink:hover, .mailMenu a, .mailTools a, .smallRadios label, a.blueLink, .listWithIcons a:hover {
    color: #10375e;
}

.subpagesHeader .topLinks .backToBupa span, .bodyContent .pageTitle {
    color: #fff;
}

.subpagesHeader .mainMenu ul a, .subpagesHeader .topLinks a.normalLink:hover, .backLink, .mailMenu a:hover, .mailTools a:hover, .mailBrief:hover .mailSubject, .simpleList a:hover, a.blueLink:hover, .mailBrief:hover .mailFrom {
    color: #0079c7;
}

.subpagesHeader .logout:after {
    background-position: 0 -295px;
}

.pageTitle {
    font-weight: normal;
    font-family: 'Gotham-Light';
    font-size: 33px;
}

.titleHolder .mainInput {
    float: right;
    width: 40%;
}

    .titleHolder .mainInput label {
        width: 40%;
    }

    .titleHolder .mainInput input[type="text"], .titleHolder .mainInput input[type="file"], .titleHolder .mainInput input[type="password"], .titleHolder .mainInput select, .titleHolder .mainInput textarea, .titleHolder .mainInput .dk-select {
        width: 60%;
    }

.normalContentPad {
    padding: 40px 0;
}

.blockSpace {
    margin-bottom: 40px;
    clear: both;
}

    .blockSpace:last-child {
        margin-bottom: 0;
    }

.sectionTitle {
    font-weight: normal;
    font-family: 'Gotham-Light';
    font-size: 24px;
    margin-bottom: 15px;
}

.borderedBlock {
    padding: 15px 35px;
    border: 1px solid #c2c2c2;
}

.threeBlocs .bloc, .threeBlocs li {
    width: 32%;
    margin-right: 2%;
    float: left;
}

    .threeBlocs .bloc:nth-child(3n), .threeBlocs li:nth-child(3n) {
        margin-right: 0;
    }

    .threeBlocs .bloc:nth-child(3n+1), .threeBlocs li:nth-child(3n+1) {
        clear: both;
    }

.infoList li {
    margin-bottom: 15px;
    color: #7b7b7b;
    font-size: 16px;
}

    .infoList li label {
        color: #1f1f1f;
        display: block;
    }

    .infoList li:last-child {
        margin-bottom: 0;
    }

.editMode {
    display: none;
    float: right;
    color: #0079c7;
    font-size: 12px;
    text-decoration: underline;
}

.infoList li:hover .editMode {
    display: block;
}

.mapMain {
    padding: 20px 80px 20px 40px;
    border-right: 1px solid #56728d;
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
}

.vMiddle {
    display: inline-block;
    vertical-align: middle;
}

.mapMain img {
    display: block;
}

.tableStyling table {
    border-collapse: collapse;
}

.tableStyling td, .tableStyling th {
    border: 1px solid #c2c2c2;
    font-size: 14px;
    text-align: left;
    padding: 10px;
    color: #7b7b7b;
}

.tableStyling th {
    vertical-align: middle;
    color: #fff;
    background: #10375e;
}

.tableStyling tr:nth-child(2n+1) td {
    background: #f7f7f7;
}

.locationMap {
    display: inline-block;
    width: 22px;
    height: 29px;
    background: url(../images/sprite.png) left -951px no-repeat;
}

.tableStyling td.centered {
    text-align: center;
}

.paging {
    background: #dfdfdf;
    padding: 10px;
    color: #222222;
}

.pages {
    float: right;
}

    .pages a {
        display: inline-block;
        color: #7a7a7a;
        padding: 0 3px;
        vertical-align: middle;
    }

        .pages a.prev, .pages a.next {
            padding: 0;
            width: 6px;
            height: 12px;
            text-indent: -9999px;
        }

        .pages a:hover, .pages a.selected {
            color: #0079c7;
        }

        .pages a.prev {
            margin-right: 5px;
            background: url(../images/sprite.png) -6px -825px no-repeat;
        }

            .pages a.prev:hover {
                background: url(../images/sprite.png) -6px -837px no-repeat;
            }

        .pages a.next {
            margin-left: 5px;
            background: url(../images/sprite.png) left -825px no-repeat;
        }

            .pages a.next:hover {
                background: url(../images/sprite.png) left -837px no-repeat;
            }

.backLink {
    text-decoration: underline;
    font-size: 12px;
    float: right;
}

.bigText {
    font-size: 16px;
    margin-bottom: 15px;
    color: #7b7b7b;
}

.tableMain {
    margin-bottom: 20px;
}

.inputEntity input[type=text].purpleBordered, .inputEntity input[type=file].purpleBordered, .inputEntity input[type=password].purpleBordered, .inputEntity select.purpleBordered, .inputEntity textarea.purpleBordered, .inputEntity .dk-select.purpleBordered {
    border: 1px solid #7d92a7;
    color: #7d92a7;
}

.leftMenu {
    float: left;
    width: 19%;
    margin-right: 6%;
}

.rightContent {
    width: 75%;
    float: left;
}

.mailMenu a {
    position: relative;
}

.icon {
    background: url(../images/sprite.png) left 0 no-repeat;
}

.inboxIcon {
    background-position: -54px -653px;
}

a:hover .inboxIcon {
    background-position: -81px -653px;
}

.tobIcon {
    background-position: -54px -683px;
}

a:hover .tobIcon {
    background-position: -81px -683px;
}

.sentIcon {
    background-position: -54px -713px;
}

a:hover .sentIcon {
    background-position: -81px -713px;
}

.deletedIcon {
    background-position: -54px -743px;
}

a:hover .deletedIcon {
    background-position: -81px -743px;
}

.mailMenu a {
    display: block;
    padding: 7px 0 7px 30px;
    border-bottom: 1px solid #c3c9cf;
}

.checkboxLabel input[type=checkbox] {
    margin: 0 10px 0 20px;
}

.mailTools {
    margin-bottom: 15px;
}

.mailTools {
    font-size: 16px;
}

.rightMailLink {
    margin-left: 20px;
}

.mailTools a {
}

.withIcon {
    position: relative;
    padding-left: 27px;
}

.newMailIcon {
    background-position: -108px -653px;
}

a:hover .newMailIcon {
    background-position: -135px -653px;
}

.checkBoxMain {
    float: left;
    margin-right: 17px;
    width: 20px;
    padding-top: 5px;
}

.inboxMails li {
    border: 1px solid #c7c7c7;
    border-top: 0 none;
    padding: 15px 20px;
    font-size: 16px;
    position: relative;
}

    .inboxMails li:first-child {
        border-top: 1px solid #c7c7c7;
    }

.mailBrief {
    margin-left: 20px;
    padding: 0 50px 0 34px;
    display: block;
}

.mailFrom {
    font-size: 18px;
    color: #1f1f1f;
    font-weight: bold;
    margin-bottom: 5px;
}

.mailSubject {
    margin-bottom: 5px;
    font-size: 16px;
}

.mailDate {
    float: right;
    font-size: 14px;
    color: #7b7b7b;
}

.mailSubject a, .mailSubject {
    color: #1f1f1f;
}

.mailBrief .icon {
    left: inherit;
    right: 0;
    background-position: -108px -683px;
}

.mailBrief .bigText {
    margin-bottom: 0;
}

.mailDetail {
    margin: 0;
    padding: 0;
}

    .mailDetail .mailFrom, .mailDetail .mailSubject {
        margin-bottom: 10px;
    }

.width60 {
    width: 60%;
}

.mailActions {
    text-align: right;
}

    .mailActions .blockedLink {
        margin-left: 10px;
    }

.filterMain {
    float: right;
    margin-bottom: 40px;
}

    .filterMain label, .filterMain .inputEntity {
        display: inline-block;
        font-size: 16px;
        margin-left: 30px;
        width: auto;
        vertical-align: middle;
        margin-bottom: 0;
    }

    .filterMain .inputEntity {
        width: 250px;
    }

.quotesFourCols li {
    margin-right: 25px;
}

.blockQuote {
    padding: 12px 20px 12px 40px;
    color: #10375e;
    font-size: 18px;
    margin-bottom: 30px;
    border: 2px solid #e2e6ec;
}

    .blockQuote:last-child {
        margin-bottom: 0;
    }

.simpleList {
    padding-top: 15px;
}

    .simpleList li {
        margin: 0 0 20px 0;
    }

    .simpleList a {
        color: #10375e;
        text-decoration: underline;
    }

        .simpleList a.withIcon {
            padding-left: 33px;
        }

.newIcon {
    width: 30px;
    background-position: -108px -743px;
}

.smallRadios {
    color: #7b7b7b;
    padding-top: 5px;
    margin-bottom: 30px;
}

    .smallRadios .vMiddle {
        margin-right: 35px;
    }

    .smallRadios input[type=radio] {
        margin: 0;
        margin-right: 10px;
        display: inline-block;
        vertical-align: middle;
        padding: 0;
    }

    .smallRadios label {
    }

.greyText {
    margin-bottom: 10px;
}

    .greyText, .greyText .inputEntity label {
        font-size: 14px;
        color: #7b7b7b;
    }

a.blueLink {
    text-decoration: underline;
}

.bigIcon {
    display: block;
    width: 100px;
    height: 90px;
    background: url(../images/big-icons.png) left 0 no-repeat;
    margin: 0 auto 15px auto;
}

.listWithIcons li {
    width: 15%;
    margin-right: 2%;
    float: left;
}

.listWithIcons a {
    color: #0079c7;
    font-size: 18px;
    font-family: 'Gotham-Medium';
    text-align: center;
    display: block;
    margin-bottom: 25px;
}

.listWithIcons li:nth-child(6n) {
    margin-right: 0;
}

.listWithIcons li:nth-child(6n+1) {
    clear: both;
}

.newRequest {
    background-position: 0 0;
}

.exRequest {
    background-position: -100px 0;
}

.tob {
    background-position: -200px 0;
}

.eClaim {
    background-position: -300px 0;
}

.verification {
    background-position: -400px 0;
}

.notifNewServCod {
    background-position: -500px 0;
}

.addEmployee {
    background-position: -600px 0;
}

.addDependent {
    background-position: -700px 0;
}

.changeClass {
    background-position: -800px 0;
}

.submitRSD {
    background-position: -900px 0;
}

.changeBranch {
    background-position: left -180px;
}

.replaceCard {
    background-position: -100px -180px;
}

.deleteEmployee {
    background-position: -200px -180px;
}

.deleteDependent {
    background-position: -300px -180px;
}

.submitReimbursement {
    background-position: -400px -180px;
}

.myDetails {
    background-position: -500px -180px;
}

.myCoverage {
    background-position: -600px -180px;
}

.myNetwork {
    background-position: -700px -180px;
}

.trackInfo {
    background-position: -800px -180px;
}

.accountStatements {
    background-position: -900px -180px;
}

.certificate {
    background-position: left -360px;
}

.invoice {
    background-position: -100px -360px;
}

.claimHistory {
    background-position: -200px -360px;
}

.preauthHistory {
    background-position: -300px -360px;
}

a:hover .newRequest {
    background-position: left -90px;
}

a:hover .exRequest {
    background-position: -100px -90px;
}

a:hover .tob {
    background-position: -200px -90px;
}

a:hover .eClaim {
    background-position: -300px -90px;
}

a:hover .verification {
    background-position: -400px -90px;
}

a:hover .notifNewServCod {
    background-position: -500px -90px;
}

a:hover .addEmployee {
    background-position: -600px -90px;
}

a:hover .addDependent {
    background-position: -700px -90px;
}

a:hover .changeClass {
    background-position: -800px -90px;
}

a:hover .submitRSD {
    background-position: -900px -90px;
}

a:hover .changeBranch {
    background-position: left -270px;
}

a:hover .replaceCard {
    background-position: -100px -270px;
}

a:hover .deleteEmployee {
    background-position: -200px -270px;
}

a:hover .deleteDependent {
    background-position: -300px -270px;
}

a:hover .submitReimbursement {
    background-position: -400px -270px;
}

a:hover .myDetails {
    background-position: -500px -270px;
}

a:hover .myCoverage {
    background-position: -600px -270px;
}

a:hover .myNetwork {
    background-position: -700px -270px;
}

a:hover .trackInfo {
    background-position: -800px -270px;
}

a:hover .accountStatements {
    background-position: -900px -270px;
}

a:hover .certificate {
    background-position: left -450px;
}

a:hover .invoice {
    background-position: -100px -450px;
}

a:hover .claimHistory {
    background-position: -200px -450px;
}

a:hover .preauthHistory {
    background-position: -300px -450px;
}

.leftMenuBig {
    background: #10375e;
    position: absolute;
    width: 115px;
    left: 0;
    top: 0;
    bottom: 0;
    padding-top: 80px;
}

    .leftMenuBig .iconName {
        margin: 10px auto;
    }

    .leftMenuBig .blockTitle {
        font-size: 14px;
        text-transform: none;
    }

    .leftMenuBig .iconName {
        background-image: url(../images/left-menu-sprite.png);
        width: 61px;
        height: 43.5px;
    }

    .leftMenuBig .detailsIcon {
        background-position: 0 0;
    }

    .leftMenuBig .coverageIcon {
        background-position: -63px 0;
    }

    .leftMenuBig .networkIcon {
        background-position: -125px 0;
    }

    .leftMenuBig .preApproval {
        background-position: -187px 0;
    }

    .leftMenuBig .claimHistoryIcon {
        background-position: -249px 0;
    }

    .leftMenuBig .certificateIcon {
        background-position: -311px 0;
    }

    .leftMenuBig a:hover .detailsIcon {
        background-position: 0 -43px;
    }

    .leftMenuBig a:hover .coverageIcon {
        background-position: -63px -43px;
    }

    .leftMenuBig a:hover .networkIcon {
        background-position: -125px -43px;
    }

    .leftMenuBig a:hover .preApproval {
        background-position: -187px -43px;
    }

    .leftMenuBig a:hover .claimHistoryIcon {
        background-position: -249px -43px;
    }

    .leftMenuBig a:hover .certificateIcon {
        background-position: -311px -43px;
    }

    .leftMenuBig .blocElemInner:hover {
        background-color: #fff;
    }

        .leftMenuBig .blocElemInner:hover .blockTitle {
            color: #0079c7;
        }

.mailBrief:hover .icon {
    right: -15px;
}

.dashboardBlocs .coloredBloc:hover {
    background: #fff;
}

    .dashboardBlocs .coloredBloc:hover .blockTitle {
        color: #0079c7;
    }

.hpBlocs .blocElemInner:hover {
    opacity: 0.85;
}





.tipsIcon, .servicesIcon, .quotesMain, .blockQuote, .mailBrief {
    position: relative;
}

    .tipsIcon:after, .servicesIcon:after, .quotesMain:after, .blockQuote:after, .unread .mailBrief:after {
        display: block;
        position: absolute;
        content: '';
    }

    .tipsIcon:after, .servicesIcon:after {
        background: url(../images/sprite.png) left -340px no-repeat;
        width: 32px;
        height: 32px;
        top: 0;
        left: 0;
    }

    .quotesMain:after {
        background: url(../images/sprite.png) left -400px no-repeat;
        width: 26px;
        height: 21px;
        top: 0;
        left: 0;
    }

    .servicesIcon:after {
        background: url(../images/sprite.png) 0 -586px no-repeat;
        width: 26px;
        height: 27px;
    }

    .blockQuote:after {
        background: url(../images/sprite.png) -250px -984px no-repeat;
        width: 20px;
        height: 16px;
        left: 15px;
        top: 15px;
    }

.unread .mailBrief:after {
    background: #0079c7;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    left: 10px;
    top: 3px;
}

.dropdown {
    background: #6988a8 !important;
    color: #fff !important;
    width: 60% !important;
}

.filterDropDown {
    top: -32px;
    position: relative;
    width: 48%;
}

.ajaxLoader {
    background: url(../images/ajax-loader.gif) no-repeat center center #fff;
    height: 60px;
    left: 50%;
    top: 50%;
    width: 60px;
    position: absolute;
    border-radius: 15px;
}

.error {
    border: 2px solid #cd202a !important;
}

.errorMessage {
    color: red;
    font-family: Open Sans;
    font-weight: bold;
}

.mainErrorMessage {
    color: red;
    font-family: Open Sans;
    font-weight: bold;
    padding-left: 182px;
}

.successMessage {
    color: #ECECEC;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 20px;
}

.memberTitle {
    text-decoration: underline;
    font-size: 23px;
    font-weight: bold;
}

.whiteFont {
    color: #fff !important;
}


#map {
    width: 800px !important;
    height: 400px !important;
    border: 4px solid #000;
    padding: 5px;
}

.width100 {
    width: 100% !important;
}


/* Left Menu Clicked */

.on {
    background: #fff;
}

.onTitle {
    color: #0079c7 !important;
}

.onIconMyDetails {
    background-position: 0 -43px !important;
}

.onIconCoverage {
    background-position: -63px -43px !important;
}

.onIconNetwork {
    background-position: -125px -43px !important;
}

.onIconPreapproval {
    background-position: -187px -43px !important;
}

.onIconClaimHistory {
    background-position: -249px -43px !important;
}

.onIconCertificate {
    background-position: -311px -43px !important;
}

/* Left Menu Clicked */

.titleCert {
    font-weight: bolder;
    text-decoration: underline;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

.contentContainer {
    font-size: 12px;
    color: #333333;
    border-spacing: 2px;
    font-family: Arial;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid;
}


table.contentTableWhite td {
    border-collapse: collapse;
    padding-top: 5px;
    padding-bottom: 5px;
}

.absBackBtn {
    background: none transparent;
    position: absolute;
    left: 0;
    top: -30px;
    padding: 0;
    margin-left: 0;
}

    .absBackBtn:hover {
        background: none transparent;
    }

        .absBackBtn:hover span {
            text-decoration: none;
        }

.fulldropdown {
    background: #6988a8 !important;
    color: #fff !important;
    width: 100% !important;
}


.cblcheckbox input[type="checkbox"] {
    margin: 5px;
    margin-bottom: 20px;
}

.cblChronic input[type="checkbox"] {
    margin: 5px;
    margin-bottom: 10px;
}

.successBigMessage {
    color: #10375e;
    font-size: 16px;
    text-align: center;
}

.iconSuccess {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 76px;
    height: 62px;
    margin-bottom: 20px;
    background: url(../images/sprite.png) 0 -870px;
}

.successBigMessageWhite {
    color: #fff;
    font-size: 16px;
    text-align: center;
}

.mycheckbox input[type="checkbox"] {
    margin-right: 2px;
}

/******************** ACCORDION *********************/
.accordionBupa .accoTitle {
    margin-bottom: 5px;
    padding: 10px;
    font-size: 14px;
    color: #666;
    background: #f1f1f1;
    position: relative;
    cursor: pointer;
}

.accoTitle:after {
    position: absolute;
    width: 11px;
    height: 11px;
    content: '';
    top: 50%;
    margin-top: -6px;
    right: 10px;
    background: url(../images/plus-minus.png) no-repeat 0 0;
}

.accoTitle.active:after {
    background: url(../images/plus-minus.png) no-repeat 100% 0;
}

.accordionBupa .accoContent {
    display: none;
}

.active {
    background: url(../images/minimize-ico.gif) right 4px no-repeat;
}

.expandListingContent {
    margin-bottom: 15px;
}

.header {
    padding: 25px 0 0 0;
}

.separator {
    border-bottom: solid;
    border-width: 1px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.reportSafeArea {
    max-width: 1640px;
    margin: 0 auto;
}

.reportHeaderSafeArea {
    max-width: 1500px;
    margin: 0 auto;
}

.reportPageTitle {
    font-weight: normal;
    font-family: 'Gotham-Light';
    font-size: 26px;
    padding-top: 10px;
    text-align: center;
}

.rptTableStyling table {
    border-collapse: collapse;
}

.rptTableStyling td, .rptTableStyling th {
    border: 1px solid #c2c2c2;
    font-size: 10px;
    text-align: left;
    padding: 10px;
    color: #7b7b7b;
}

.rptTableStyling th {
    vertical-align: middle;
    color: #fff;
    background: #10375e;
}

.rptTableStyling tr:nth-child(2n+1) td {
    background: #f7f7f7;
}

.rptTableStyling td.centered {
    text-align: center;
}
/***********************added by carol 28-4-2014 form styling***********************/
.FormCol {
    margin-bottom: 30px;
}

    .FormCol label {
        display: block;
        margin-bottom: 3px;
        color: #0f375e;
        font-family: 'Gotham-Light';
        font-size: 14px;
    }

    .FormCol .fieldHolder {
        border: 1px solid #b6b6b6;
        padding: 6px 10px;
        margin-bottom: 10px;
    }

        .FormCol .fieldHolder input, .FormCol .fieldHolder select, .FormCol .fieldHolder textarea {
            display: block;
            border: none;
            background: none;
            width: 100%;
            font-size: 12px;
            color: #000;
            font-family: 'Gotham-Light';
        }

#cblReasons input, #cblReasons label {
    display: inline-block;
}

#cblReasons label {
    max-width: 240px;
}

.FormCol h3 {
    font-size: 18px;
    line-height: 18px;
    color: #0078cc;
    margin-bottom: 15px;
    font-family: 'Gotham-Light';
    font-weight: normal !important;
}

.FormCol .cblcheckbox input[type="checkbox"] {
    margin-bottom: 10px;
    margin-top: 3px;
}

#rblPaymentType td {
    display: block;
}

#rblPaymentType input {
    float: left;
    margin-right: 10px;
    margin-top: 2px;
}

table#rblPaymentType {
    width: 100%;
    margin-bottom: 10px;
}

.FormCol a.normaBluelBtn {
    margin-left: 0;
    margin-right: 15px;
}

.FormCol, .FormCol div {
    font-family: 'Gotham-Light';
}

h1.formTitle {
    font-family: 'Gotham-Light';
    font-size: 20px;
    margin-bottom: 20px;
}

.bosForm {
    padding: 0 20px;
}

#divReimbursementForm a.normaBluelBtn {
    background-color: #0f375e;
}

    #divReimbursementForm a.normaBluelBtn:hover {
        background: #6988a8;
    }

#divReimbursementForm .backToBupa {
    text-transform: uppercase;
    float: right;
    margin-right: 0;
    border-radius: 0;
    margin-top: 10px;
}

#divReimbursementForm .RadUpload {
    width: 100%;
}

#divReimbursementForm .ruBrowse {
    position: absolute;
    right: 0;
    width: 100px;
    background: #0f375e;
    top: 0;
    color: #fff;
    font-family: "Gotham-Medium",sans-serif;
    font-size: 16px;
    padding: 4px 0;
}

#divReimbursementForm .ruFileWrap {
    width: 100%;
}

#divReimbursementForm .RadUpload_Default .ruRemove {
    position: absolute;
    right: 0;
    width: 100px;
    background: #0f375e;
    top: 0;
    color: #fff;
    font-family: "Gotham-Medium",sans-serif;
    font-size: 16px;
    padding-left: 0;
}

#divReimbursementForm .RadUpload .ruStyled .ruFileInput, .RadUpload .ruFakeInput {
    height: 22px;
    background: red;
    padding: 0 !important;
}

#divReimbursementForm .RadUpload .ruInputs li {
    margin-bottom: 0 !important;
}

.title {
    font-weight: bold;
    font-size: 17px;
}

.block, .whiteBlock {
    border: solid;
    border-radius: 10px;
    padding: 10px;
}

.block {
    border-color: #10375e;
}

.whiteBlock {
    border-color: #ffffff;
}