.contentTable td{
	padding:1px 3px;
	
	border-bottom:1px solid #333333;
}
.contentTableLabel{
	font-weight:bold;
}
.contentTableWhiteCell{
	background-color:#FFF !important;
}

body
{
 font-size:12px;
 font-family:Arial;
}