body#bupaWebsite {
                background:#FFF url(../images/bodyback.gif) repeat-x;
}
body#bupaWebsite, #bupaWebsite ul, #bupaWebsite .contentContainer ul.landingListing,#bupaWebsite .contentContainer ul.landingListing li, #bupaWebsite li, #bupaWebsite h1, #bupaWebsite h2, #bupaWebsite h3, #bupaWebsite h4, #bupaWebsite h5, #bupaWebsite h6, #bupaWebsite form {
                margin:0px;
                padding:0px;
}
div.my-header{
}
#bupaWebsite td {
                vertical-align:top;
                font-family:Arial;
}
#bupaWebsite img {
                border:0px;
}
#bupaWebsite li {
                list-style:none;
                list-style-type:none;
                list-style-image:none;
}
#bupaWebsite * {
                outline:none;
}
#bupaWebsite select, #bupaWebsite input, #bupaWebsite textarea {
                font-size:11px;
                color:#0066A9;
                font-weight:bold;
                font-family:Arial;
}
h1 {
                font-size:23px;
                color:#013A61;
                margin-bottom:10px !important;
                font-weight:normal;
}
.margBottom25 {
                margin-bottom:15px;
}
.logoContainer, .logoContainer:visited, .logoContainer:link {
                font-size:1px;
                background:url(../images/image.gif) no-repeat 0px 0px;
                width:141px;
                height:117px;
                color:#009EE0;
                text-decoration:none;
                color:#009EE0;
                display:inline-block;
}
.headerContainer {
                padding:19px 22px;
}
.topMenuContainer {
                padding-bottom:12px;
                text-align:right;
}
.topMenuContainer, .topMenuContainer a, .topMenuContainer a:link, .topMenuContainer a:visited {
                font-size:12px;
                color:#00335B;
                text-decoration:none;
}
.topMenuContainer a:hover, .topMenuContainer a.selected {
                color:#009EE0;
}
.arabicText {
                font-family:Tahoma;
}
.rightAlignment {
                text-align:right;
}
.needToList {
                background:url(../images/image.gif) no-repeat left -383px;
                width:174px;
                height:25px;
}
.needToList select {
                width:160px;
                float:left;
                margin:4px 0 0 7px;
                background:none;
                border:0px;
}
.searchTextField input {
                width:90px;
                float:left;
                margin:4px 0 0 30px;
                background:none;
                border:0px;
}
.callUsIcon {
                background:url(../images/image.gif) no-repeat left -418px;
                width:33px;
                height:33px;
}
.callUsNumber {
                font-size:14px;
                color:#5A5A5A;
                padding:0 10px 0 5px;
}
.callUsNumber span {
                font-weight:bold;
}
.searchContainer {
                background:#E8E8E8;
                padding:7px;
}
.valignMiddle, .callUsNumber {
                vertical-align:middle !important;
}
.searchTextField {
                background:url(../images/image.gif) no-repeat -184px -383px;
                width:130px;
                height:25px;
}
.searchButton {
                background:url(../images/image.gif) no-repeat -68px -343px;
                width:58px;
                height:25px;
                display:inline-block;
                font-size:1px;
                text-align:left;
                text-decoration:none;
                color:#5A5A5A;
                border:0px;
                cursor:pointer;
}
.mainMenu, .mainMenu:visited, .mainMenu:link, .membersLink, .membersLink:link, .membersLink:visited, .mainMenuHighlight {
                display:inline-block;
                font-size:12px;
                color:#FFF;
                text-decoration:none;
                background:url(../images/menu-back.gif) repeat-x;
                padding:14px 12px 14px 13px;
}
.mainMenu:hover, .mainMenuHighlight {
                background:url(../images/menu-back-on.gif) repeat-x;
                color:#009EE0 !important;
}
.mainMenu.selected {
    background: url("../images/menu-back-selected.gif") repeat-x scroll 0 0 transparent;
    color: #FFFFFF !important;
}
.membersLink, .membersLink:link, .membersLink:visited {
                font-weight:bold;
                background:url(../images/membersmenu-back.gif) repeat-x;
}
.padBottom10 {
                padding-bottom:9px;
}
.homeLink {
                background:url(../images/image.gif) no-repeat -510px top;
                width:45px;
                height:42px;
                display:block;
                font-size:1px;
                text-align:left;
                color:#636365;
                text-decoration:none;
}
.homeLink.selected {
                background: url(../images/image.gif) no-repeat -361px top;
}
.mainMenuSep, .membersMenuSep {
                background:url(../images/image.gif) no-repeat -416px top;
                width:2px;
                font-size:1px;
}
.membersMenuSep {
                background:url(../images/image.gif) no-repeat -428px top;
}
.absoluteHomeMessage {
                background:#00A1E4;
                width:320px;
                height:190px;
                position:absolute;
                top:35px;
                right:22px;
                color:#FFF;
                font-size:14px;
}
.posRelative {
                position:relative;
}
.messageTitle {
                font-size:20px;
                text-transform:uppercase;
}
.messageDescp, .messageTitle {
                margin-bottom:15px;
}
.learnMoreBtn, .learnMoreBtn:visited, .learnMoreBtn:link {
                font-size:1px;
                background:url(../images/image.gif) no-repeat -267px -343px;
                width:143px;
                height:27px;
                display:block;
                color:#E8E8E8;
                text-align:left;
                text-decoration:none;
}
.absoluteHomeMessagePad {
                padding:25px 25px 0 25px;
}
.tabsHead {
                background:#0F375E;
                color:#FFF;
                padding:15px 10px;
                font-size:14px;
                text-transform:uppercase;
}
.absoluteHomeTabs {
                position:absolute;
                top:34px;
                left:23px;
                z-index:100;
                width:200px;
}
.tabsLinks {
                width:200px;
                font-size:14px;
                font-weight:bold;
}
.tabsLinks a, .tabsLinks a:link, .tabsLinks a:visited {
                color:#013A61;
                text-decoration:none;
                padding:14px 25px 13px 10px;
                display:block;
                background:url(../images/image.gif) no-repeat -151px top;
}
.tabsLinks a:hover, a.menuHighlight {
                background:url(../images/image.gif) no-repeat -151px -53px !important;
                color:#FFF !important;
}
.centerBack {
                background:#E6E6E6;
                padding:25px 22px;
}
.servicesText, .domesticHelpText {
                line-height:19px;
}
.servicesText a, .servicesText a:link, .servicesText a:visited, .domesticHelpText a, .domesticHelpText a:link, .domesticHelpText a:visited {
                display:inline-block;
                background:url(../images/more-arrow.gif) no-repeat left 7px;
                padding:0 0 0 8px;
                color:#1D71AD !important;
                text-decoration:none;
}
.domesticHelpText a, .domesticHelpText a:link, .domesticHelpText a:visited {
                background:url(../images/more-arrow.gif) no-repeat left 5px;
}
.servicesText a:hover, .domesticHelpText a:hover {
                color:#013A61;
}
.servicesLiks a {
                display:inline-block;
                margin-right:10px;
                width:108px;
                height:169px;
                font-size:1px;
                color:#00A1E4;
                text-decoration:none !important;
                font-size:0!important;
                float:left;
}
.servicesLiks a:hover {
                text-decoration:none !important;
                font-size:0!important;
}
.servicesLiks a.last {
                margin-right:0px;
}
a.helpline {
                background:url(../images/image.gif) no-repeat left -164px;
}
a.cchi {
                background:url(../images/image.gif) no-repeat -120px -164px;
}
a.msgbupa {
                background:url(../images/image.gif) no-repeat -240px -164px;
}
a.networkcoverage {
                background:url(../images/image.gif) no-repeat -360px -164px;
}
a.worldwidecoverage {
                background:url(../images/image.gif) no-repeat -480px -164px;
}
a.onlineservices {
                background:url(../images/image.gif) no-repeat -600px -164px;
}
a.doctoronphone{
      background:url(../images/image.gif) no-repeat -362px -164px;
}
a.basma{
      background:url(../images/image.gif) no-repeat -121px -164px;}
a.sos{
      background:url(../images/image.gif) no-repeat -480px -164px}

.footerComp {
                background:url(../images/image.gif) no-repeat -440px top;
                width:31px;
                height:133px;
                font-size:1px;
}
.voteBtn {
                text-align:right;
                vertical-align:bottom !important;
                width:58px;
}
.voteBtn a {
                background:url(../images/image.gif) no-repeat left -343px;
                width:58px;
                height:24px;
}
.pollQuestion {
                font-size:16px;
                color:#333333;
                margin-bottom:7px;
}
.wellBeingContainer {
                width:311px;
}
.greenTitle {
                color:#007A3D !important;
}
.absoluteWellBeingContent {
                background:#FFF;
                width:178px;
                height:238px;
                position:absolute;
                left:5px;
                top:5px;
                font-size:12px;
                color:#333;
}
.absoluteWellBeingContentPad {
                padding:10px 10px 0 10px;
}
.wellBeingLinks a, .wellBeingLinks a:visited, .wellBeingLinks a:link {
                display:block;
                background:url(../images/green-arrow.gif) no-repeat left 3px;
                padding:0 0 0 11px;
                color:#007A3D !important;
                text-decoration:none;
}
.wellBeingLinks a:hover {
                color:#013A61;
}
.wellBeingTitle {
                font-size:16px;
                color:#013A61;
                margin-bottom:3px;
}
.wellBeingRow {
                padding-bottom:7px;
                margin-bottom:7px;
                border-bottom:1px dotted #007A3D;
}
.margBottom3 {
                margin-bottom:3px;
}
.absoluteLearnMore {
                position:absolute;
                left:0px;
                bottom:0px;
}
.absoluteLearnMore a {
                background:url(../images/image.gif) no-repeat -136px -343px;
                width:120px;
                height:30px;
}
.voteBtn a, .voteBtn a:link, .voteBtn a:visited, .absoluteLearnMore a, .absoluteLearnMore a:link, .absoluteLearnMore a:visited {
                text-align:left;
                font-size:1px;
                text-decoration:none;
                color:#00A1E4;
                display:block;
}
.domesticHelpText {
                background:#FFF;
                height:80px;
                line-height:16px;
}
.domesticHelpTextPad {
                padding:7px 7px 0 7px;
}
.copyrightContainer {
                background:#5B5758;
}
.footerLinks td, .footerLinks td a, .footerLinks td a:link, .footerLinks td a:visited {
                color:#FFF;
                font-size:11px;
                text-decoration:none;
}
.footerLinks td a:hover {
                color:#00A1E4;
}
.copyrightContainerPad {
                padding:14px 22px;
}
.footerContainer {
                background:#0F375E;
                border-bottom:1px solid #FFF;
}
.footerSection {
                width:195px;
                margin:0 45px 20px 0;
                float:left;
}
.footerMap1, .footerMap1 a, .footerMap1 a:link, .footerMap1 a:visited {
                font-size:18px;
                color:#FFFFFF;
                text-decoration:none;
}
.footerMap1 {
                padding-bottom:10px;
                margin-bottom:10px;
                border-bottom:1px dotted #FFF;
}
.footerMap2, .footerMap2 a, .footerMap2 a:link, .footerMap2 a:visited {
                font-size:12px;
                font-weight:bold;
                color:#FFF;
                text-decoration:none;
}
.footerMap2 a {
                background:url(../images/white-arrow.gif) no-repeat left 4px;
                padding:0 0 3px 11px;
                display:block;
}
.footerMap3, .footerMap3 a, .footerMap3 a:link, .footerMap3 a:visited {
                font-weight:normal;
                background:none;
}
.footerContainerPad {
                padding:0 0 10px 22px;
}
.footerButton {
                text-align:center;
}
.footerButton a, .footerButton a:link, .footerButton a:visited {
                color:#E8E8E8;
                text-indent:-9999px;
                text-align:left;
                text-decoration:none;
                display:inline-block;
                width:91px;
                height:17px;
                background:url(../images/image.gif) no-repeat -117px -127px;
                margin-bottom:15px;
}
.footerButton a.active {
                background:url(../images/image.gif) no-repeat -218px -127px;
}
.newsletterTitle {
                font-size:16px;
                color:#FFF;
                margin-bottom:10px;
}
.newsletterField {
                background:url(../images/image.gif) no-repeat -324px -383px;
                width:172px;
                height:24px;
}
.newsletterField input {
                width:150px;
                margin:3px 0 0 10px;
                background:none;
                border:0px;
}
.subscribeButton {
                display:block;
                background:url(../images/image.gif) no-repeat -420px -343px;
                width:79px;
                height:24px;
                font-size:1px;
                color:#5A5A5A;
                text-align:left;
                border:none;
}
.absoluteSubMenu {
                position:absolute;
                left:200px;
                top:0px;
                width:750px;
                height:239px;
                background:#FFF url(../images/smartmenu-back.gif) repeat-x;
                border:10px solid #757575;
                visibility:hidden;
}
.smartMenuLinks {
                padding:20px 0 0 20px;
}
.smarMenuSub1, .smarMenuSub1 a, .smarMenuSub1 a:link, .smarMenuSub1 a:visited {
                text-decoration:none;
                color:#013A61;
                font-size:18px;
}
.smarMenuSub1 a {
                display:block;
                padding-bottom:7px;
                margin-bottom:10px;
                border-bottom:1px dotted #013A61;
}
.smarMenuSub1 a:hover {
                color:#00A1E4;
}
.smarMenuSub2, .smarMenuSub2 a, .smarMenuSub1 a:visited, .smarMenuSub2 a:link {
                font-size:14px;
                color:#00A1E4 !important;
                text-decoration:none;
}
.smarMenuSub2 a {
                background:url(../images/blue-arrow.gif) no-repeat left 4px;
                padding:0 0 3px 10px;
                display:block;
}
.smarMenuSub2 a:hover {
                color:#013A61;
}
.applyNowBtn {
                background:url(../images/image.gif) no-repeat -43px -418px;
                width:218px;
                height:43px;
                display:block;
                font-size:1px;
                text-align:left;
                color:#009FE1;
                margin-top:20px;
                font-size:0 !important;
                text-decoration:none !important;
}
.inTheNewsCont {
                background:url(../images/image.gif) no-repeat -509px -343px;
                width:159px;
                height:29px;
                font-size:1px;
}
.moreNewsLink, .moreNewsLink:visited, .moreNewsLink:link {
                background:url(../images/image.gif) no-repeat -319px -127px;
                width:61px;
                height:29px;
                font-size:1px;
                text-decoration:none;
                color:#FFF;
                display:block;
}
.newsMarquee {
                background:#FFF;
                vertical-align:middle !important;
}
.newsMarquee marquee {
                width:670px;
}
.newsMarquee marquee a, .newsMarquee marquee a:visited, .newsMarquee marquee a:link {
                display:inline-block;
                margin-right:50px;
                text-decoration:none;
}
.newsMarquee marquee span, .newsMarquee marquee a:hover {
                color:#00A1E4;
}
.socialMediaIcons {
                position:fixed;
                width:39px;
                left:0px;
                top:156px;
}
.socialMediaIcons a {
                margin-bottom:7px;
}
a.facebookIcon {
                background:url(../images/facebook.png) no-repeat right top;
                display:block;
                width:25px;
                height:44px;
}
a.twitterIcon {
                background:url(../images/twitter.png) no-repeat right top;
                display:block;
                width:25px;
                height:44px;
}
a.youtubeIcon {
                background:url(../images/youtube.png) no-repeat right top;
                display:block;
                width:25px;
                height:44px;
}
a.emailFriendIcon {
                background:url(../images/emailtofriend.png) no-repeat right top;
                display:block;
                width:25px;
                height:42px;
}
a.facebookIcon:hover, a.twitterIcon:hover, a.youtubeIcon:hover, a.emailFriendIcon:hover {
                width:38px;
}
.pageTitle {
                background:#009EE0;
                color:#FFF;
                padding:20px;
}
.pageTitle h1 {
                font-size:23px;
                color:#FFFFFF !important;
                text-transform:uppercase;
                margin:0px !important;
}
.subWhiteCenter {
                background:#FFF;
                padding:25px 30px;
}
.margBottom20 {
                margin-bottom:20px;
}
.breadCrumb, .breadCrumb a, .breadCrumb a:visited, .breadCrumb a:link {
                color:#737373;
                font-size:11px;
                text-decoration:none;
}
.breadCrumb a:hover, .breadCrumb a.selected {
                color:#333333 !important;
}
.pageHeadRow {
                padding:0 0 7px 0;
                margin-bottom:15px;
                border-bottom:1px solid #B0B0B0;
}
.pageIntroText {
                font-size:16px;
                color:#5D5D5D;
                line-height:22px;
                margin-bottom:15px;
}
.memberLoginComp {
                background:#F7F5F3;
                padding:20px 15px;
                border:1px solid #E3E3E3;
}
.loginLeftSection {
                border-right:1px solid #DDDDDD;
                width:380px;
}
.loginLeftSectionPad {
                padding:0 60px 0 0;
}
.loginRightSection {
                padding:0 0 0 60px;
}
.loginLabel {
                font-size:14px;
                color:#333333;
                font-weight:bold;
                text-align:right;
                padding:0 20px 0 0;
}
.loginTitle {
                font-size:21px;
                color:#333333;
                padding:0 0 15px 0;
}
.loginTextField, .loginListField, .filterListMenu, .commentTextArea, .loginSelectList, .loginTextArea {
                background:#FFF;
                border:1px solid #CBCBCB;
                width:220px;
                margin:0 0 20px 0;
                padding:3px 7px;
}
.loginFileType {
                width:323px !important;
}
.loginTextArea {
                height:95px;
                width:440px;
}
.loginSelectList {
                padding:0px;
                width:236px;
}
.commentTextArea {
                width:635px;
                height:90px;
                margin-bottom:10px;
}
.filterListMenu {
                width:95px;
                font-size:11px;
                font-weight:bold;
                color:#0066A9 !important;
                margin-right:10px;
}
.sortByText {
                color:#333333;
                font-size:12px;
                padding:5px 10px 0 0;
}
.loginListField {
                width:234px;
}
.forgotPasswordCont {
                background:url(../images/more-arrow.gif) no-repeat left 4px;
                padding:0 0 0 10px;
                font-size:12px;
                color:#000000;
}
.forgotPasswordCont a, .forgotPasswordCont a:link, .forgotPasswordCont a:visited {
                color:#0066A9;
                text-decoration:underline;
}
.forgotPasswordCont a:hover {
                color:#000;
                text-decoration:none;
}
.loginBtn, .registerBtn {
                display:inline-block;
                width:101px;
                height:27px;
                background:url(../images/image.gif) no-repeat -678px -343px;
                font-size:1px;
                color:#E6E6E6;
                margin-bottom:10px;
}
.registerBtn {
                background:url(../images/image.gif) no-repeat -789px -343px;
                width:160px;
                height:27px;
}
.loginCompDescp {
                font-size:12px;
                color:#5D5D5D;
                line-height:20px;
                margin-bottom:15px;
}
div.leftMenuBtn a, div.leftMenuBtn a:link, div.leftMenuBtn a:visited {
                display:block;
                font-size:12px;
                color:#FFFFFF;
                text-decoration:none;
                font-weight:bold;
                padding:7px 10px;
                border-bottom:1px solid #FFF;
}
div.leftMenuBtn.last a, div.leftMenuBtn.last a:hover, div.leftMenuBtn.last a.selected, div.leftMenuBtn a.selected {
                border-bottom:0px;
}
#bupaWebsite h2, h2.newsTitle {
                font-size:18px;
                font-weight:bold;
                margin-bottom:15px;
}
h2.newsTitle {
                margin-bottom:4px !important;
}
h2.newsTitle a, h2.newsTitle a:visited, h2.newsTitle a:link {
                text-decoration:none;
}
.asboluteBannerText {
                position:absolute;
                left:10px;
                width:180px;
                top:10px;
}
.bannerTextBackiDentity, .bannerTextBackiCSR, .bannerTextBackTools {
                padding:15px;
                color:#FFF;
                font-size:12px;
                margin-bottom:10px;
                background:#0F375E;
}
.bannerTextBackiCSR {
                background:#939905;
}
.bannerTextBackTools {
                background:#007A3D;
}
.bannerTitle {
                font-size:18px;
                font-weight:bold;
                margin-bottom:10px;
}
.learnMoreButton a, .learnMoreButton a:link, .learnMoreButton a:visited, .learnMoreButtonBlue a, .learnMoreButtonBlue a:link, .learnMoreButtonBlue a:visited, .learnMoreButtonOrange a, .learnMoreButtonOrange a:link, .learnMoreButtonOrange a:visited {
                display:inline-block;
                background:url(../images/buttons-back.gif) no-repeat right 0;
                font-size:16px;
                text-transform:uppercase;
                color:#333333;
                padding:7px 37px 7px 15px;
                font-weight:bold;
                text-decoration:none;
                white-space: nowrap;
}
.learnMoreButtonBlue a, .learnMoreButtonBlue a:link, .learnMoreButtonBlue a:visited {
                background:url(../images/buttons-back.gif) no-repeat right -35px;
                color:#FFF;
}
.learnMoreButtonOrange a, .learnMoreButtonOrange a:link, .learnMoreButtonOrange a:visited {
                background:url(../images/buttons-back.gif) no-repeat right -70px;
                color:#FFF;
}
.investorBanner, .CSRBanner, .tipofTheDayBanner {
                background:#008789;
                padding:15px;
                color:#FFF;
                font-size:14px;
}
.CSRBanner {
                background:#939905;
                font-size:18px;
}
.tipofTheDayBanner {
                font-size:12px;
                background:#007A3D;
}
.contactTitle span {
                font-size:17px;
}
.investorBannerTitle, .careerBannerTitle, .contactTitle, .faqTitle, .rightMenuTitle {
                font-size:21px;
                background:url(../images/inverstorhr-back.gif) repeat-x left bottom;
                padding-bottom:7px;
                margin-bottom:15px;
}
.contactTitle, .faqTitle {
                background:url(../images/contacticon.gif) no-repeat right top;
                padding:3px 0 10px 0;
                margin-bottom:7px;
}
.faqTitle {
                background:url(../images/faq-icon.gif) no-repeat right top;
                padding:5px 0 5px 0;
}
.careerBannerTitle {
                background:url(../images/careerhr-back.gif) repeat-x left bottom;
}
.careerBanner, .contactBanner {
                background:#FFF;
                border:10px solid #CCCCCC;
                padding:10px;
                color:#333333;
                font-size:12px;
}
.careerBanner span a:hover {
                color:#333333;
}
.rightTestimonial {
                font-size:14px;
                color:#FFF;
                margin-bottom:15px;
                background:#01AEF0 url(../images/slogan-back-lightblue.gif) no-repeat left bottom;
}
.floatRightSlogan {
                float:right;
                width:229px;
                font-size:17px;
                color:#333;
                margin:0 0 0 15px;
                line-height:23px;
}
.floatRightSloganPad {
                padding:15px 15px 30px 15px;
}
.floatRightSlogan span, .rightTestimonial span {
                font-size:12px;
                font-weight:normal;
}
.rightTestimonial span {
                font-weight:bold;
}
.leftSubMenu {
                padding:7px;
                font-size:12px;
                font-weight:bold;
}
.leftSubMenu span.selected {
                text-decoration:underline !important;
}
.leftSubMenu, .leftSubMenu a, .leftSubMenu a:link, .leftSubMenu a:visited {
                text-decoration:none;
                display:block;
                background:none !important;
}
.leftSubMenu a:hover, .leftSubMenu a.selected {
                text-decoration:underline !important;
}
.mostReadDate {
                font-size:11px;
                color:#7A7A7A;
                margin-bottom:4px;
}
.pollsAnswers, .servicesText, .domesticHelpText, .newsMarquee marquee a, .newsMarquee marquee a:visited, .newsMarquee marquee a:link, .contentContainer, .mostReadDescp {
                font-size:12px;
                color:#333333;
}
.mostReadTitle {
                margin-bottom:2px;
}
.mostReadTitle, .mostReadTitle a, .mostReadTitle a:link, .mostReadTitle a:visited {
                font-size:14px;
                font-weight:bold;
                text-decoration:none;
}
.mostReadMoreLink
{ 
padding: 3px 0 6px 0;
}
.mostReadMoreLink a, .mostReadMoreLink a:link, .mostReadMoreLink a:visited {
                font-size:12px;
                text-decoration:none;
                padding:0 0 0 10px;
                margin-top:3px;
                display:inline-block;
}
.mostReadTitle a:hover, .mostReadMoreLink a:hover, h2.newsTitle a:hover {
                color:#333 !important;
}
.mostReadRow, .commentListing {
                padding-bottom:13px;
                margin-bottom:13px;
                border-bottom:1px solid #DCDCDC;
}
.filterSearchBtn {
                display: inline-block;
                background: url(../images/image.gif) no-repeat -506px -383px;
                width: 68px;
                font-size: 1px;
                color: 
                #0990CD;
                height: 26px;
                text-align: left;
                border: none !important;
                cursor: pointer;
}
.paginationContainer {
                text-align:center;
                font-size:12px;
                color:#0066A9;
                padding-left:7px;
}
.paginationContainer a, .paginationContainer a:link, .paginationContainer a:visited {
                color:#0066A9;
                text-decoration:none;
                display:inline-block;
                padding:3px 7px;
                margin:0 7px 0 0;
}
.paginationContainer a:hover, .paginationContainer a.selected {
background: #0066A9;
color: white !important;
}

a.prevBtn {
                background:url(../images/prev-arrow.gif) no-repeat left 7px;
                padding-left:10px !important;
}
a.nextBtn {
                background:url(../images/next-arrow.gif) no-repeat right 7px;
                padding-right:10px !important;
}
.healthBanner {
                background:#007A3D;
                padding:10px;
                font-size:12px;
                color:#FFF;
}
.healthBannerTitle {
                font-size:18px;
                margin-bottom:7px;
                text-transform:uppercase;
}
.margBottom7 {
                margin-bottom:7px;
}
h1.newsDetailsTitle {
                font-size:27px;
}
.contactUsBtn a, .checkOtherProducts a {
                background:url(../images/image.gif) no-repeat -787px -418px;
                width:155px;
                height:51px;
                display:inline-block;
                font-size:1px;
                color:#0991CE !important;
}
.checkOtherProducts a {
                background:url(../images/image.gif) no-repeat -490px -418px;
                width:287px;
}
.mostReadRow span, .bottomBannerHeight span, .assisstanceBanner div.price {
                font-weight:bold;
                font-size:17px;
}
.callUsText {
                margin:5px 0;
                font-size:14px;
}
.bottomBannerHeight {
                height:50px;
}
.contactBanner div.mostReadRow {
                padding-bottom:7px;
                margin-bottom:7px;
}
.contactBanner a, .contactBanner a:link, .contactBanner a:visited {
                color:#0066A9;
                text-decoration:none;
}
.contactBanner a:hover {
                color:#333;
}
.floatRightPic {
                float:right;
                margin:0 0 0 15px;
}
.floatLefttPic {
                float:left;
                margin:0 15px 15px 0;
}
.articleSource, .articleSource a:link, .articleSource a:visited {
                font-size:12px;
                color:#333333;
}
.articleSource a {
                text-decoration:none;
}
.shareArticleComp {
                padding-top:7px;
                border-top:1px solid #BFBFBF;
                margin:25px 0;
}
.mostReadComp1 {
                padding:0 30px 0 0;
                border-right:1px solid #E4E4E4;
}
.mostReadComp2 {
                padding:0 30px;
                border-right:1px solid #E4E4E4;
}
.mostReadComp3 {
                padding:0 0 0 30px;
}
.youAlsoLikeBanner {
                padding:15px;
                font-size:12px;
                color:#333333;
}
.likeLinks, .likeLinks a, .likeLinks a:visited, .likeLinks a:link {
                text-decoration:none;
}
.postCommentTitle {
                font-size:18px;
                color:#333333;
                padding-bottom:10px;
}
.viewAllComments a {
                display:inline-block;
                background:url(../images/comment-icon.gif) no-repeat left 3px;
                padding:0 0 0 20px;
                color:#0176BE;
                font-size:13px;
                text-decoration:none;
}
.viewAllComments, .commentBtns {
                text-align:right;
}
.commentBox {
                background:#D6D6D6;
                padding:20px 15px 15px 15px;
                font-size:12px;
                color:#333333;
}
.commentBox input.loginTextField {
                width:170px;
                margin:0 0 15px 7px;
}
.commentBtns a {
                display:inline-block;
                width:70px;
                height:27px;
                font-size:1px;
                text-decoration:none;
                text-align:left;
                margin:0 0 0 7px;
}
a.clearBtn {
                background:url(../images/image.gif) no-repeat -585px -383px;
                color:#51A9D1;
}
a.postBtn {
                background:url(../images/image.gif) no-repeat -665px -383px;
                color:#0991CE;
}
.backButton {
                text-align:right;
                font-size:12px;
                padding:5px 0 0 0;
}
.backButton a {
                display:inline-block;
                padding:0 0 0 10px;
                text-decoration:none;
}
.articleSource a:hover, .likeLinks a:hover, .viewAllComments a:hover, .backButton a:hover {
                color:#333 !important;
}
.mostReadTitle, .mostReadTitle a, .mostReadTitle a:link, .mostReadTitle a:visited {
                color:#0F375E;
}
.mostReadMoreLink a, .mostReadMoreLink a:link, .mostReadMoreLink a:visited {
                color:#0F375E;
                background:url(../images/navy-arrow.gif) no-repeat left 4px;
}
.width175 {
                width:160px !important;
}
.newsLetterBanner {
                background:#FFF;
                border:10px solid #CCCCCC;
                padding:15px 25px;
}
.newsLetterBanner div.newsletterTitle {
                color:#333;
}
.highlightText,.eCommerceHighlight{
                font-size:16px;
                padding:15px;
                color:#333;
                margin-bottom:15px;
}
.eCommerceHighlight{
                font-size:12px;
}
#bupaWebsite .contentContainer h2 {
                font-weight:bold;
                font-size:18px;
                margin-bottom:7px !important;
                font-family:Arial !important;
}
#bupaWebsite .contentContainer h3 {
                font-weight:bold;
                font-size:12px;
                margin-bottom:7px !important;
}
#bupaWebsite .contentContainer ul {
                padding:7px 0 0 7px;
}
#bupaWebsite .contentContainer ul li {
                padding:0 0 3px 15px;
}
.contentActionButton {
                background:url(../images/buttons-back.gif) no-repeat right -105px;
                font-size:21px;
                color:#FFF;
                padding:7px 40px 16px 15px;
                margin-bottom:25px;
}
.contentActionButton a, .contentActionButton a:link, .contentActionButton a:visited {
                color:#FFF !important;
                text-decoration:none;
}
.ms-WPBody .contentActionButton a:hover, .contentActionButton a:hover {
                color:#000 !important;
                text-decoration:none;
}
.commentHead {
                background:#D6D6D6;
                padding:7px 15px;
                font-size:12px;
                color:#333;
}
.commentName {
                font-size:14px;
                font-weight:bold;
}
.commentDate {
                text-align:right;
}
.commentHead {
                margin-bottom:7px;
}
.commentBoxContainer .loginListField {
                width:145px;
                margin:0px;
}
.imageCaption {
                font-size:11px;
                font-style:italic;
                color:#333333;
                margin-top:7px;
}
.contentImgBorder {
                border:1px solid #BFBFBF !important;
}
.absoluteTopSubMenu {
                background:#E4E4E4 url(../images/submenu-back.gif) repeat-x;
                position:absolute;
                left:-1px;
                top:42px;
                font-size:12px;
                color:#1D71AD;
                width:630px;
                z-index:1000;
                visibility:hidden;
                text-align:left;
}
.highZindex {
                z-index:1000;
}
.absoluteTopSubMenuPad {
                padding:10px;
                border-bottom:1px solid #A1A1A1;
                border-left:1px solid #A1A1A1;
                border-right:1px solid #A1A1A1;
}
.subMenuLeft {
                padding:0 20px 0 0;
}
.subMenuRight {
                border-left:1px solid #C6C6C6;
                padding-left:20px;
                width:360px;
}
.productsButtons {
                width:175px;
}
.productsButtons a, .productsButtons a:visited, .productsButtons a:link {
                margin-bottom:5px;
                background:url(../images/buttons-back.gif) no-repeat right -153px;
                display:block;
                padding:14px 0 20px 11px;
                font-size:14px;
                color:#FFF;
                text-decoration:none;
}
.productsButtons a:hover {
                color:#000;
}
.subMenuMainBtn {
                background:url(../images/submenu-hr.gif) repeat-x left bottom;
                padding:0 0 7px 0;
                margin-bottom:7px;
                font-size:14px;
                font-weight:bold;
                color:#333333;
}
.subMenuMainBtn a, .subMenuMainBtn a:link, .subMenuMainBtn a:visited {
                color:#333;
                text-decoration:none;
}
.subMenuMainBtn a:hover {
                color:#01AEF0;
}
.subMenuLinks a, .subMenuLinks a:link, .subMenuLinks a:visited {
                display:block;
                background:url(../images/blue-arrow.gif) no-repeat left 4px;
                padding:0 0 3px 10px;
                font-size:12px;
                color:#1D71AD;
                text-decoration:none;
}
.subMenuLinks a:hover {
                color:#333;
}
.subMenuLinksCont {
                float:left;
                width:175px;
                margin:0 25px 20px 0;
}
.subMenuLinksContLast {
                margin:0px;
}
#bupaWebsite .contentContainer .toolsPiContainer {
                background:#C6C6C6;
                width:195px;
                height:103px;
                text-align:center;
                vertical-align:middle !important;
}
#bupaWebsite .toolsandapps .toolsListing li {
                float:left;
                width: 211px;
                background:#F0F0F0;
                margin:0 10px 10px 0 !important;
                padding:0;height: 310px;
}
#bupaWebsite .toolsandapps .toolsListing li.last {
                margin:0 0 10px 0 !important;
}
div.toolsListingPad {
                padding:12px;
}
.toolsTitle {
                font-size:16px;
                margin-bottom:3px;
}
.toolsTitle, .toolsTitle a, .toolsTitle a:link, .toolsTitle a:visited {
                text-decoration:none;
}
.toolsSlogan {
                font-size:14px;
                color:#333333;
                margin-bottom:7px;
}
.toolsPic {
                margin-bottom:10px;
}
.toolsDescp {
                font-size:12px;
                color:#333;
                line-height:18px;
                margin-bottom:10px;
}
.toolsLink a {
                border-top:1px solid #D1D1D1;
                display:block;
                font-size:12px;
                padding:7px 0 0 10px;
                text-decoration:none;
}
.toolsLink a:hover, .toolsTitle a:hover {
                color:#333 !important;
}
.landingContainer {
                background:#FFF;
                padding:8px;
}
.landingSectionCont {
                width:164px;
                background:#F0F0F0;
}
.landingSectTitle {
                font-size:16px;
                margin-bottom:7px;
}
.landingSectTitle a, .landingSectTitle a:link, .landingSectTitle a:visited {
                text-decoration:none;
}
.ladingText {
                font-size:12px;
                color:#333333;
                margin-bottom:10px;
                                width: 143px;
}
.ladingText ul {

                padding:7px 0 0 0 !important;
}
.ladingText ul li {
                padding:0 0 2px 10px !important;
}
.ladingText ul li a, .ladingText ul li a:link, .ladingText ul li a:visited {
                text-decoration:none;
}
.landingCompPad {
                padding:10px;
}
.landingInternalLink a, .landingInternalLink a:link, .landingInternalLink a:visited {
                display:block;
                padding:7px 0 0 10px;
                border-top:1px solid #D1D1D1;
                font-size:12px;
                text-decoration:none;
}
.ladingText ul li a:hover, .landingInternalLink a:hover, .landingSectTitle a:hover {
                color:#333 !important;
}
.landingSetHeight {
                height:153px;
}
.productApplyNowButton {
                display:inline-block;
                font-size:18px;
                text-decoration:none;
                padding:10px 60px 10px 30px;
                text-transform:uppercase;
}
.contentTable td {
                font-size:14px !important;
                color:#333333;
                padding:10px 7px;
                border-bottom:1px solid #333333;
}
.downloadsIcons td {
                padding:0px;
                border-bottom:0px;
}
.contentTable {
                background:url(../images/tableborder-top.gif) repeat-x;
}
td.leftAlignment {
                text-align:left;
                padding:10px 7px;
}
.removeBackground {
                background:none;
}
.contactIcon {
                background:url(../images/image.gif) no-repeat left -418px;
                width:33px;
                height:33px;
}
.landingLinks a, .landingLinks a:link, .landingLinks a:visited {
                display:inline-block;
                margin:0 40px 20px 0;
                padding-top:10px;
                font-size:12px;
                text-decoration:none;
                padding:7px 0 0 10px;
                width:120px;
                border-top:1px solid #D1D1D1;
}
.landingLinks a.last {
                margin:0 0 20px 0;
}
.landingLinks a:hover, .faqQuestions a:hover {
                color:#333 !important;
}
.faqQuestions {
                background:url(../images/faqhr-back.gif) repeat-x left top;
                padding:10px 0 0 0;
}
.faqQuestions a, .faqQuestions {
                color:#0066A9;
                font-size:12px;
                text-decoration:none;
}
.testimonialTitle {
                font-size:21px;
                color:#FFF;
                padding:0 0 7px 0;
                margin-bottom:10px;
}
.subMenuRow {
                padding-bottom:10px;
                margin-bottom:10px;
                border-bottom:1px solid #CFCFCF;
}
.subMenuLevel2 {
                padding:5px 0 0 12px;
}
.subMenuLevel2, .subMenuLevel2 a, .subMenuLevel2 a:visited, .subMenuLevel2 a:link {
                font-size:12px;
                color:#1D71AD;
                text-decoration:none;
}
.subMenuLevel2 a:hover {
                color:#333333;
}
.subMenuLevel1, .subMenuLevel1 a, .subMenuLevel1 a:link, .subMenuLevel1 a:visited {
                display:block;
                color:#333333;
                font-size:14px;
                font-weight:bold;
}
.subMenuLevel1 a {
                background:url(../images/gray-arrow.gif) no-repeat left 4px;
                padding:0 0 0 12px;
                text-decoration:none;
}
.subMenuLevel1 a:hover {
                color:#1D71AD;
}
.moreForMembersLink {
                background:url(../images/image.gif) no-repeat -702px top;
                width:96px;
                height:96px;
                display:inline-block;
                position:relative;
                top:-20px;
                font-size:1px;
                color:#FFF !important;
                text-decoration:none;
}
a.moreMembers, a.moreMembers:link, a.moreMembers:visited {
                background:url(../images/blue-arrow.gif) no-repeat left 3px;
                margin-top:7px;
                padding:0 0 0 10px;
                display:block;
}
.locatorIcon {
                width:33px;
                height:33px;
                background:url(../images/image.gif) no-repeat -437px -418px;
}
.hopitalNetwork {
                font-size:14px;
}
.hopitalNetwork a {
                font-size:12px;
}
.learnMoreBtnBanner {
                display:block;
                background:url(../images/buttons-back.gif) no-repeat right -35px;
                padding:10px 0 9px 15px;
                color:#FFF !important;
                font-size:14px;
                text-transform:uppercase;
}
.absoluteLeftMenu {
position: absolute;
left: 200px;
top: 0px;
width: 200px;
visibility: hidden;
z-index: 999;
}
.absoluteLeftMenuPad {
                padding:10px;
}
.absoluteLeftMenuPad a, .absoluteLeftMenuPad a:visited, .absoluteLeftMenuPad a:link, .absoluteLeftMenuPad a:hover {
                display:block;
                border-bottom:1px solid #FFF !important;
                color:#FFF;
                font-size:12px;
                text-decoration:none;
                padding-bottom:7px;
                margin-bottom:7px;
                background:none !important;
}
.absoluteLeftMenuPad a.last {
                border-bottom:0px !important;
                padding:0 0 7px 10px !important;
                margin:0px !important;
}
.margBottom15, .investorBanner, .careerBanner, .CSRBanner, .contactBanner, .youAlsoLikeBanner, .tipofTheDayBanner, .leftMenuContainer, .hospitalFiltering {
                margin-bottom:15px;
}
.faqQuestion {
                font-size:16px;
                color:#333333;
                line-height:21px;
                margin-bottom:10px;
}
.faqQuestion span {
                font-weight:bold;
}
.faqAnswer {
                font-size:12px;
                color:#333333;
}
.faqListingCont {
                margin:15px 0 0 0;
}
.contactUsForFree {
                font-size:21px;
                margin-bottom:7px
}
.contactUsButton a {
                display:block;
                background:url(../images/buttons-back.gif) no-repeat right -247px;
                text-decoration:none;
                font-size:1px;
                color:#088FCC;
                width:405px;
                height:51px;
}
.googleMapContainer {
                border:1px solid #A3A3A3;
                margin-bottom:15px;
}
.branchesListing li {
                float:left;
                width:175px;
                border-left:1px solid #B6B6B6;
                padding:0 20px !important;
                margin-bottom:20px !important;
}
.branchesListing li.first {
                padding:0 20px 0 0 !important;
                border-left:0px;
}
.formLabel {
                font-weight:bold;
                margin-bottom:5px;
}
.formContainer input.loginTextField {
                width:307px;
}
.formContainer select.loginSelectList {
                width:323px;
}
.resetButton, .submitButton {
                font-size:14px;
                color:#FFF;
                font-weight:bold;
                display:inline-block;
                padding:7px 50px 10px 50px;
                text-decoration:none;
                margin-left:10px;
                float:right;
				margin-top:20px;
}
.submitButton{
padding:8px 55px 8px 45px;
                
}
.reportAbuseBanner a {
                display:block;
                width:200px;
                background:url(../images/reportabuse-button.gif) no-repeat right top;
                font-size:1px;
                color:#0992CE;
                text-decoration:none;
                height:61px;
}
/*** Suzan ******/
.FloatRight {
                float:right;
                padding-left:10px;
}
.FloatLeft {
                float:left;
                padding-right:10px;
}
.toolbar ul li.first {
                margin-left: 0;
                padding-left: 0;
}
.toolbar ul.set-sharing li a#share-facebook {
                background: white url(../images/bg-social-icons.png) no-repeat -29px 0;
}
.toolbar ul.set-sharing li a#share-google {
                background: white url(../images/bg-social-icons.png) no-repeat 0 0;
                width: 24px;
}
.toolbar ul.set-sharing li a#share-twitter {
                background: white url(../images/bg-social-icons.png) no-repeat -50px 0;
}
.toolbar ul.set-sharing li a#share-linkedin {
                background: white url(../images/bg-social-icons.png) no-repeat -71px 0;
}
.toolbar ul.set-email-print li a#tool-email {
                background: white url(../images/bg-social-icons.png) no-repeat -113px 0;
}
.toolbar ul.set-email-print li a#tool-print {
                background: white url(../images/bg-social-icons.png) no-repeat -134px 0;
}
#bupaWebsite .contentContainer .toolbar ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                font-size: 11px;
                float: right;
}
.toolbar ul li {
                float: right;
                margin: 0 2px;
                font-size:0;
}
.toolbar ul.set-sharing li a, .toolbar ul.set-email-print li a {
                text-indent: -9999px;
}
.toolbar ul.set-sharing li a, .toolbar ul.set-email-print li a {
                display: block;
                width: 16px;
                height: 16px;
}
.pollchartcolor {
                background-color:#0072BC;
                margin:10px 0;
}
.pollchoice {
                margin:5px 0;
}
a.applyNowBtn {
                display:block;
                background:url(../images/image.gif) no-repeat -720px -164px;
                font-size:1px;
                color:#0992CE;
                text-decoration:none;
                width:155px;
                float:left;
                height:51px;
                position:absolute;
                bottom:5px;
                left:20px;
}
.downloadsSep {
                background:url(../images/downloadsSep.gif) center center no-repeat;
                width:14px;
                height:15px;
                font-size:1px;
}

.downloadLink {
                display:block;
                width:15px;
                height:15px;
                background:url(../images/image.gif) no-repeat -720px -225px;
                font-size:1px;
                text-decoration:none;
                color:#00A1E4;
                font-size:0 !important;
                text-decoration:none !important;
}
td.sizeField {
                font-size:12px;
                color:#333333;
                width:80px;
}
.bannerBackCont {
                padding:15px;
                font-size:12px;
                color:#FFF;
}
.bannerContTitle {
                font-size:18px;
                color:#FFF;
                font-weight:bold;
                margin-bottom:10px;
}
.absoluteDomesticText {
                position:absolute;
                left:10px;
                width:160px;
                top:10px;
                background:#FFF;
}
.absoluteDomesticTextPad {
                padding:10px;
}
.downloadAppBanner {
                padding:10px;
                border:1px solid #CCCCCC;
                margin-bottom:15px;
}
.rightMenuTitle {
                background:url(../images/rightmenu-hr.gif) repeat-x left bottom;
                color:#FFF;
}
.rightMenuBtn, .rightMenuBtn a {
                font-size:12px;
                color:#FFFFFF !important;
                font-weight:bold;
}
.rightMenuBtn a, .rightMenuBtn a:visited, .rightMenuBtn a:link {
                display:block;
                border-bottom:1px solid #FFFFFF;
                margin-bottom:7px;
                background:url(../images/rightmenu-arrow.gif) no-repeat left top;
                text-decoration:none;
                padding:0 0 10px 27px;
}
.rightMenuBtn.last  a {
                padding-bottom:5px;
                margin-bottom:0px;
                border-bottom:0px;
}
.rightMenuBtn a:hover, .rightMenuBtn a.selected {
                color:#000;
}
tr.contentTableHeader td {
                font-size:18px;
                font-weight:bold;
}
.hospitalTableContent td {
                font-size:12px;
}
.width145 {
                width:145px;
                margin:0 0 10px 5px;
}
.hospitalFiltering {
                font-size:12px;
                color:#333333;
                padding:10px 10px 10px 10px;
}
.bmiLeftProduct {
                border-right:1px solid #E4E4E4;
                padding-right:20px;
}
.bmiRightProduct {
                padding-left:20px;
}
#bupaWebsite img.picBorder {
                border:1px solid #C6C6C6;
}
.calculateBodyMass {
                background:#E6E6E6;
                padding:10px;
}
.calculateBodyMassTitle {
                font-size:21px !important;
                color:#333333;
                font-weight:bold;
                margin-bottom:10px;
                font-family:Arial;
}
.calculationContainer {
                padding:20px 10px;
                background:#FFF;
}
.calculationField {
                font-size:16px !important;
                color:#333333;
                font-weight:bold;
                padding:7px 7px 0 0;
}
.calculationFieldType {
                font-size:27px !important;
                font-weight:normal;
                color:#333333;
                padding:0 0 0 7px;
}
.calculationFieldBack {
                background:url(../images/image.gif) no-repeat -720px -250px;
                width:160px;
                height:36px;
}
.calculationListBack {
                background:url(../images/image.gif) no-repeat -720px -297px;
                width:120px;
                height:36px;
}
.calculationFieldBack input, .calculationListBack select {
                font-size:16px !important;
                color:#333333 !important;
                width:140px;
                height:30px;
                border:0px;
                background:none;
                margin:0 0 15px 5px;
}
.calculationListBack select {
                height:20px;
                margin:7px 0 0 5px;
                width:110px;
}
.calculateBtn {
                background:url(../images/buttons-back.gif) no-repeat right -438px;
                font-size:14px;
                color:#FFF !important;
                text-decoration:none;
                padding:10px 45px 10px 35px;
                display:inline-block;
                text-transform:uppercase;
                border:none;
                cursor:pointer;
}
.loader {
                border:0px;
                position:absolute;
                z-index:9998;
                left:0px;
                top:0px;
                width:100%;
                height:100%;
                background-color:#F3F5F8;
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=75, FinishOpacity=0, Style=0, StartX=0, FinishX=100, StartY=0, FinishY=100);
                -moz-opacity:.75;
                opacity:.75;
}
.loaderimage {
                position:absolute;
                text-align:center;
                left:49%;
                top:49%;
                z-index: 99999;
}
.progressdiv {
                width:100%;
                margin:0px;
                position:relative;
                clear:both;
}
.error-message {
                color:Red;
}
.pollchartcolor {
                background-color:#0072BC;
                margin:10px 0;
}
.pollchoice {
                margin:5px 0;
}
.yourBMICont {
                background:#ECECEC url(../images/yourbmi-back.gif) repeat-x left top;
                border-bottom:1px solid #E6E6E6;
                border-left:1px solid #E6E6E6;
                border-right:1px solid #E6E6E6;
                font-size:12px !important;
                color:#333333;
                padding:20px 15px;
}
.yourBMITitle {
                font-size:21px !important;
                vertical-align:middle !important;
}
.bmiNumber {
                font-size:27px !important;
                font-weight:bold;

                text-align:right;
}
.genderOptions {
                padding:7px 0 15px 0;
                font-size:14px;
}
.fieldLabelSmall {
                font-size:12px;
                color:#333333;
                margin-bottom:5px;
}
.redColor {
                color:#C20000;
}
.downloadsContainer {
                border:1px solid #CCCCCC;
                padding:25px;
}
.calculateBodyMassTitle td.setNumber {
                font-size:14px;
                font-weight:bold;
                text-align:right;
                vertical-align:middle !important;
}
.testSect {
                font-size:16px;
                font-weight:bold;
                color:#333333;
                margin-bottom:5px;
}
.testOptions {
                font-size:12px;
                color:#333333;
}
.proteinFactorMessage {
                font-size:14px;
                color:#333333;
}
.choicesIndicatorCont {
                background:#E6E6E6;
                padding:15px;
                color:#333333;
                font-size:12px;
}
.landingListing li {
                float:left;
                width:164px;
                margin:0 9px 9px 0 !important;
}
.landingListing li.last {
                margin:0 0 9px 0 !important;

}
.landingListing .landingSectionCont {
                height:292px;
}
.rightMenuCont {
                padding:10px;
}
.ellipse {
                float: left;
}
.container {
                width: 260px;
                float: left;
                margin: 50px 10px 10px;
                padding: 20px;
                background-color: white;
}
.page_navigation, .alt_page_navigation {
                padding-bottom: 10px;
}
.page_navigation {
                display:inline;
}
.active_page {
                background-color:white !important;
                color:black !important;
}
.content, .alt_content {
                color: black;
}
.content li, .alt_content li, .content > p {
                padding: 5px
}
.ellipse, .page_link, .last_link, .first_link {
                display:none;
                font-size:0;
                background:transparent
}
.next_link {
                background: url(../images/buttons-back.gif) no-repeat right -438px;
                font-size: 12px;
                color:white !important;
                text-decoration: none;
                padding: 10px 45px 10px 35px;
                display: inline-block;
                text-transform: uppercase;
                border: none;
                cursor: pointer;
}
.previous_link {
                background: url(../images/buttons-back.gif) no-repeat left -438px;
                font-size: 12px;
                color:white !important;
                text-decoration: none;
                padding: 10px 35px 10px 45px;
                display: inline-block;
                text-transform: uppercase;
                border: none;
                cursor: pointer;
                margin-right:10px
}
.no_more {
                display:none;
}
.content {
                min-height:400px;
}
.contentContainer ul.content li {
                background:none !important;
}
.eCommerceTable td{
                padding:13px 10px;
                font-size:14px;
                color:#333333;
                border-bottom:1px solid #333333;
}
.eCommerceCheckBox{
                text-align:right;
                font-size:12px !important;
}
tr.grayRow td{
                background:#F2F2F2;
}
.eCommerceHighlightTitle{
                font-weight:bold;
                background:url(../images/blue-hr.gif) repeat-x left bottom;
                margin-bottom:15px;
                padding-bottom:10px;
}
.uploadDocument td{
                vertical-align:middle !important;
                font-weight:bold;
                color:#333333;
                font-size:12px;
                padding-right:7px;
}
.uploadDocument input{
                margin:0px;
}
.attachDocument{
                background:url(../images/buttons-back.gif) no-repeat right -35px;
                font-size:14px;
                color:#FFF;
                text-decoration:none;
                display:inline-block;
                padding:10px 35px 10px 15px;
                text-transform:uppercase;
                float:right;
}
.dateOfBirthField{
                width:100px !important;
}
.shareArticle li{
                padding:0px !important;
                background:none !important;
                margin-left:2px !important;
}
.srch-results{
                padding-left:0px !important;
}

.downloadPressRelease{
background: url('/images/downloadPDFList.png') no-repeat 5px 6px;
padding: 6px 0 6px 25px;
}
.downloadPressRelease a:link,.downloadPressRelease a:visited{
color: #0F375E !important;
}

.joinNewsLetter
{
                color:white;
                width:251px;
}
.BigSitemap .footerSection {
width: 186px;
margin: 0 36px 20px 0;
float: left;
}

.BigSitemap .footerMap1 a:link,.BigSitemap .footerMap1 a:visited{
                color:#1D71AD !important;
}
.BigSitemap .footerMap2 a:link,.BigSitemap .footerMap2 a:visited{
                color:#333 !important;
}
.BigSitemap .footerMap2 .footerMap3 a:link,.BigSitemap .footerMap2 .footerMap3 a:visited{
                color:#1D71AD !important;
}

.BigSitemap .footerMap1 {
padding-bottom: 10px;
margin-bottom: 10px;
border-bottom: 1px dotted #333;
}

td.landingSectionCont .ladingText ul li
{
width: 145px;
}

.contentContainer ul li{
                background:url(../images/contentbullet-green.gif) no-repeat left 4px;
}

.contentContainer .BigSitemap ul li{
                background:none !important;
}

.contentContainer .branchesListing ul li{
                background:none !important;
}

#bupaWebsite .contentContainer ul li.dfwp-item{
                background:none;
}
#bupaWebsite .contentContainer ul.dfwp-list{
                padding:0 !important;
}


.contentImage{
                float:left;
                margin:0 10px 10px 0;
}
body#bupaWebsite .srch-Title2{
                font-size:18px;
}
body#bupaWebsite .srch-Title3{
                padding-left:0;
}
body#bupaWebsite .srch-Title2 a:link, body#bupaWebsite .srch-Title2 a:visited{
                color:#0F375E !important;
}

body#bupaWebsite .srch-Title2 a:hover{
                color:#333333 !important;
                text-decoration:none;
                
}
body#bupaWebsite .srch-Icon{
                display:none;
}
body#bupaWebsite .srch-Description2{
                font-size:12px;
                color:#333333;
                margin-left:0;
}
body#bupaWebsite .srch-Metadata2{
font-size:11px;
color:#7A7A7A;
margin-top:5px;
margin-left:0;
}
body#bupaWebsite .faqAnswer a{ 
color:#0072BC;
}
body#bupaWebsite .srch-Metadata1{
                background: url("../images/navy-arrow.gif") no-repeat scroll left 4px transparent;
    color: #0F375E;
    padding:0 0 0 10px;
    margin-left:0;
}
.clearFix{
                clear:both;
}
body#bupaWebsite .srch-URL2, body#bupaWebsite span.srch-urllink a:link, body#bupaWebsite .srch-urllink a:visited{
    color: #0F375E !important;
} 
body#bupaWebsite .srch-Page strong, body#bupaWebsite .srch-Page a:link, body#bupaWebsite .srch-Page a:visited{
                display:inline-block;
                padding:3px 7px;
                margin:0 7px 0 0;
                border:0 none;
                float:none;
}
body#bupaWebsite .srch-Page a:link, body#bupaWebsite .srch-Page a:visited{
                color:#0066A9;
}
body#bupaWebsite .srch-Page{
                text-align:center;
                padding:0.7em 0;
}
body#bupaWebsite .srch-Page a:hover, body#bupaWebsite .srch-Page strong{
                color:#fff !important;
                background:#0066A9;
}
body#bupaWebsite .srch-stats{
                margin:0 0 10px 0;
}
body#bupaWebsite .srch-results, body#bupaWebsite .srch-Description2{
                max-width:100%;
}

.rightMenuCont{
                background:#EF8900;
}

.contentContainer a{
                color:#00ADED
}
.contentContainer a:hover{
                color:#333;
}


.mainMenu .menuArrow {
position: absolute;
bottom: -5px;
height: 6px;
width: 11px;
left: 50%;
margin: 0 0 0 -5px;
display: none;
background: url(../images/menu-arrow.png) 0 0 no-repeat;
}.mainMenu.selected .menuArrow {
display: block;
}


.contentContainer a.resetButton,.contentContainer a.submitButton{
                color:#fff !important;
}


#bupaWebsite .contentContainer ul li.dfwp-item
{
    padding:0;
}


.homeLink.selected .menuArrow{
display: block;
}
.homeLink .menuArrow{
position: absolute;
bottom: -5px;
height: 6px;
width: 11px;
left: 50%;
margin: 0 0 0 -5px;
display: none;
background: url(../images/menu-arrow.png) 0 0 no-repeat;
}
input[type=radio]{
   margin:2px 3px 3px 0;
}

.dynamicValidator
{
    display:inline;
}

#bupaWebsite .contentContainer ul.dfwp-list li
{

display:inline;
float:left;
padding:0 !important;
background:none;
}	

.other-tool-container
{
	margin-right: 20px !important;
	border-right:1px solid #E4E4E4;
	padding-right: 20px !important;
}