.pageTitle{
	background:#005D2E;
}
.breadCrumb a,.breadCrumb a:visited,.breadCrumb a:link{
	color:#005D2E;
}
div.leftMenuBtn a,div.leftMenuBtn a:link,div.leftMenuBtn a:visited{
	background:#007A3D;
}
div.leftMenuBtn a:hover,div.leftMenuBtn a.selected{
	background:#005D2E;
	border-bottom:1px solid #005D2E;
}
.floatRightSlogan{
	background:#BFE1E1 url(../images/slogan-back-lightgreen.gif) no-repeat left bottom;
}
.leftSubMenu{
	background:#FFF;
	border-bottom:5px solid #005D2E;
	border-left:5px solid #005D2E;
	border-right:5px solid #005D2E;
}
.leftSubMenu,.leftSubMenu a,.leftSubMenu a:link,.leftSubMenu a:visited{
	color:#005D2E;
}
#bupaWebsite h2,h2.newsTitle a,h2.newsTitle a:visited,h2.newsTitle a:link{
	color:#005D2E;
}
h1.newsDetailsTitle{
	color:#005D2E !important;
}
.articleSource a{
	color:#005D2E !important;
}
.youAlsoLikeBanner,.highlightText{
	background:#BFD6CB;
}
.likeLinks,.likeLinks a,.likeLinks a:visited,.likeLinks a:link{
	color:#005D2E;
}
.backButton a{
	background:url(../images/backarrow-green.gif) no-repeat left 4px;
	color:#005D2E;
}
.newsListing div.mostReadMoreLink a,.factSheetDetails div.mostReadMoreLink a{
	color:#005D2E;
	background:url(../images/green-arrow.gif) no-repeat left 4px;
}
.factSheetDetails div.mostReadTitle a{
	color:#005D2E;
}
.contentContainer h2{
	color:#005D2E !important;
}
.contentContainer ul li{
	background:url(../images/contentbullet-green.gif) no-repeat left 4px;
}
.toolsTitle,.toolsTitle a,.toolsTitle a:link,.toolsTitle a:visited{
	color:#007A3D;
}
.toolsLink a{
	background:url(../images/green-arrow.gif) no-repeat left 10px;
	color:#007A3D !important;
}
.landingContainer{
	border:10px solid #007A3D;
}
.landingSectTitle{
	color:#007A3D;
}
.landingSectTitle a,.landingSectTitle a:link,.landingSectTitle a:visited{
	color:#007A3D;
}
.ladingText ul li{
	background:url(../images/green-arrow.gif) no-repeat left 4px;
	color:#007A3D;
}
.ladingText ul li a,.ladingText ul li a:link,.ladingText ul li a:visited{
	color:#007A3D;
}
.landingInternalLink a,.landingInternalLink a:link,.landingInternalLink a:visited{
	color:#007A3D;
	background:url(../images/green-arrow.gif) no-repeat left 11px;
}