#Helpslider {
	width:310px;
	height:285px;
	overflow-y: auto;
	overflow-x: hidden;
}
#helpSliderCont .anythingSlider-default .arrow {
	top:265px !important;
	position: absolute;
	display: block;
}
#helpSliderCont .anythingSlider-default .arrow a {
	display: block;
	text-align: center;
	outline: 0;
	font-size:1px;
	width:26px;
	height:27px;
	text-decoration:none;
}
#helpSliderCont .anythingSlider-default .back{
	background:url(../images/image.gif) left -127px;
	right:77px;
}
#helpSliderCont .anythingSlider-default .forward{
	background:url(../images/image.gif) -54px -127px;
	right:23px;
}
#helpSliderCont .anythingSlider {
	display: block;
	overflow: visible !important;
	position: relative;
}
#helpSliderCont .anythingSlider .anythingWindow {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}
#helpSliderCont .anythingSlider .anythingBase {
	background: transparent;
	list-style: none;
	position: absolute;
	overflow: visible !important;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}
#helpSliderCont .anythingSlider .arrow span {
	display: block;
	visibility: hidden;
}
#helpSliderCont .anythingSlider .arrow.disabled {
	display: none;
}
#helpSliderCont .anythingSlider .panel {
	background: transparent;
	display: block;
	overflow: hidden;
	float: left;
	padding: 0;
	margin: 0;
}
#helpSliderCont .anythingSlider .vertical .panel {
	float: none;
}
#helpSliderCont .anythingSlider .fade .panel {
	float: none;
	opacity: 0;
	filter: alpha(opacity=0);
	position: absolute;
	top: 0;
	left: 0;
}
#helpSliderCont .anythingSlider .fade .activePage, .anythingSlider .fade .visiblePage {
	opacity: 1;
	filter: alpha(opacity=100);
	z-index:2;
}
#helpSliderCont .arrow,#helpSliderCont .start-stop{
	display:none !important;
}
.anythingControls{
	position:absolute;
	right:0px;
	top:15px;
}
#helpSliderCont .anythingSlider-default .anythingControls ul li{
	display:inline;
}
#helpSliderCont .anythingSlider-default .anythingControls ul a {
	display: inline-block;
	text-decoration: none;
	margin: 0 5px 0 0;
	text-align: center;
	outline: 0;
	background:url(../images/image.gif) no-repeat -288px -418px;
	width:7px;
	height:7px;
	font-size:1px;
	color:#B0B0B0;
}
#helpSliderCont .anythingSlider-default .anythingControls ul a:hover,#helpSliderCont .anythingSlider-default .anythingControls ul a.cur{
	background:url(../images/image.gif) no-repeat -271px -418px;
	color:#00A1E4;
}