#slider {
	width:995px;
	height:326px;
	overflow-y: auto;
	overflow-x: hidden;
}
.homeSlider .anythingControls{
	top:0px !important;
}
.anythingSlider-default .anythingControls a span {
	visibility: visible;
}
.anythingSlider-default .arrow {
	top:265px !important;
	position: absolute;
	display: block;
}
.anythingSlider-default .arrow a {
	display: block;
	text-align: center;
	outline: 0;
	font-size:1px;
	width:26px;
	height:27px;
	text-decoration:none;
	color:#E8E8E8 !important;
}
.anythingSlider-default .back{
	background:url(../images/image.gif) left -127px;
	right:77px;
}
.anythingSlider-default .forward{
	background:url(../images/image.gif) -54px -127px;
	right:23px;
}
.anythingSlider-default .anythingControls .anythingNavWindow {
	overflow: hidden;
	float: left;
}
.anythingSlider-default .anythingControls .start-stop {
	width:26px;
	text-align: left;
	text-decoration: none;
	font-size:1px;
	height:27px;
	position:absolute;
	right:50px;
	top:265px;
	color:#E8E8E8;
}
.anythingSlider-default .anythingControls a.start-stop {
	background:url(../images/image.gif) no-repeat -81px -127px;
}
.anythingSlider-default .anythingControls a.start-stop.playing {
	background:url(../images/image.gif) no-repeat -27px -127px;
}
.anythingSlider {
	display: block;
	overflow: visible !important;
	position: relative;
}
.anythingSlider .anythingWindow {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}
.anythingSlider .anythingBase {
	background: transparent;
	list-style: none;
	position: absolute;
	overflow: visible !important;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}
.anythingSlider .panel {
	background: transparent;
	display: block;
	overflow: hidden;
	float: left;
	padding: 0;
	margin: 0;
}
.homeSlider ul.thumbNav{
	display:none !important;
}