.pageTitle{
	background:#008789;
}
.breadCrumb a,.breadCrumb a:visited,.breadCrumb a:link{
	color:#008789;
}
div.leftMenuBtn a,div.leftMenuBtn a:link,div.leftMenuBtn a:visited{
	background:#40A5A7;
}
div.leftMenuBtn a:hover,div.leftMenuBtn a.selected{
	background:#008789;
	border-bottom:1px solid #008789;
}
.floatRightSlogan{
	background:#BFE1E1 url(../images/slogan-back-lightgreen.gif) no-repeat left bottom;
}
.leftSubMenu{
	background:#FFF;
	border-bottom:5px solid #008789;
	border-left:5px solid #008789;
	border-right:5px solid #008789;
}
.leftSubMenu,.leftSubMenu a,.leftSubMenu a:link,.leftSubMenu a:visited{
	color:#008789;
}
#bupaWebsite h2,h2.newsTitle a,h2.newsTitle a:visited,h2.newsTitle a:link{
	color:#008789;
}
h1.newsDetailsTitle{
	color:#008789;
}
.articleSource a{
	color:#008789 !important;
}
.youAlsoLikeBanner,.highlightText,.hospitalFiltering{
	background:#CCE7E7;
}
.likeLinks,.likeLinks a,.likeLinks a:visited,.likeLinks a:link{
	color:#008789;
}
.backButton a{
	background:url(../images/backarrow-navy.gif) no-repeat left 4px;
	color:#008789;
}
.newsListing div.mostReadMoreLink a{
	color:#0F375E;
	background:url(../images/navy-arrow.gif) no-repeat left 4px;
}
.landingContainer{
	border:10px solid #008789;
}
.landingSectTitle{
	color:#008789;
}
.landingSectTitle a,.landingSectTitle a:link,.landingSectTitle a:visited{
	color:#008789;
}
.ladingText ul li{
	background:url(../images/lightgreen-arrow.gif) no-repeat left 4px;
	color:#008789;
}
.ladingText ul li a,.ladingText ul li a:link,.ladingText ul li a:visited{
	color:#008789;
}
.landingInternalLink a,.landingInternalLink a:link,.landingInternalLink a:visited,.landingLinks a,.landingLinks a:link,.landingLinks a:visited{
	color:#008789;
	background:url(../images/lightgreen-arrow.gif) no-repeat left 10px;
}