.pageTitle{
	background:#01AEF0;
}
.breadCrumb a,.breadCrumb a:visited,.breadCrumb a:link,.branchesTitle{
	color:#01AEF0;
}
div.leftMenuBtn a,div.leftMenuBtn a:link,div.leftMenuBtn a:visited{
	background:#41C2F4;
}
div.leftMenuBtn a:hover,div.leftMenuBtn a.selected,div.leftMenuBtn a.leftMenuHighlight{
	background:#01AEF0;
}
.floatRightSlogan,.rightTestimonial{
	background:#01AEF0 url(../images/slogan-back-lightblue.gif) no-repeat left bottom;
}
.testimonialTitle {
	background:url(../images/testimonial-hr-lightblue.gif) repeat-x bottom left;
}
.leftSubMenu{
	background:#FFF;
	border-bottom:5px solid #01AEF0;
	border-left:5px solid #01AEF0;
	border-right:5px solid #01AEF0;
}
.leftSubMenu,.leftSubMenu a,.leftSubMenu a:link,.leftSubMenu a:visited{
	color:#01AEF0;
}
#bupaWebsite h2,h2.newsTitle a,h2.newsTitle a:visited,h2.newsTitle a:link{
	color:#01AEF0;
}
h1.newsDetailsTitle{
	color:#01AEF0;
}
.articleSource a{
	color:#01AEF0 !important;
}
.youAlsoLikeBanner,.highlightText,.eCommerceHighlight{
	background:#BFEBFB;
}
.likeLinks,.likeLinks a,.likeLinks a:visited,.likeLinks a:link{
	color:#01AEF0;
}
.backButton a{
	background:url(../images/backarrow-navy.gif) no-repeat left 4px;
	color:#01AEF0;
}
.newsListing div.mostReadMoreLink a{
	color:#01AEF0;
	background:url(../images/navy-arrow.gif) no-repeat left 4px;
}
.absoluteLeftMenu{
	background:#01AEF0;
}
.absoluteLeftMenuPad a:hover{
	color:#41C2F4 !important;
}
.careerBanner span,.careerBanner span a,.careerBanner span a:active,.careerBanner span a:visited{
	font-weight:bold;
	color:#01AEF0;
	text-decoration:none;
}
.formContainer input.loginTextField,.formContainer select.loginSelectList{
	color:#01AEF0 !important;
}
.resetButton{
	background:url(../images/buttons-back.gif) no-repeat right -511px;
}
.submitButton{
	background:url(../images/buttons-back.gif) no-repeat right -476px;
}
.rightMenuCont{
	background:#009EE0;
}



/************************************UPDATES*********************************/
.landingContainer{
	border:10px solid #01AEF0;
	}
.coloredBottomTitle{
	background:url(../images/coloredBottomTitle-lightblue.gif) 0 bottom repeat-x;
	}
.rightMoreLink{
	color:#01aef0;
	background:url(../images/morelink-lightblue.gif) 0 3px no-repeat;
	}
.contentTable2 th{
	background:url(../images/coloredBottomTitle-lightblue.gif) 0 bottom repeat-x;
	}
