.pageTitle{
	background:#0F375E;
}
.breadCrumb a,.breadCrumb a:visited,.breadCrumb a:link,.branchesTitle{
	color:#0F375E;
}
div.leftMenuBtn a,div.leftMenuBtn a:link,div.leftMenuBtn a:visited{
	background:#4B6986;
}
div.leftMenuBtn a:hover,div.leftMenuBtn a.selected,div.leftMenuBtn a.leftMenuHighlight{
	background:#0F375E;
}
.floatRightSlogan{
	background:#C3CDD7 url(../images/slogan-back-navy.gif) no-repeat left bottom;
}
.leftSubMenu{
	background:#FFF;
	border-bottom:5px solid #0F375E;
	border-left:5px solid #0F375E;
	border-right:5px solid #0F375E;
}
.leftSubMenu,.leftSubMenu a,.leftSubMenu a:link,.leftSubMenu a:visited{
	color:#0F375E;
}
#bupaWebsite h2,h2.newsTitle a,h2.newsTitle a:visited,h2.newsTitle a:link{
	color:#0F375E;
}
h1.newsDetailsTitle{
	color:#0F375E;
}
.articleSource a{
	color:#0F375E !important;
}
.youAlsoLikeBanner,.highlightText{
	background:#C3CDD7;
}
.likeLinks,.likeLinks a,.likeLinks a:visited,.likeLinks a:link{
	color:#0F375E;
}
.backButton a{
	background:url(../images/backarrow-navy.gif) no-repeat left 4px;
	color:#0F375E;
}
.newsListing div.mostReadMoreLink a{
	color:#0F375E;
	background:url(../images/navy-arrow.gif) no-repeat left 4px;
}
.absoluteLeftMenu{
	background:#0F375E;
}
.absoluteLeftMenuPad a:hover{
	color:#4B6986 !important;
}
.careerBanner span,.careerBanner span a,.careerBanner span a:active,.careerBanner span a:visited{
	font-weight:bold;
	color:#0F375E;
	text-decoration:none;
}
.formContainer input.loginTextField,.formContainer select.loginSelectList{
	color:#0F375E !important;
}
.resetButton{
	background:url(../images/buttons-back.gif) no-repeat right -368px;
}
.submitButton{
	background:url(../images/buttons-back.gif) no-repeat right -403px;
}
.landingContainer{
	border:10px solid #0F375E;
}
.landingSectTitle{
	color:#0F375E;
}
.landingSectTitle a,.landingSectTitle a:link,.landingSectTitle a:visited{
	color:#0F375E;
}
.ladingText ul li{
	background:url(../images/navy-arrow.gif) no-repeat left 4px;
	color:#0F375E;
}
.ladingText ul li a,.ladingText ul li a:link,.ladingText ul li a:visited{
	color:#0F375E;
}
.landingInternalLink a,.landingInternalLink a:link,.landingInternalLink a:visited,.landingLinks a,.landingLinks a:link,.landingLinks a:visited{
	color:#0F375E;
	background:url(../images/navy-arrow.gif) no-repeat left 10px;
}