.pageTitle {
	background:#EF8900;
}
.breadCrumb a, .breadCrumb a:visited, .breadCrumb a:link {
	color:#B85D03;
}
div.leftMenuBtn a, div.leftMenuBtn a:link, div.leftMenuBtn a:visited {
	background:#EF8900;
}
div.leftMenuBtn a:hover, div.leftMenuBtn a.selected {
	background:#B85D03;
	border-bottom:1px solid #B85D03;
}
.floatRightSlogan, .rightTestimonial {
	background:#EF8900 url(../images/slogan-back-orange.gif) no-repeat right bottom;
}
.testimonialTitle {
	background:url(../images/testimonial-hr-orange.gif) repeat-x bottom left;
}
.absoluteLeftMenu {
	background:#EF8900;
}
.absoluteLeftMenuPad a:hover {
	color:#B85D03!important;
}
.contentContainer ul li {
	background:url(../images/contentbullet-green.gif) no-repeat left 4px;
}
.leftSubMenu {
	background:#FFF;
	border-bottom:5px solid #B85D03;
	border-left:5px solid #B85D03;
	border-right:5px solid #B85D03;
}
.leftSubMenu, .leftSubMenu a, .leftSubMenu a:link, .leftSubMenu a:visited {
	color:#EF8900;
}
#bupaWebsite h2, h2.newsTitle a, h2.newsTitle a:visited, h2.newsTitle a:link, #bupaWebsite h2 a:link {
	color:#EF8900;
}
.articleSource a {
	color:#EF8900 !important;
}
.youAlsoLikeBanner, .highlightText, .hospitalFiltering {
	background:#FBE1BF;
}
.likeLinks, .likeLinks a, .likeLinks a:visited, .likeLinks a:link {
	color:#EF8900;
}
.backButton a {
	background:url(../images/backarrow-orange.gif) no-repeat left 4px;
	color:#B85D03;
}
.newsListing div.mostReadMoreLink a,.factSheetDetails div.mostReadMoreLink a {
	color:#EF8900;
	background:url(../images/orange-arrow.gif) no-repeat left 4px;
}
.orangeLinks a {
	color:#EF8900;
	background:url(../images/lightorange-arrow.gif) no-repeat left 4px;
}
.factSheetDetails div.mostReadTitle a {
	color:#EF8900;
}
.contentContainer h2, #bupaWebsite h2 a:link, #bupaWebsite h2 a:visited {
	color:#B85D03 !important;
}
.contentContainer ul li {
	background:url(../images/contentbullet-orange.gif) no-repeat left 4px;
}
.toolsTitle, .toolsTitle a, .toolsTitle a:link, .toolsTitle a:visited {
	color:#EF8900;
}
.toolsLink a:link, .toolsLink a:visited {
	background:url(../images/orange-arrow.gif) no-repeat left 10px;
	color:#EF8900 !important;
}
.landingContainer {
	border:10px solid #EF8900;
}
.landingSectTitle {
	color:#EF8900;
}
.landingSectTitle a, .landingSectTitle a:link, .landingSectTitle a:visited {
	color:#B85D03;
}
#bupaWebsite .contentContainer ul.dfwp-list li .ladingText ul li {
	background:url(../images/orange-arrow.gif) no-repeat left 4px;
	color:#B85D03;
	display:block !important;
	float:none !important;
}
.ladingText ul li {
	background:url(../images/orange-arrow.gif) no-repeat left 4px;
	color:#B85D03;
}
.ladingText ul li a, .ladingText ul li a:link, .ladingText ul li a:visited {
	color:#B85D03;
}
.landingInternalLink a, .landingInternalLink a:link, .landingInternalLink a:visited, .landingLinks a, .landingLinks a:link, .landingLinks a:visited {
	color:#B85D03;
	background:url(../images/orange-arrow.gif) no-repeat left 10px;
}
.productApplyNowButton {
	background:url(../images/buttons-back.gif) no-repeat right -204px;
	color:#FFF;
}
.tableHighlightCell {
	background:#FBE1BF;
}
#bupaWebsite h1.newsDetailsTitle, #bupaWebsite .contentContainer h1 {
	color:#B85D03 !important;
}
.formContainer input.loginTextField, .formContainer select.loginSelectList {
	color:#0F375E !important;
}
.resetButton {
	background:url(../images/buttons-back.gif) no-repeat right -298px;
}
.submitButton {
	background:url(../images/buttons-back.gif) no-repeat right -333px;
}
.bannerBackCont {
	background:#EF8900;
}
.rightMenuCont {
	background:#EF8900;
}
tr.contentTableHeader td {
	color:#B85D03;
}
.dahsboardTitle,.emailsTable td a:hover{
	color:#B85D03 !important;
}
.orangeTips{
	background:#EF8900;
}