﻿body
{
    font-family: Arial;
}

/* Text Box with Side Image: */
input
{
    background-color: #eff6fc;
    background-repeat: no-repeat;
    background-position: left;
    border: 1px solid #6297BC;
    margin-left: 0px;
}

select option
{
    background-color: #eff6fc;
    
}

select option.alt
{
    background-color: #eff6fc;
}
