/*

	Supersized - Fullscreen Slideshow jQuery Plugin
	Version : 3.2.7
	Site	: www.buildinternet.com/project/supersized
	
	Author	: Sam Dunn
	Company : One Mighty Roar (www.onemightyroar.com)
	License : MIT License / GPL License
	
*/

* {
	margin: 0;
	padding: 0;
}
body {
	height: 100%;
}
img {
	border: none;
}
#supersized-loader {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 0;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	text-indent: -999em;
	background: url(../img/progress.gif) no-repeat center center;
}
#supersized {
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	overflow: hidden;
	z-index: -999;
	height: 100%;
	width: 100%;
}
#supersized img {
	width: auto;
	height: auto;
	position: relative;
	display: none;
	outline: none;
	border: none;
}
#supersized.speed img {
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: -moz-crisp-edges;
}	/*Speed*/
#supersized.quality img {
	-ms-interpolation-mode: bicubic;
	image-rendering: optimizeQuality;
}			/*Quality*/
#supersized li {
	display: block;
	list-style: none;
	z-index: -30;
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #111;
}
#supersized a {
	width: 100%;
	height: 100%;
	display: block;
}
#supersized li.prevslide {
	z-index: -20;
}
#supersized li.activeslide {
	z-index: -10;
}
#supersized li.image-loading {
	background: #111 url(../img/progress.gif) no-repeat center center;
	width: 100%;
	height: 100%;
}
#supersized li.image-loading img {
	visibility: hidden;
}
#supersized li.prevslide img, #supersized li.activeslide img {
	display: inline;
}
.dk-select, .dk-select *, .dk-select *:before, .dk-select *:after, .dk-select-multi, .dk-select-multi *, .dk-select-multi *:before, .dk-select-multi *:after {
	-prefix-box-sizing: border-box;
	-prefix-box-sizing: border-box;
	box-sizing: border-box;
}
.dk-select, .dk-select-multi {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	cursor: pointer;
}
.dk-select {
	color: #636466;
}
.dk-selected {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	-prefix-text-overflow: ellipsis;
	text-overflow: ellipsis;
	color:#fff;
}
.dk-selected:before, .dk-selected:after {
	content: '';
	display: block;
	position: absolute;
	right: 0;
}
.dk-selected:before {
	top: 43%;
	border: solid transparent;
	border-width: 7.5px 7.5px 0;
	border-top-color: #fff;
	margin: 0 0 -0.225em 0;
}
.dk-selected:after {
	top: 0;
	height: 100%;
	margin: 0 1.5em 0 0;
}
.dk-selected-disabled {
	color: #BBBBBB;
}
.dk-select .dk-select-options {
	position: absolute;
	display: none;
	left: 0;
}
.dk-select-open-up .dk-select-options {
	border-radius: 0.4em 0.4em 0 0;
	margin-bottom: -1px;
	bottom: 100%;
}
.dk-select-open-down .dk-select-options {
	border-radius: 0 0 0.4em 0.4em;
	margin-top: -1px;
	top: 100%;
}
.dk-select-multi .dk-select-options {
	max-height: 10em;
}
.dk-select-options {
	width: 100%;
	z-index: 100;
	background-color: white;
	border: 1px solid #CCCCCC;
	border-radius: 0.4em;
	overflow-x: hidden;
	max-height: 10.5em;
	list-style: none;
	padding: 0.25em 0;
	margin: 0;
}
.dk-option-selected {
	background-color: #6988a8;
	color: #fff;
}
.dk-select-options-highlight .dk-option-selected {
	background-color: transparent;
	color: inherit;
}
.dk-option {
	padding: 0 0.5em;
}
.dk-select-options .dk-option-highlight {
	background-color: #6988a8;
	color: #fff;
}
.dk-select-options .dk-option-disabled {
	color: #BBBBBB;
	background-color: transparent;
}
.dk-optgroup {
	border: solid #CCCCCC;
	border-width: 1px 0;
	padding: 0.25em 0;
	margin-top: 0.25em;
}
.dk-optgroup + .dk-option {
	margin-top: 0.25em;
}
.dk-optgroup + .dk-optgroup {
	border-top-width: 0;
	margin-top: 0;
}
.dk-optgroup:nth-child(2) {
	padding-top: 0;
	border-top: none;
	margin-top: 0;
}
.dk-optgroup:last-child {
	border-bottom-width: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}
.dk-optgroup-label {
	padding: 0 0.5em 0.25em;
	font-weight: bold;
	width: 100%;
}
.dk-optgroup-options {
	list-style: none;
	padding-left: 0;
}
.dk-optgroup-options li {
	padding-left: 1.2em;
}
.dk-select-open-up .dk-selected {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-color: #6988a8;
}
.dk-select-open-down .dk-selected {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-color: #6988a8;
}
.dk-select-open-up .dk-selected:before, .dk-select-open-down .dk-selected:before {
	border-width: 0 7.5px 7.5px;
	border-bottom-color: #fff;
}
.dk-select-open-up .dk-selected:after, .dk-select-open-down .dk-selected:after {
	border-left-color: #6988a8;
}
.dk-select-open-up .dk-select-options, .dk-select-open-down .dk-select-options, .dk-select-multi:focus .dk-select-options {
	display: block;
	border-color: #6988a8;
}
.dk-select-multi:hover, .dk-select-multi:focus {
	outline: none;
}
.dk-selected:hover, .dk-selected:focus {
	outline: none;
	border-color: #6988a8;
}
.dk-selected:hover:before, .dk-selected:focus:before {
	border-top-color: #fff;
}
.dk-selected:hover:after, .dk-selected:focus:after {
	border-left-color: #6988a8;
}
.dk-select-disabled {
	opacity: 0.6;
	color: #BBBBBB;
	cursor: not-allowed;
}
.dk-select-disabled .dk-selected:hover, .dk-select-disabled .dk-selected:focus {
	border-color: inherit;
}
.dk-select-disabled .dk-selected:hover:before, .dk-select-disabled .dk-selected:focus:before {
	border-top-color: inherit;
}
.dk-select-disabled .dk-selected:hover:after, .dk-select-disabled .dk-selected:focus:after {
	border-left-color: inherit;
}
select[data-dkcacheid] {
	display: none;
}


/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
	font-family: 'flexslider-icon';
	src:url('fonts/flexslider-icon.eot');
	src:url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
		url('fonts/flexslider-icon.woff') format('woff'),
		url('fonts/flexslider-icon.ttf') format('truetype'),
		url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0;position: relative; zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { background:url(../images/sprite.png) 0 0 no-repeat;display: block; width: 30px; height: 27px; margin: -13.5px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 1; cursor: pointer; color: rgba(0,0,0,0.8); text-indent:-999px; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav .flex-prev { left: -30px; background-position:-108px -713px; }
.flex-direction-nav .flex-next { right: -30px; background-position:-108px -683px; }
.flex-direction-nav .flex-prev:hover { background-position:-135px -713px; }
.flex-direction-nav .flex-next:hover { background-position:-135px -683px; }
.flex-direction-nav .flex-disabled { display:none !important;}

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 2px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 12px; height: 12px; display: block; background: #fff; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}
