﻿body {
}
 .modalBackground

    {
        background-color: #111111;
        filter: alpha(opacity=60);
        opacity: 0.6;
    }

    .modalPopup
    {
        background-color: #FFFFFF;
        width: 565px;
        border: 3px solid #00AEF7;
        border-radius: 12px;
        padding:0
    }

    .modalPopup .header
    {
        background-color: #00AEF7;
        height: 30px;
        color: White;
        line-height: 30px;
        text-align: center;
        font-weight: bold;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        font-family:Verdana;
        font-size:8pt;
    }

    .modalPopup .body
    {
        min-height: 50px;
        line-height: 30px;
        text-align: center;
        font-weight: bold;
        font-family:Verdana;
        font-size:8pt;
    }

    .modalPopup .footer
    {
        padding: 6px;
    }

    .modalPopup .yes, .modalPopup .no
    {
        height: 23px;
        color: White;
        line-height: 23px;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
        border-radius: 4px;
        font-family:Verdana;
        font-size:8pt;
   }

    .modalPopup .yes
    {
        background-color: #211222;
        border: 1px solid #121111;
    }

    .modalPopup .no
    {
        background-color: #111111;
        border: 1px solid #333333;
    }