/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent}
body{line-height:1}
ol, ul{list-style:none}
blockquote, q{quotes:none}
blockquote:before, blockquote:after,
q:before, q:after{content:''; content:none}
/* remember to define focus styles! */
:focus{outline:0}
.clearfix{clear:both;}
/* remember to highlight inserts somehow! */
ins{text-decoration:none}
del{text-decoration:line-through}
/* tables still need 'cellspacing="0"' in the markup */
table{border-collapse:collapse; border-spacing:0}
html {height:100%; width: 100%; min-width:100%}
input, textarea{font:16px/22px Tahoma,Arial,sans-serif;}
/* EOF CSS Reset */

@font-face {
    font-family: pirulen;
    src: url(fonts/pirulen.ttf);
}

body {
  background: #333333;
}

p {
  margin: 10px;
}


h1 {
    color: #FFFFFF;
    font: 36px Pirulen,Arial,sans-serif;
    text-align: center;
    text-shadow: 0 4px 7px #000000;
}

h2 {
    color: #F9F9F9;
    font: 26px Pirulen,Arial,sans-serif;
    text-align: center;
    text-shadow: 0 4px 7px #000000;
}

h3 {
    color: #F9F9F9;
    font: 16px Pirulen,Arial,sans-serif;
    margin: 0 0 10px 10px;
    text-align: left;
    margin: 0px 0px 10px 10px;
    text-shadow: 0 4px 7px #000000;
}

#header {
  padding-top: 10px;
}

#header h2{
   border-top: 1px solid #DDDDDD;
   margin: 5px auto;
   width: 340px;
}

.content {
  width: 400px;
  margin: 20px auto;
  background:#111;
  opacity: 0.8;
  border: 4px groove #000;
  padding: 10px;
  color: #555;
}

.round {
  -moz-border-radius: 2em 0.5em 2em 0.5em;
  border-radius: 2em 0.5em 2em 0.5em;
}

