﻿body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    height: 1000px;
    padding-top: 10px;
    padding-left:50px;
    padding-right:50px;
}

#container {
    min-height: 100%;
    position: relative;
}

#header {
    padding-top: 10px;
    background-color: white;
    background-image: url('../images/BackendMaster2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    width: 1145px;
    top: 0;
    height: 210px;
    padding-left: 0px;
}

#body {
    padding-bottom: 60px; /* Height of the footer */
    /*background-color: #F7F5F3;*/
      width: 1145px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 14px 0px;
    text-decoration: none;
    color: #fff;
    background: #5B5758;
    text-align: center;
    font-size: 11px;
}

.logo {
    vertical-align: top;
    width: 141px;
    height: 141px;
}

.header1 {
    padding-top: 10px;
    background-color: white;
    background-image: url('css/images/BackendMaster.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 995px;
    top: 0;
    height: 209px;
    padding-left: 0px;
}

.TitleBackground {
    position: absolute;
    padding-top: 10px;
    margin-top: 165px;
    display: inline;
    background-color: #0079C8;
    width: 350px;
    height: 35px;
}

.Heading {
    font-family: Arial;
    Font-Size: XX-Large;
    color: White;
    padding-left: 10px;
}

.headerMenu {
    position: absolute;
    padding-top: 10px;
    margin-top: 165px;
    padding-left: 10px;
    margin-left: 350px;
    background-color: #0079C8;
    width: 62%;
    display: inline;
    height: 35px;
}

.footer {
    width: 995px;
    background: #5B5758;
    text-align: center;
    position: absolute;
    vertical-align: middle;
    padding: 14px 0px;
    text-decoration: none;
    color: #fff;
    bottom: 0;
}

.copyrightContainerPad {
    padding: 14px 22px;
    bottom: 0;
    position: absolute;
}

.copyrightContainer {
    background: #5B5758;
}

.footerLinks a {
    color: #fff;
    text-decoration: none;
}

.footerLinks td a:hover {
    color: #00a1e4;
}

.pageLayout {
    width: 995px;
    margin-left: 8%;
    margin-right: 8%;
    font-family: Arial;
    position: inherit;
    display: inline-block;
    align-content: center;
}


.pageBody {
    position: absolute;
    margin: 0;
    padding: 0;
    height: auto;
    top: 220px;
    min-height: 550px;
    max-height: 100%;
    display: inline-block;
}

.contentBodyBackend {
    width: 850px; /*chnaged from 80%*/
   padding-left:50px;
    min-height: 550px;
    max-height: 100%;
}

.menulist {
    position: absolute;
    margin: 0;
    background-color: deepskyblue;
    width: 250px; /*chnaged from 20%*/
    min-height: 500px;
}




ul.mainMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    padding-bottom: 5PX;
}

    ul.mainMenu .ListDisplay {
        float: left;
        font-family: Arial;
        Font-Size: Large;
        color: white;
        display: inline;
        height: 100%;
        border: solid 1px;
        background-color: #999;
    }



    ul.mainMenu li:hover {
        background-color: white;
        color: #fff !important;
    }

    ul.mainMenu li a {
        display: block;
        width: 120px;
        text-decoration: none;
        color: #0079C8;
        vertical-align: middle;
        text-align: center;
        margin-top: 10px;
    }

        ul.mainMenu li a:active {
            display: block;
            text-decoration: none;
            vertical-align: middle;
            text-align: center;
            margin-top: 10px;
        }

        ul.mainMenu li a:hover {
            display: block;
        }



    ul.mainMenu li.current a:hover:visited {
        text-decoration: none;
    }




.col1 {
    float: left;
    width: 22%;
    position: relative;
    height: auto;
    vertical-align: top;
}

.col2 {
    float: left;
    width: 25%;
    position: relative;
    height: 25px;
    margin-right: 2%;
}



.emptyRow {
    display: table-row;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height: 20px;
}

.eventControls {
    display: table-row;
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 40px;
    margin-left: 500px;
}

.textbox {
    background-color: #EFF6FC;
    margin-left: 2px;
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    width: 160px;
    font-size: 12px;
}

.DropDownList {
    background-color: #EFF6FC;
    margin-left: 2px;
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    width: 165px;
    /*color:#0066a9;*/
    font-weight: bold;
}


.DropdownRad {
    background-color: #eff6fc;
    background-repeat: no-repeat;
    background-position: left;
    border: 1px solid #6297BC;
    margin-left: 0px;
}

.label {
    font-size: 12px;
    width: 200px;
    padding-left: 6px;
}

.PageHeadingBackground {
    background-color: #01AEF0;
    width: 300px;
    padding: 12px;
}

.PageHeading {
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.buttonOld {
    color: #000000;
    cursor: pointer;
    font: normal 12px Tahoma;
    width: 80px;
    vertical-align: middle;
    border: 1px solid #7F7F7F;
    padding: 1px;
    height: 30px;
}

.rgCommandStyle {
    color: #01AEF0;
    border: 1px solid #7F7F7F;
    padding: 1px;
    height: 30px;
}

.btnProvider {
    background: #25a0da;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
}

    .btnProvider:hover {
        background: #3cb0fd;
        background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
        background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
        text-decoration: none;
    }

.button {
    -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
    -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
    background: -moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background: -webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background: -o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background: -ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
    background-color: #33bdef;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #057fd0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 20px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #5b6178;
}

    .button:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
        background: -moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
        background: -webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
        background: -o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
        background: -ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
        background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
        background-color: #019ad2;
    }

.myButton:active {
    position: relative;
    top: 1px;
}

.NotificationMsg {
    clear: both;
    padding: 0px;
    margin: 2px auto;
    margin: 10px auto;
    width: 80%;
}

    .NotificationMsg .CommonMsg {
        float: left;
        padding: 0px;
        margin: 10px 0 10px 0;
        margin: 0 0 0 0;
        width: 99%;
        border: 1px solid #DBDBDB;
    }

    .NotificationMsg .Innerbox {
        float: left;
        padding: 2px;
        margin: 0;
        width: 99%;
        border: 1px solid #F5F5F5;
    }

    .NotificationMsg .ThankYou {
        float: left;
        padding: 13px 10px 20px 50px;
        margin: 0;
        background: url(../Images/icon_thankyou.gif) no-repeat 10px 10px;
        width: 89%;
    }

.dvHeadTitle {
    background: url(../Images/JetCommon/titlbg_left.gif) no-repeat left top;
    height: 41px;
    width: 100%;
    margin: 0 0px 6px 0px;
}

.SubTitleForm {
    border-bottom: 2px solid #A6D6ED;
    width: 800px;
}

    .SubTitleForm div {
        background: url(../Images/subtitlearrow_form.gif) no-repeat left top;
        width: 15px;
        height: 22px;
        float: left;
        padding-right: 12px;
    }

    .SubTitleForm td {
        height: 22px;
        font-size: 13px;
        font-weight: bold;
        color: #003774;
        vertical-align: middle;
    }

.ruErrorMessage {
    color: #ef0000;
    font-variant: small-caps;
    text-transform: lowercase;
    padding-bottom: 0;
}

.onclick-menu {
    padding: 0;
    list-style: none;
    background: #f2f2f2;
    font-size: 12px;
}

    .onclick-menu li {
        display: inline-block;
        position: relative;
        line-height: 21px;
        text-align: left;
        font-size: 12px;
    }

        .onclick-menu li a {
            display: block;
            padding: 8px 25px;
            color: #333;
            text-decoration: none;
            width: 160px;
            font-size: 12px;
        }

            .onclick-menu li a:hover {
                color: #fff;
                background: #939393;
                font-size: 12px;
            }

        .onclick-menu li ul.dropdown {
            /*min-width: 120px; /* Set width of the dropdown */
            background: #f2f2f2;
            display: none;
            position: absolute;
            z-index: 999;
            left: 0;
            font-size: 12px;
        }

        .onclick-menu li:hover ul.dropdown {
            display: block; /* Display the dropdown */
            font-size: 12px;
        }

        .onclick-menu li ul.dropdown li {
            display: block;
            font-size: 12px;
        }

.siteMapPath {
    font: 20px Comic Sans MS,Serif;
}

.currentNodeStyle {
    font-weight: bold;
}

.nodeStyle {
    text-decoration: none;
}

.pathSeparatorStyle {
    background-color: #0079C8;
    margin: 10px;
    color: white;
    vertical-align: top;
    height: 6px;
    padding-bottom: 2px;
    /*border: Solid 1px black;*/
}

.rootNodeStyle {
    text-decoration: none;
}

.Fieldset {
    font-size: 18px;
    font-weight: bold;
    color: #003774;
}

.CheckboxList input {
    font-size: 9px;
    border: 0px;
}
.CheckboxList label {
    font-size: 9px;
    border: 0px;
}