﻿.drag-handle{ /*Overwrite default drag handle bar background color with below*/
background-color: #03277C;
}

#interVeil{ /*CSS for veil that covers entire page while modal window is visible*/
position: absolute;
background: white url(heartbt.gif) repeat-x fixed center   ;
width: 10px;
left: 0;
top: 0;
z-index: 5;
visibility: hidden;
filter:progid:DXImageTransform.Microsoft.alpha(opacity=77);
/*filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=3);*/
opacity: 0.8;

}