﻿







.pageLayout {
    width: 995px;
    margin-left: 8%;
    margin-right: 8%;
    font-family: Arial;
    position: inherit;
    display: inline-block;
    align-content: center;
}


.pageBody {
    position: absolute;
    margin: 0;
    padding: 0;
    height: auto;
    top: 220px;
    min-height: 550px;
    max-height: 100%;
    display: inline-block;
}

.contentBody {
    width: 750px; /*chnaged from 80%*/
    padding-left: 220px;
    min-height: 550px;
    max-height: 100%;
}

.menulist {
    position: absolute;
    margin: 0;
    background-color: deepskyblue;
    width: 200px; /*chnaged from 20%*/
    min-height: 500px;
}


.DropdownRad {
    background-color: #eff6fc;
    background-repeat: no-repeat;
    background-position: left;
    border: 1px solid #6297BC;
    margin-left: 1px;
    padding-left:1px;
   
}

.CheckboxList input {
    font-size:9px;
    border: 0px;
}

/** Multiple rows and columns */
.multipleRowsColumns .rcbItem,
.multipleRowsColumns .rcbHovered {
    float: left;
    margin: 0 0px;
    min-height: 13px;
    overflow: hidden;
    padding: 2px 19px 2px 6px;
    width: 145px;
}


.results {
    display: block;
    margin-top: 20px;
}

ul.mainMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    padding-bottom: 5PX;
}

    ul.mainMenu .ListDisplay {
        float: left;
        font-family: Arial;
        Font-Size: Large;
        color: white;
        display: inline;
        height: 100%;
        border: solid 1px;
        background-color: #999;
    }



    ul.mainMenu li:hover {
        background-color: white;
        color: #fff !important;
    }

    ul.mainMenu li a {
        display: block;
        width: 120px;
        text-decoration: none;
        color: #0079C8;
        vertical-align: middle;
        text-align: center;
        margin-top: 10px;
    }

        ul.mainMenu li a:active {
            display: block;
            text-decoration: none;
            vertical-align: middle;
            text-align: center;
            margin-top: 10px;
        }

        ul.mainMenu li a:hover {
            display: block;
        }



    ul.mainMenu li.current a:hover:visited {
        text-decoration: none;
    }




.col1 {
    float: left;
    width: 23%;
    position: relative;
    height: auto;
}

.col2 {
    float: left;
    width: 24%;
    position: relative;
    height: 25px;
    margin-right: 2%;
}



.emptyRow {
    display: table-row;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height: 20px;
}

.eventControls {
    display: table-row;
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 40px;
    margin-left: 500px;
}

.textboxPP {
    background-color: #EFF6FC;
    margin-left: 2px;
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 2px;
    width: 160px;
    font-size: 12px;
    height: 20px;
}

.DropDownList {
    background-color: #EFF6FC;
    margin-left: 2px;
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    width: 165px;
    /*color:#0066a9;*/
    font-weight: bold;
    height: 24px;
}

.label {
    font-size: 12px;
    width: 200px;
}

.PageHeadingBackground {
    background-color: #01AEF0;
    width: 200px;
    padding: 12px;
}

.PageHeading {
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.button {
    color: #000000;
    cursor: pointer;
    font: normal 12px Tahoma;
    width: 80px;
    vertical-align: middle;
    border: 1px solid #7F7F7F;
    padding: 1px;
    height: 30px;
}
 .btnGradient {
        background: #25a0da;
        background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
        background-image: -moz-linear-gradient(top, #3498db, #2980b9);
        background-image: -ms-linear-gradient(top, #3498db, #2980b9);
        background-image: -o-linear-gradient(top, #3498db, #2980b9);
        background-image: linear-gradient(to bottom, #3498db, #2980b9);
        -webkit-border-radius: 24;
        -moz-border-radius: 24;
        border-radius: 10px;
        font-family: Arial;
        color: #ffffff;
        font-size: 16px;
        padding: 5px 5px 5px 5px;
        text-decoration: none;
    }

        .btnGradient:hover {
            background: #3cb0fd;
            background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
            background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
            background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
            background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
            background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
            text-decoration: none;
        }