/* some key styles can be viewed in the sample sheet at http://moraless:81/common/styles/root/samples.html */


/*
The folowing is a guide to font-size comparision
medium = 1.25em
small = 1.1em
x-small = 0.9em

100% = 0.9em
90% = 0.8em
86% = 0.75em
70% = 0.6em 
 */


/* x-small=12px 
Key content styles have been made relative so users can make them larger in their browsers. :(
*/

body { background-color: #ffffff; color : #ffffff; font-size : 0.9em;}

P  {
	color : #333399;
	font-family : Arial, sans serif;
	font-size : 80%;
	line-height : 1.3em;
}

ul  {
	color : #333399;
	font-family : Arial, sans serif;
	font-size : 80%;
	line-height : 1.3em;
}

ol  {
	color : #333399;
	font-family : Arial, sans serif;
	font-size : 80%;
	line-height : 1.3em;
}

a    		{color:#AF2021; text-decoration:none}
a:visited 	{color:#AF2021; text-decoration:none}
a:active  	{color:#AF2021; text-decoration:none}
a:hover   	{color:#AF2021; text-decoration:underline}


/* START leftnav */
.leftnav  {
	color : #000099;
	font-family : Arial, sans serif;
	font-weight : normal;
	text-decoration : none;
}
.leftnav a:link 		{color : #000099;}
.leftnav a:Visited  	{color : #000099;}
.leftnav a:Hover  		{color : #000099; text-decoration : underline;}
/* END leftnav */

/* generic background colour for left hand navigation */
.leftnavbg { background-color:#F7F7F7;}

/* h1 is the same as .title */
h1 {  
	font-size : 120%;
	font-family : Arial, sans-serif;
	font-weight : bold;
	font-style : normal;
	color : #333399;
	text-decoration : none;
	line-height : 1.2em;
}

h1 a    	{color:#333399; text-decoration:none}
h1 a:visited 	{color:#333399; text-decoration:none}
h1 a:active  	{color:#333399; text-decoration:none}
h1 a:hover   	{color:#333399; text-decoration:underline}

/* h2 is the same as .heading */
h2  {
	color : #333399;
	font-family : Arial, sans serif;
	font-weight : bold;
	font-size : 100%;
}

h2 a    	{color:#333399; text-decoration:none}
h2 a:visited 	{color:#333399; text-decoration:none}
h2 a:active  	{color:#333399; text-decoration:none}
h2 a:hover   	{color:#333399; text-decoration:underline}

/* h3 is the same as .subheading */
h3  {
	color : #333399;
	font-family : Arial, sans serif;
	font-weight : bold;
	font-size : 80%;
}

/* h4 is a para heading with no space below */
h4	{
	color : #333399;
	font-family : Arial, sans serif;
	font-weight : bold;
	font-size : 80%;
	margin : 0px;
}

.title {  
	font-size : 120%;
	font-family : Arial, sans-serif;
	font-weight : bold;
	font-style : normal;
	color : #333399;
	text-decoration : none;
	line-height : 1.2em;
}

.title a    	{color:#333399; text-decoration:none}
.title a:visited 	{color:#333399; text-decoration:none}
.title a:active  	{color:#333399; text-decoration:none}
.title a:hover   	{color:#333399; text-decoration:underline}


/* a para heading with no space below */
.paraheading	{
	color : #333399;
	font-family : Arial, sans serif;
	font-weight : bold;
	font-size : 80%;
	margin : 0px;
}

/* created for UKM newsletter - a white section heading with no space below */
.sectionheading	{
	color : #FFFFFF;
	font-family : Arial, sans serif;
	font-weight : bold;
	font-size : 80%;
	margin : 0px;
	padding : 0px;
}

.sectionheading a:link 		{color : #ffffff;}
.sectionheading a:Visited  	{color : #ffffff;}
.sectionheading a:Hover  	{color : #ffffff; text-decoration : underline;}

/* to use with h4 - no space above */
.firstpara	{margin-top : 0px;}

/* remove space around para */
.nospacepara  {margin : 0px;}

.error { color: #ff3333 }



.padding 	{
	padding : 5px 3px 0px 0px;
}


.servicesbg 		{background-color: #E7F7FF;}
.servicesheadbg 	{background-color: #BADEFF;}
.healthheadbg 		{background-color: #FFAA00;}


/* START footer */
.footer  {
	color : #000099;
	font-family : Arial, sans serif;
	font-weight : normal;
	font-size: 70%;
	text-decoration : none;
	line-height : 1.3em;
	margin-top : 1px;
}
.footer a:link 		{color : #000099;}
.footer a:Visited  	{color : #000099;}
.footer a:Hover  	{color : #000099; text-decoration : underline;}
/* END footer */

.rgtpanel  {
	color : #333399;
	font-family : Arial, sans serif;
	font-size : 80%;
}

.rgtpanel a    			{color:#333399; text-decoration:none}
.rgtpanel a:visited 	{color:#333399; text-decoration:none}
.rgtpanel a:active  	{color:#333399; text-decoration:none}
.rgtpanel a:hover   	{color:#333399; text-decoration:underline}

.pullout	{
	color : #333399;
	font-family : Arial, sans serif;
	font-size : 80%;
	font-weight : normal;
	text-align : center;
	margin : 0px;
}

th {
	color : #333399;
	font-family : Arial, sans serif;
	font-size : 80%;
	font-weight : bold;
	text-align : left;
}

.bodytext  {
	color : #333399;
	font-family : Arial, sans serif;
	font-size : 80%;
	line-height : 1.2em;
	font-weight: normal;
}

/* these next 2 are fixed size text to go in panels such as on health info homepage */
.paneltext {	
	font-size : 12px;
}
.paneltextlist {	
	font-size : 12px;
	line-height : 120%;
}

.searchsmall  {
	color : #333399;
	font-family : Arial, sans serif;
	font-size : 10px;
	line-height : 120%;
}

td  {
	color : #333399;
	font-family : Arial, sans serif;
}

/*body class for Intercom - makes the scroll bar grey instead of blue */
.intercom {scrollbar-face-color: #5c96bd; scrollbar-highlight-color: #b3cee0; scrollbar-shadow-color: #005A97; scrollbar-3dlight-color: #5c96bd; scrollbar-arrow-color:  #005A97; scrollbar-track-color: #cee0eb; scrollbar-darkshadow-color: #005A97; }


/* hightlight class can be used when error or comments in tables are returned as used in the online poll in health news */
.highlight {color: #ffffff; font-weight: bold; background-color: #F65B5B; }

/* 
	START colours for table backgrounds
	first colour is business unit colour	eg bupa1
	second is a lighter tint				eg bupa2
	third is an even lighter tint			eg bupa3
*/

/* for general tables - background colours (alternate) */
.generaltr1 { background-color: #dedec6}
.generaltr2 { background-color: #F0F0DF}

/* grey for general use */
.grey { background-color: #E6E0E0}

/* for Group tables - background colours (alternate) */
.bupa1 { background-color: #0099FF; color: #ffffff; font-weight: bold;}
.bupa2 { background-color: #BADDFF}
.bupa3 { background-color: #E0EFFD}
.bupa4 { background-color: #99CCFF}
.bupa5 { background-color: #0099FF; color:#FFFFFF; font-weight : normal;}

/* for childcare tables - background colours (alternate) */
.childcare1 { background-color: #FF0066; color: #ffffff; font-weight: bold;}
.childcare2 { background-color: #F6C0DB}
.childcare3 { background-color: #FFDCEE}

/* for membership tables - background colours (alternate) */
.membership1 { background-color: #009999; color: #ffffff; font-weight: bold;}
.membership2 { background-color: #C3ECEC; }
.membership3 { background-color: #E5F5F5; }

/* as above - but with padding */
.membership4 { background-color: #C3ECEC; padding: 10px; }
.membership5 { background-color: #E5F5F5; padding: 10px; }


/* for international tables - background colours (alternate) */
.international1 { background-color: #FF6600; color: #ffffff; font-weight: bold;}
.international2 { background-color: #FFD37B}
.international3 { background-color: #F8DEAB}

/* for wellness tables - background colours (alternate) */
.wellness1 { background-color: #FF9900; color: #ffffff; font-weight: bold;}
.wellness2 { background-color: #FAE17D}
.wellness3 { background-color: #FBEEBB}
.wellness4 { background-color: #FBF4D7}

/* for care services tables - background colours (alternate) */
.careservices1 { background-color: #9900CC; color: #ffffff; font-weight: bold;}
.careservices2 { background-color: #ECCFF6}
.careservices3 { background-color: #F6E6FB}

/* for hospitals tables - background colours (alternate) */
.hospitals1 { background-color: #000099; color: #ffffff; font-weight: bold;}
.hospitals2 { background-color: #D2DFFB}
.hospitals3 { background-color: #E4ECFC}

/* for hospitals tables - background colours (alternate) */
.staffoffers1 { background-color: #FFAE4A; color: #ffffff; font-weight: bold;}
.staffoffers2 { background-color:}
.staffoffers3 { background-color: #FFE3BE}

/* for intercom - background colours (alternate) */
.intercomblue { background-color: #B3CEE0}
.intercomorange { background-color: #FFC488}
.intercompink { background-color: #EFC4CA}
.intercompurple { background-color: #C9C9E4}
.intercomgreen { background-color: #99cc99}
.intercomgrey{ background-color: #EEEEEE}

/* for survey - background colours (alternate) */
.surveyheadbg { background-color: #BBEBCE; }
.surveybg { background-color: #DBF7E6; }

/* END colours */


.heading  {
	color : #333399;
	font-family : Arial, sans serif;
	font-weight : bold;
	font-size : 100%;
}

.heading a    	{color:#333399; text-decoration:none}
.heading a:visited 	{color:#333399; text-decoration:none}
.heading a:active  	{color:#333399; text-decoration:none}
.heading a:hover   	{color:#333399; text-decoration:underline}

.headingwhite  {
	color : #FFFFFF;
	font-family : Arial, sans serif;
	font-weight : bold;
	font-size : 100%;
}

.headingwhite a    			{color:#FFFFFF; text-decoration:none}
.headingwhite a:visited 	{color:#FFFFFF; text-decoration:none}
.headingwhite a:active  	{color:#FFFFFF; text-decoration:none}
.headingwhite a:hover   	{color:#FFFFFF; text-decoration:underline}

.subheading  {
	color : #333399;
	font-family : Arial, sans serif;
	font-weight : bold;
	font-size : 80%;
}

.subheading a    	{color:#AF2021; text-decoration:none}
.subheading a:visited 	{color:#AF2021; text-decoration:none}
.subheading a:active  	{color:#AF2021; text-decoration:none}
.subheading a:hover   	{color:#AF2021; text-decoration:underline}

.subhead  {
	color : #333399;
	font-family : Arial, sans serif;
	font-style : italic;
	font-size :  80%;
}

.date  {
	color : #333399;
	font-family : Arial, sans serif;
	font-size : 80%;
}

.select  {
	color : #000000;
	font-family : Arial, sans serif;
	font-size : 80%;
}

.crumbtrail  {
	color : #333399;
	font-family : Arial, sans serif;
	font-size : 70%;
}

.crumbtrail a    		{color:#AF2021; text-decoration:none}
.crumbtrail a:visited 	{color:#AF2021; text-decoration:none}
.crumbtrail a:active  	{color:#AF2021; text-decoration:none}
.crumbtrail a:hover   	{color:#AF2021; text-decoration:underline}


.crumbtrailnew  {
	color : #333399;
	font-family : Arial, sans serif;
	font-size : 70%;
	margin-top : 5px;
}

.crumbtrailnew a    		{color:#AF2021; text-decoration:none}
.crumbtrailnew a:visited 	{color:#AF2021; text-decoration:none}
.crumbtrailnew a:active  	{color:#AF2021; text-decoration:none}
.crumbtrailnew a:hover   	{color:#AF2021; text-decoration:underline}

.note  {
	color : #333399;
	font-family : Arial, sans serif;
	font-size : 80%;
}

.sitemaptitle  {
	color : #ffffff;
	font-family : Arial, sans serif;
	font-size : 12px;
}

.sitemapcontent  {
	color : #000099;
	font-family : Arial, sans serif;
	font-size : 10px;
}

.sitemapcontent a:link {
	color : #000099;
	font-family : Arial, sans serif;
	font-size : 10px;
	text-decoration : none;
}

.sitemapcontent a:Visited  {
	color : #000099;
	font-family : Arial, sans serif;
	font-weight : normal;
	font-size : 10px;
	text-decoration : none;
}

.sitemapcontent a:Hover  {
	color : #ffffff;
	font-family : Arial, sans serif;
	font-weight : normal;
	font-size : 10px;
	text-decoration : none;
}


/* created for accessibility purposes on Comm Conns */
.footeraccessible  {
	color : #000099;
	font-family : Arial, sans serif;
	font-size : 70%;
}

.footeraccessible  a:link {
	color : #000099;
	font-family : Arial, sans serif;
	text-decoration : none;
}

.footeraccessible  a:Visited  {
	color : #000099;
	font-family : Arial, sans serif;
	font-weight : normal;
	text-decoration : none;
}

.footeraccessible  a:Hover  {
	color : #0099ff;
	font-family : Arial, sans serif;
	font-weight : normal;
	text-decoration : none;
}
/* end created for accessibility purposes on Comm Conns */

.bold  {
	font-weight : bold;
}

.italic  {
	text-style : italic;
}

.white  {
	color : #ffffff;
}


.popup  {
	color : #000066;
	font-family : Arial, sans serif;
	font-size : 12px;
}

/*line-height : 120%;*/

.subnav  {
	color : #000099;
	font-family : Arial, sans serif;
	font-size : 70%;
}

.subnav a:link {
	color : #000099;
	font-family : Arial, sans serif;
	text-decoration : none;
}

.subnav a:Visited  {
	color : #000099;
	font-family : Arial, sans serif;
	font-weight : normal;
	text-decoration : none;
}

.subnav a:Hover  {
	color : #000099;
	font-family : Arial, sans serif;
	font-weight : normal;
	text-decoration : underline;
}

.rightnavhead  {
	color : #ffffff;
	font-family : Arial, sans serif;
	font-size : 80%;
}

.rightnavpara  {
	color : #333399;
	font-family : Arial, sans serif;
	font-size : 80%;
}

.rightnav a:link {  
	color: #333399
}

.rightnav a:visited {  
	color: #333399
}

.rightnav a:active {  
	color: #333399
}

.rightnav a:hover {  
	color: #333399; text-decoration: underline;
}

/* created for accessibility purposes on Comm Conns */
.rightnavheadaccessible  {
	color : #ffffff;
	font-family : Arial, sans serif;
	font-size :80%;
}

.rightnavparaaccessible  {
	color : #333399;
	font-family : Arial, sans serif;
	font-size : 80%;
}

.rightnavaccessible a:link {  
	color: #333399
}

.rightnavaccessible a:visited {  
	color: #333399
}

.rightnavaccessible a:active {  
	color: #0099ff
}

.rightnavaccessible a:hover {  
	color: #3399ff
}
/* end created for accessibility purposes on Comm Conns */

.b2brightnav a:link {  
	color: #333399
}

.b2brightnav a:visited {  
	color: #333399
}

.b2brightnav a:active {  
	color: #333399
}

.b2brightnav a:hover {  
	color: #006666
}

.b2brightnavon a:link {  
	color: #009999
}

.b2brightnavon a:visited {  
	color: #009999
}

.b2brightnavon a:active {  
	color: #009999
}

.b2brightnavon a:hover {  
	color: #006666
}


.rightnavheading  {
	color : #0099ff;
	font-family : Arial, sans serif;
	font-style : italic;
	font-size : 80%;
}

.valentine {  
	font-size : 16px;
	font-family : Arial, sans-serif;
	font-weight : bold;
	font-style : normal;
	color : #cc3333;
	text-decoration : none;
}

.valentine a:link {
	font-size : 16px;
	font-family : Arial, sans-serif;
	font-weight : bold;
	font-style : normal;
	color : #cc3333;
	text-decoration : none;
}

.valentine a:Visited  {
	font-size : 16px;
	font-family : Arial, sans-serif;
	font-weight : bold;
	font-style : normal;
	color : #cc3333;
	text-decoration : none;
}

.valentine a:Hover  {
	font-size : 16px;
	font-family : Arial, sans-serif;
	font-weight : bold;
	font-style : normal;
	color : #ff3300;
	text-decoration : none;
}

/* form buttons */

.formbutton {  font-size: 80%; color: #000080; background-color: #ffffff; padding-top: 2px; padding-right: 2px; padding-bottom: 2px; padding-left: 2px; border-color: #99CCFF #99CCFF #99CCFF #99CCFF}
.resetbutton {  font-size: 80%; color: #000080; background-color: #ffffff; padding-top: 2px; padding-right: 2px; padding-bottom: 2px; padding-left: 2px; border-color: #99CCFF #99CCFF #99CCFF #99CCFF}

/*input fields*/
.input {font-size: 80%; color: #000080; background-color: #FFFFFF; border-color: #ffffff; }

/*blue key line that goes across as a divider*/ 
hr	{ color: #0099ff; background-color: #0099ff; height:1; border:0; }


/* these are added for personalisation demo. mills 05/09/02 */
.myhealthtitle  {
	color : #FFFFFF;
	font-family : Arial, sans serif;
	font-size : 80%;
	line-height : 1.2em;
	font-weight : normal;
	margin: 0;
}

.titlewhite {  
	font-size : 120%;
	font-family : Arial, sans-serif;
	font-weight : bold;
	font-style : normal;
	color : #ffffff;
	text-decoration : none;
}

/* end personalisation demo */

/* next style puts a soft grey keyline around images but there must be border="1" in the image tag */
.image {border-color: #cccccc;}

/* bgcolor for acrobat reader box */
.acrobat { background-color: #EBEBEB}

/* bgcolor for health outcomes box */
.outcomes { background-color: #F0F0DF}

/* bgcolor for related subjects box */
.relatedsubs { background-color: #F7E4CF}



/* Added for Change Control(help) left nav*/
.whiteleftnav  {
	color : #ffffff;
	font-family : Arial, sans serif;
	font-size: 80%;
}

.whiteleftnav a:link {
	color : #ffffff;
	font-family : Arial, sans serif;
	text-decoration : none;
}

.whiteleftnav a:Visited  {
	color : #ffffff;
	font-family : Arial, sans serif;
	font-weight : normal;
	text-decoration : none;
}

.whiteleftnav a:Hover  {
	color : #ffffff;
	font-family : Arial, sans serif;
	font-weight : normal;
	text-decoration : underline;
}



/* Intercom */
.whitefooter {
	color : #ffffff;
	font-family : Arial, sans serif;
	font-size: 80%;
}

.whitefooter a:link {
	color : #ffffff;
	font-family : Arial, sans serif;
	text-decoration : none;
}

.whitefooter a:Visited  {
	color : #ffffff;
	font-family : Arial, sans serif;
	font-weight : normal;
	text-decoration : none;
}

.whitefooter a:Hover  {
	color : #cccccc;
	font-family : Arial, sans serif;
	font-weight : normal;
	text-decoration : none;
}
.group1  {
	background-color: #99cc99;
}
.group2  {
	background-color: #d2f0d2;
}



.intercomnav  {
	color : #000066;
	font-family : Arial, sans serif;
	text-decoration : none;
}

.intercomnav a:link {
	color : #000066;
	font-family : Arial, sans serif;
	text-decoration : none;
}

.intercomnav a:Visited  {
	color : #000066;
	font-family : Arial, sans serif;
	text-decoration : none;
}

.intercomnav a:Hover  {
	color : #005A97;
	font-family : Arial, sans serif;
	text-decoration : none;
}

.interhomepagetitle {
	font-size : 100%;
	margin-bottom: 0px;
}

.intercomlightpink {background-color: #FAEDEF}
.intercomdarkpink {background-color: #EFC4CA}

/* 
	Added by Jason 08/10/03
	For pop up benefit tables
*/

.benefitstr1 { background-color: #DEEFFF}
.benefitstr2 { background-color: #CCFFFF}

.benefitstitle  { color : #000080; font-family : Arial, sans serif; font-weight : bold; font-size : 12px;}

/* Added by Jason 24/03/04 For pop up PMI tables  */

.pmitablecolor { background-color: #009999}

/* end Added by Jason 24/03/04 For pop up PMI tables  */


/* add for UKM's affinity page -Lincolnshire County Council */

.ukmaffinity { 
	color : #009999; 
	font-weight : bold;
}
.footnotes { font-size : 70%; 
	line-height : 140%;}

/* end added for UKM's affinity page -Lincolnshire County Council */

/* new since redesigned template March 2004 */



.healthinfotable { background-color: #E0EFFD;}
.highlightedge { background-color: #FBB017;}
.highlightbody { background-color: #FEEFD1;}

.white { background-color: #FFFFFF}

.tab  {
	color : #ffffff;
	font-family : Arial, sans serif;
	font-weight : normal;
	font-size: 70%;
	text-decoration : none;
	line-height : 1.1em;
	margin-top : 1px;
	background-color : #0099ff;
	text-align: center;
}
.tab a:link 	{color : #ffffff;}
.tab a:Visited  {color : #ffffff;}
.tab a:Hover  	{color : #ffffff; text-decoration : underline;}

.tabselected  {
	color : #000099;
	font-family : Arial, sans serif;
	font-weight : normal;
	font-size: 70%;
	text-decoration : none;
	line-height : 1.1em;
	margin-top : 1px;
	background-color : #99CCFF;
	text-align: center;
}
.tabselected a:link 	{color : #000099;}
.tabselected a:Visited  {color : #000099;}
.tabselected a:Hover  	{color : #000099; text-decoration : underline;}	




/*special titles especially for promotions landing pages*/

.title_proms {
	font-family : Arial, sans serif;
	font-size: 160%;
	text-decoration : none;
	margin :0px;
}


/*BUPA blue font colour*/
.bupablue { color : #0099FF;}


/* START health info styles */

#hi_background	{position:absolute; left:0px; top:0px; width:496px; height:354px; z-index:1;}

#hi_leftbox1	{position:absolute; left:15px; top:10px; width:224px; height:105px; z-index:2}
#hi_leftbox2	{position:absolute; left:0px; top:120px; width:224px; height:105px; z-index:3}
#hi_leftbox3	{position:absolute; left:15px; top:230px; width:224px; height:105px; z-index:4}

#hi_rightbox1	{position:absolute; left:260px; top:10px; width:224px; height:105px; z-index:7}
#hi_rightbox2	{position:absolute; left:275px; top:120px; width:224px; height:105px; z-index:6}
#hi_rightbox3	{position:absolute; left:260px; top:230px; width:224px; height:105px; z-index:5}

#hi_lefttext1	{position:absolute; left:85px; top:50px; width:140px; height:80px; z-index:10;}
#hi_lefttext2	{position:absolute; left:10px; top:157px; width:210px; height:80px; z-index:12;}
#hi_lefttext3	{position:absolute; left:75px; top:263px; width:160px; height:88px; z-index:14;}

#hi_righttext1	{position:absolute; left:270px; top:62px; width:215px; height:80px; z-index:20;}
#hi_righttext2	{position:absolute; left:300px; top:180px; width:160px; height:80px; z-index:18;}
#hi_righttext3	{position:absolute; left:340px; top:280px; width:120px; height:80px; z-index:16;}

#hi_leftgo1		{position:absolute; left:210px; top:308px; width:17px; height:18px; z-index:23;}

#hi_rightgo1	{position:absolute; left:473px; top:197px; width:17px; height:18px; z-index:25;}
#hi_rightgo2	{position:absolute; left:457px; top:308px; width:17px; height:18px; z-index:24;}

/* END health info styles */

/* Staff offers */
.stafftoppara  {margin-right : 35;}

/* homepage */
.rightpanel  {
	color : #0099ff;
	font-family : Arial, sans serif;
	
	background-color: #E5F5FF ;
}

.line_consultants { background-color: #CECEFF;}
.line_therapies { background-color: #72D5D5;}
.line_strandnurses { background-color: #FDD785;}
.line_healthcare_prof { background-color: #FBC9FB;}
.line_intercom { background-color: #B3CEE0;}
.line_intermediary { background-color: #FCCA7E;}

.line_lilac { background-color: #E6C4F1;}
.line_green { background-color: #BBEBCE;}
.line_turquoise { background-color: #9CE6EF;}
.line_pink { background-color: #FBD7DD;}

/*  this style is for anchor links at the top of the page that act as a table of contents */
.toc {margin-left : 2em;}

/* gives text a margin for text in boxes without any padding */
.paddedbox { margin: 5; }

/* added to provide a green tinted background to focus box on homepages*/
.focusmembership { background-color: #E5F5F5; padding: 8px; }


/* performance box on homepage  */

td.performancebox  {
	background-color: #ff9900;
	color: #ffffff;
	font-size: 80%;
	font-weight: bold;

}

.hospitalsperformance	{
	margin-top: 4px;
	margin-bottom: 4px;
	font-size: 80%;
}