﻿body{
	padding:10px;
	background-color:white;
	direction:rtl;

}

.PChatWidth{
	width: 95%;
	padding:5px;
	font-family: Tahoma, "Microsoft Sans Serif";
	font-size: .8em;
	color: #333333;

}

.PChatLogo{
	margin-bottom:10px;
}

.ChatArea{
}


.OprName{
	font-family: Tahoma, "Microsoft Sans Serif";
	font-size: .8em;
	color:  #999999;
	font-weight:bold;
	margin-left:5px;

}

.VisName{
	font-family: Tahoma, "Microsoft Sans Serif";
	font-size: .8em;
	color: #808080;
	font-weight:bold;
	margin-left:5px;

}

.PChatFtr{
	font-family: Tahoma, "Microsoft Sans Serif";
	font-size: .75em;
	color: gray;
}

