﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Templates/Mobile.master" EnableEventValidation="false" AutoEventWireup="true" Inherits="Reg_forgotpasswordMobile" Codebehind="forgotpasswordMobile.aspx.cs" %>
<%@ Register src="../UserControls/wucForgotPasswordMobile.ascx" tagname="wucForgotPasswordMobile" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:wucForgotPasswordMobile ID="wucForgotPasswordMobile1" runat="server" />
    </asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolderLeft" Runat="Server">
    </asp:Content>

