﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Templates/InnernoTitle.master" EnableEventValidation="false" AutoEventWireup="true" Inherits="Reg_forgotpassword" Codebehind="forgotpassword.aspx.cs" %>

<%@ Register src="../UserControls/wucForgotPassword.ascx" tagname="wucForgotPassword" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    </asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolderLeft" Runat="Server">
    <uc1:wucForgotPassword ID="wucForgotPassword1" runat="server" />
</asp:Content>

