﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Templates/Mobile.master" AutoEventWireup="true" Inherits="Reg_RegistrationMobile" Codebehind="RegistrationMobile.aspx.cs" %>

<%@ Register src="../UserControls/SignUpMobile.ascx" tagname="SignUpMobile" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:SignUpMobile ID="SignUpMobile1" runat="server" />
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolderLeft" Runat="Server">
</asp:Content>

