﻿.margin-10 {
    margin-top: 10px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-20 {
    margin-top: 20px;
}


.margin-33 {
    margin-top: 33px;
}

.table thead tr th {
    background-color: #457fca;
}

legend {
    font-size: 15px;
    font-weight: bold;
}

h5 {
    font-weight: 600;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-size: .9em;
    font-weight: 700;
}
.ClassHelp{
    font-weight: bold;
    font-size:12px;
}
.ClassArHelp{
    font-weight: bold;
    font-size:13px;
}

.divClassHelp{
   border-style: solid;
   border-width: thin; 
   padding: 12px;
   float: right;
}
.divleftClassHelp{
   border-style: solid;
   border-width: thin; 
   padding: 12px;
   float: left;
}

.card {
    background: #fff;
    min-height: 50px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.05);
    position: relative;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1px;
    padding-top: 1px;
    transition: .5s;
    border-radius: 0;
}

#CCHIValidate {
    margin-right: 14px;
}

.btn {
    height: auto !important;
}
.btnTOAdd {
    height: auto !important;
     width: auto !important;
}

.pagination > li {
    display: inline;
    margin-left: 0px;
}

.card {
    display: inline-block;
    position: relative;
    width: 100%;
    border-radius: 4px;
    color: rgba(0,0,0, 0.87);
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
}


#upload #cont {
    font-family: 'PT Sans Narrow', sans-serif;
    /*background-color:#373a3d;

    background-image:-webkit-linear-gradient(top, #373a3d, #313437);
    background-image:-moz-linear-gradient(top, #373a3d, #313437);
    background-image:linear-gradient(top, #373a3d, #313437);

    width:250px;
    padding:30px;
    border-radius:3px;

    margin:200px auto 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);*/
}

#drop {
    /*background-color: #2E3134;
    padding: 40px 50px;
    margin-bottom: 30px;
    border: 20px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    border-image: url('../Images/border-image.png') 25 repeat;*/
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: #7f858a;
}

    #drop a {
        background-color: #007a96;
        padding: 12px 26px;
        color: #fff;
        font-size: 14px;
        border-radius: 2px;
        cursor: pointer;
        display: inline-block;
        margin-top: 12px;
        line-height: 1;
    }

        #drop a:hover {
            background-color: #0986a3;
        }

    #drop input {
        display: none;
    }

#upload ul {
    list-style: none;
    margin: 0 -30px;
    border-top: 1px solid #2b2e31;
    border-bottom: 1px solid #3d4043;
}

    #upload ul li {
        background-color: #333639;
        background-image: -webkit-linear-gradient(top, #333639, #303335);
        background-image: -moz-linear-gradient(top, #333639, #303335);
        background-image: linear-gradient(top, #333639, #303335);
        border-top: 1px solid #3d4043;
        border-bottom: 1px solid #2b2e31;
        padding: 15px;
        height: 52px;
        position: relative;
    }

        #upload ul li input {
            display: none;
        }

        #upload ul li p {
            width: 144px;
            overflow: hidden;
            white-space: nowrap;
            color: #EEE;
            font-size: 16px;
            font-weight: bold;
            position: absolute;
            top: 20px;
            left: 100px;
        }

        #upload ul li i {
            font-weight: normal;
            font-style: normal;
            color: #7f7f7f;
            display: block;
        }

        #upload ul li canvas {
            top: 15px;
            left: 32px;
            position: absolute;
        }

        #upload ul li span {
            width: 15px;
            height: 12px;
            background: url('../images/icons.png') no-repeat;
            position: absolute;
            top: 34px;
            right: 33px;
            cursor: pointer;
        }

        #upload ul li.working span {
            height: 16px;
            background-position: 0 -12px;
        }

        #upload ul li.error p {
            color: red;
        }

.card .header {
    color: #555;
    padding: 0 0 10px 0;
    position: relative;
    border-bottom: 1px solid #2e6da4;
    box-shadow: none;
    margin-bottom: 0;
    border-radius: 0;
}

.card .header {
    margin: 15px;
    padding: 5px 0;
    background-color: #fff;
}

    .card .header h2 {
        margin: 0;
        font-size: 16px;
        font-weight: normal;
        color: #111;
        text-transform: uppercase;
    }

.card .body {
    font-size: 14px;
    color: #444;
    font-weight: 400;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 1px;
    padding-top: 1px;
}


.card .card-inside-title:first-child {
    margin-top: 0;
}

.card .card-inside-title {
    margin-top: 25px;
    margin-bottom: 15px;
    display: block;
    font-size: 15px;
    color: #000;
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
    margin-bottom: 5px;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}


.actions a {
    background: #009688;
    color: #fff;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}

.form-control {
    font-size: 13px;
}

/*[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
    opacity: 0
}

[type="checkbox"]+label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: .9em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none
}

[type="checkbox"]+label:before,
[type="checkbox"]:not(.filled-in)+label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #5a5a5a;
    border-radius: 1px;
    margin-top: 2px;
    transition: .2s
}

[type="checkbox"]:not(.filled-in)+label:after {
    border: 0;
    -webkit-transform: scale(0);
    transform: scale(0)
}

[type="checkbox"]:not(:checked):disabled+label:before {
    border: none;
    background-color: rgba(0, 0, 0, 0.26)
}

[type="checkbox"].tabbed:focus+label:after {
    -webkit-transform: scale(1);
    transform: scale(1);
    border: 0;
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1)
}

[type="checkbox"]:checked+label:before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #26a69a;
    border-bottom: 2px solid #26a69a;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}

[type="checkbox"]:checked:disabled+label:before {
    border-right: 2px solid rgba(0, 0, 0, 0.26);
    border-bottom: 2px solid rgba(0, 0, 0, 0.26)
}

[type="checkbox"]:indeterminate+label:before {
    top: -11px;
    left: -12px;
    width: 10px;
    height: 22px;
    border-top: none;
    border-left: none;
    border-right: 2px solid #26a69a;
    border-bottom: none;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}

[type="checkbox"]:indeterminate:disabled+label:before {
    border-right: 2px solid rgba(0, 0, 0, 0.26);
    background-color: transparent
}

[type="checkbox"].filled-in+label:after {
    border-radius: 2px
}

[type="checkbox"].filled-in+label:before,
[type="checkbox"].filled-in+label:after {
    content: '';
    left: 0;
    position: absolute;
    transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
    z-index: 1
}

[type="checkbox"].filled-in:not(:checked)+label:before {
    width: 0;
    height: 0;
    border: 3px solid transparent;
    left: 6px;
    top: 10px;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 20% 40%;
    transform-origin: 100% 100%
}

[type="checkbox"].filled-in:not(:checked)+label:after {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid #5a5a5a;
    top: 0px;
    z-index: 0
}

[type="checkbox"].filled-in:checked+label:before {
    top: 0;
    left: 1px;
    width: 8px;
    height: 13px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}

[type="checkbox"].filled-in:checked+label:after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #26a69a;
    background-color: #26a69a;
    z-index: 0
}

[type="checkbox"].filled-in.tabbed:focus+label:after {
    border-radius: 2px;
    border-color: #5a5a5a;
    background-color: rgba(0, 0, 0, 0.1)
}

[type="checkbox"].filled-in.tabbed:checked:focus+label:after {
    border-radius: 2px;
    background-color: #26a69a;
    border-color: #26a69a
}

[type="checkbox"].filled-in:disabled:not(:checked)+label:before {
    background-color: transparent;
    border: 2px solid transparent
}

[type="checkbox"].filled-in:disabled:not(:checked)+label:after {
    border-color: transparent;
    background-color: #BDBDBD
}

[type="checkbox"].filled-in:disabled:checked+label:before {
    background-color: transparent
}

[type="checkbox"].filled-in:disabled:checked+label:after {
    background-color: #BDBDBD;
    border-color: #BDBDBD
}

[type="checkbox"]:checked.chk-col-red+label:before {
    border-right: 2px solid #ec3b57;
    border-bottom: 2px solid #ec3b57
}

[type="checkbox"]:checked.chk-col-pink+label:before {
    border-right: 2px solid #E91E63;
    border-bottom: 2px solid #E91E63
}

[type="checkbox"]:checked.chk-col-purple+label:before {
    border-right: 2px solid #ba3bd0;
    border-bottom: 2px solid #ba3bd0
}

[type="checkbox"]:checked.chk-col-deep-purple+label:before {
    border-right: 2px solid #673AB7;
    border-bottom: 2px solid #673AB7
}

[type="checkbox"]:checked.chk-col-blue+label:before {
    border-right: 2px solid #457fca;
    border-bottom: 2px solid #457fca
}

[type="checkbox"]:checked.chk-col-cyan+label:before {
    border-right: 2px solid #379c94;
    border-bottom: 2px solid #379c94
}

[type="checkbox"]:checked.chk-col-green+label:before {
    border-right: 2px solid #78b83e;
    border-bottom: 2px solid #78b83e
}

[type="checkbox"]:checked.chk-col-light-green+label:before {
    border-right: 2px solid #8BC34A;
    border-bottom: 2px solid #8BC34A
}

[type="checkbox"]:checked.chk-col-yellow+label:before {
    border-right: 2px solid #ffe821;
    border-bottom: 2px solid #ffe821
}

[type="checkbox"]:checked.chk-col-orange+label:before {
    border-right: 2px solid #FF9800;
    border-bottom: 2px solid #FF9800
}

[type="checkbox"]:checked.chk-col-deep-orange+label:before {
    border-right: 2px solid #f83600;
    border-bottom: 2px solid #f83600
}

[type="checkbox"]:checked.chk-col-grey+label:before {
    border-right: 2px solid #9E9E9E;
    border-bottom: 2px solid #9E9E9E
}

[type="checkbox"]:checked.chk-col-blue-grey+label:before {
    border-right: 2px solid #607D8B;
    border-bottom: 2px solid #607D8B
}

[type="checkbox"]:checked.chk-col-indigo+label:before {
    border-right: 2px solid #3F51B5;
    border-bottom: 2px solid #3F51B5
}

[type="checkbox"]:checked.chk-col-light-blue+label:before {
    border-right: 2px solid #03A9F4;
    border-bottom: 2px solid #03A9F4
}

[type="checkbox"]:checked.chk-col-teal+label:before {
    border-right: 2px solid #009688;
    border-bottom: 2px solid #009688
}

[type="checkbox"]:checked.chk-col-lime+label:before {
    border-right: 2px solid #CDDC39;
    border-bottom: 2px solid #CDDC39
}

[type="checkbox"]:checked.chk-col-amber+label:before {
    border-right: 2px solid #FFC107;
    border-bottom: 2px solid #FFC107
}

[type="checkbox"]:checked.chk-col-brown+label:before {
    border-right: 2px solid #795548;
    border-bottom: 2px solid #795548
}

[type="checkbox"]:checked.chk-col-blush+label:before {
    border-right: 2px solid #F15F79;
    border-bottom: 2px solid #F15F79
}

[type="checkbox"]:checked.chk-col-black+label:before {
    border-right: 2px solid #000;
    border-bottom: 2px solid #000
}

[type="checkbox"]:checked.chk-col-white+label:before {
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff
}

[type="checkbox"].filled-in:checked+label:after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #26a69a;
    background-color: #26a69a;
    z-index: 0
}

[type="checkbox"].filled-in:checked+label:before {
    border-right: 2px solid #fff !important;
    border-bottom: 2px solid #fff !important
}

[type="checkbox"].filled-in:checked.chk-col-red+label:after {
    border: 2px solid #ec3b57;
    background-color: #ec3b57
}

[type="checkbox"].filled-in:checked.chk-col-pink+label:after {
    border: 2px solid #E91E63;
    background-color: #E91E63
}

[type="checkbox"].filled-in:checked.chk-col-purple+label:after {
    border: 2px solid #ba3bd0;
    background-color: #ba3bd0
}

[type="checkbox"].filled-in:checked.chk-col-deep-purple+label:after {
    border: 2px solid #673AB7;
    background-color: #673AB7
}

[type="checkbox"].filled-in:checked.chk-col-blue+label:after {
    border: 2px solid #457fca;
    background-color: #457fca
}

[type="checkbox"].filled-in:checked.chk-col-cyan+label:after {
    border: 2px solid #379c94;
    background-color: #379c94
}

[type="checkbox"].filled-in:checked.chk-col-green+label:after {
    border: 2px solid #78b83e;
    background-color: #78b83e
}

[type="checkbox"].filled-in:checked.chk-col-light-green+label:after {
    border: 2px solid #8BC34A;
    background-color: #8BC34A
}

[type="checkbox"].filled-in:checked.chk-col-yellow+label:after {
    border: 2px solid #ffe821;
    background-color: #ffe821
}

[type="checkbox"].filled-in:checked.chk-col-orange+label:after {
    border: 2px solid #FF9800;
    background-color: #FF9800
}

[type="checkbox"].filled-in:checked.chk-col-deep-orange+label:after {
    border: 2px solid #f83600;
    background-color: #f83600
}

[type="checkbox"].filled-in:checked.chk-col-grey+label:after {
    border: 2px solid #9E9E9E;
    background-color: #9E9E9E
}

[type="checkbox"].filled-in:checked.chk-col-blue-grey+label:after {
    border: 2px solid #607D8B;
    background-color: #607D8B
}

[type="checkbox"].filled-in:checked.chk-col-indigo+label:after {
    border: 2px solid #3F51B5;
    background-color: #3F51B5
}

[type="checkbox"].filled-in:checked.chk-col-light-blue+label:after {
    border: 2px solid #03A9F4;
    background-color: #03A9F4
}

[type="checkbox"].filled-in:checked.chk-col-teal+label:after {
    border: 2px solid #009688;
    background-color: #009688
}

[type="checkbox"].filled-in:checked.chk-col-lime+label:after {
    border: 2px solid #CDDC39;
    background-color: #CDDC39
}

[type="checkbox"].filled-in:checked.chk-col-amber+label:after {
    border: 2px solid #FFC107;
    background-color: #FFC107
}

[type="checkbox"].filled-in:checked.chk-col-brown+label:after {
    border: 2px solid #795548;
    background-color: #795548
}

[type="checkbox"].filled-in:checked.chk-col-blush+label:after {
    border: 2px solid #F15F79;
    background-color: #F15F79
}

[type="checkbox"].filled-in:checked.chk-col-black+label:after {
    border: 2px solid #000;
    background-color: #000
}

[type="checkbox"].filled-in:checked.chk-col-white+label:after {
    border: 2px solid #fff;
    background-color: #fff
}*/

[type="radio"]:not(:checked),
[type="radio"]:checked {
    position: absolute;
    left: -9999px;
    opacity: 0;
}

    [type="radio"]:not(:checked) + label,
    [type="radio"]:checked + label {
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        display: inline-block;
        height: 25px;
        line-height: 25px;
        font-size: 1rem;
        transition: .28s ease;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

[type="radio"] + label:before,
[type="radio"] + label:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    transition: .28s ease;
}

[type="radio"]:not(:checked) + label:before,
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:before,
[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:before,
[type="radio"].with-gap:checked + label:after {
    border-radius: 50%;
}

[type="radio"]:not(:checked) + label:before,
[type="radio"]:not(:checked) + label:after {
    border: 2px solid #5a5a5a;
}

[type="radio"]:not(:checked) + label:after {
    z-index: -1;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label:before {
    border: 2px solid transparent;
}

[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:before,
[type="radio"].with-gap:checked + label:after {
    border: 2px solid #26a69a;
}

[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:after {
    background-color: #26a69a;
    z-index: 0;
}

[type="radio"]:checked + label:after {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

[type="radio"].with-gap:checked + label:after {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
}

[type="radio"].tabbed:focus + label:before {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
}

[type="radio"].with-gap:disabled:checked + label:before {
    border: 2px solid rgba(0, 0, 0, 0.26);
}

[type="radio"].with-gap:disabled:checked + label:after {
    border: none;
    background-color: rgba(0, 0, 0, 0.26);
}

[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before {
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.26);
}

[type="radio"]:disabled + label {
    color: rgba(0, 0, 0, 0.26);
}

[type="radio"]:disabled:not(:checked) + label:before {
    border-color: rgba(0, 0, 0, 0.26);
}

[type="radio"]:disabled:checked + label:after {
    background-color: rgba(0, 0, 0, 0.26);
    border-color: #BDBDBD;
}

[type="radio"]:not(:checked) + label {
    padding-left: 26px;
    height: 25px;
    line-height: 25px;
    font-size: 13px;
    font-weight: normal;
}

[type="radio"]:checked + label {
    padding-left: 26px;
    height: 25px;
    line-height: 25px;
    font-size: 13px;
    font-weight: normal;
}

[type="radio"].radio-col-red:checked + label:after {
    background-color: #ec3b57;
    border-color: #ec3b57;
}

[type="radio"].radio-col-pink:checked + label:after {
    background-color: #E91E63;
    border-color: #E91E63;
}

[type="radio"].radio-col-purple:checked + label:after {
    background-color: #ba3bd0;
    border-color: #ba3bd0;
}

[type="radio"].radio-col-deep-purple:checked + label:after {
    background-color: #673AB7;
    border-color: #673AB7;
}

[type="radio"].radio-col-blue:checked + label:after {
    background-color: #457fca;
    border-color: #457fca;
}

[type="radio"].radio-col-cyan:checked + label:after {
    background-color: #379c94;
    border-color: #379c94;
}

[type="radio"].radio-col-green:checked + label:after {
    background-color: #78b83e;
    border-color: #78b83e;
}

[type="radio"].radio-col-light-green:checked + label:after {
    background-color: #8BC34A;
    border-color: #8BC34A;
}

[type="radio"].radio-col-yellow:checked + label:after {
    background-color: #ffe821;
    border-color: #ffe821;
}

[type="radio"].radio-col-orange:checked + label:after {
    background-color: #FF9800;
    border-color: #FF9800;
}

[type="radio"].radio-col-deep-orange:checked + label:after {
    background-color: #f83600;
    border-color: #f83600;
}

[type="radio"].radio-col-grey:checked + label:after {
    background-color: #9E9E9E;
    border-color: #9E9E9E;
}

[type="radio"].radio-col-blue-grey:checked + label:after {
    background-color: #607D8B;
    border-color: #607D8B;
}

[type="radio"].radio-col-indigo:checked + label:after {
    background-color: #3F51B5;
    border-color: #3F51B5;
}

[type="radio"].radio-col-light-blue:checked + label:after {
    background-color: #03A9F4;
    border-color: #03A9F4;
}

[type="radio"].radio-col-teal:checked + label:after {
    background-color: #009688;
    border-color: #009688;
}

[type="radio"].radio-col-lime:checked + label:after {
    background-color: #CDDC39;
    border-color: #CDDC39;
}

[type="radio"].radio-col-amber:checked + label:after {
    background-color: #FFC107;
    border-color: #FFC107;
}

[type="radio"].radio-col-brown:checked + label:after {
    background-color: #795548;
    border-color: #795548;
}

[type="radio"].radio-col-blush:checked + label:after {
    background-color: #F15F79;
    border-color: #F15F79;
}

[type="radio"].radio-col-black:checked + label:after {
    background-color: #000;
    border-color: #000;
}

[type="radio"].radio-col-white:checked + label:after {
    background-color: #fff;
    border-color: #fff;
}

[type="radio"].with-gap.radio-col-red:checked + label:before {
    border: 2px solid #ec3b57;
}

[type="radio"].with-gap.radio-col-red:checked + label:after {
    background-color: #ec3b57;
    border: 2px solid #ec3b57;
}

[type="radio"].with-gap.radio-col-pink:checked + label:before {
    border: 2px solid #E91E63;
}

[type="radio"].with-gap.radio-col-pink:checked + label:after {
    background-color: #E91E63;
    border: 2px solid #E91E63;
}

[type="radio"].with-gap.radio-col-purple:checked + label:before {
    border: 2px solid #ba3bd0;
}

[type="radio"].with-gap.radio-col-purple:checked + label:after {
    background-color: #ba3bd0;
    border: 2px solid #ba3bd0;
}

[type="radio"].with-gap.radio-col-deep-purple:checked + label:before {
    border: 2px solid #673AB7;
}

[type="radio"].with-gap.radio-col-deep-purple:checked + label:after {
    background-color: #673AB7;
    border: 2px solid #673AB7;
}

[type="radio"].with-gap.radio-col-blue:checked + label:before {
    border: 2px solid #457fca;
}

[type="radio"].with-gap.radio-col-blue:checked + label:after {
    background-color: #457fca;
    border: 2px solid #457fca;
}

[type="radio"].with-gap.radio-col-cyan:checked + label:before {
    border: 2px solid #379c94;
}

[type="radio"].with-gap.radio-col-cyan:checked + label:after {
    background-color: #379c94;
    border: 2px solid #379c94;
}

[type="radio"].with-gap.radio-col-green:checked + label:before {
    border: 2px solid #78b83e;
}

[type="radio"].with-gap.radio-col-green:checked + label:after {
    background-color: #78b83e;
    border: 2px solid #78b83e;
}

[type="radio"].with-gap.radio-col-light-green:checked + label:before {
    border: 2px solid #8BC34A;
}

[type="radio"].with-gap.radio-col-light-green:checked + label:after {
    background-color: #8BC34A;
    border: 2px solid #8BC34A;
}

[type="radio"].with-gap.radio-col-yellow:checked + label:before {
    border: 2px solid #ffe821;
}

[type="radio"].with-gap.radio-col-yellow:checked + label:after {
    background-color: #ffe821;
    border: 2px solid #ffe821;
}

[type="radio"].with-gap.radio-col-orange:checked + label:before {
    border: 2px solid #FF9800;
}

[type="radio"].with-gap.radio-col-orange:checked + label:after {
    background-color: #FF9800;
    border: 2px solid #FF9800;
}

[type="radio"].with-gap.radio-col-deep-orange:checked + label:before {
    border: 2px solid #f83600;
}

[type="radio"].with-gap.radio-col-deep-orange:checked + label:after {
    background-color: #f83600;
    border: 2px solid #f83600;
}

[type="radio"].with-gap.radio-col-grey:checked + label:before {
    border: 2px solid #9E9E9E;
}

[type="radio"].with-gap.radio-col-grey:checked + label:after {
    background-color: #9E9E9E;
    border: 2px solid #9E9E9E;
}

[type="radio"].with-gap.radio-col-blue-grey:checked + label:before {
    border: 2px solid #607D8B;
}

[type="radio"].with-gap.radio-col-blue-grey:checked + label:after {
    background-color: #607D8B;
    border: 2px solid #607D8B;
}

[type="radio"].with-gap.radio-col-indigo:checked + label:before {
    border: 2px solid #3F51B5;
}

[type="radio"].with-gap.radio-col-indigo:checked + label:after {
    background-color: #3F51B5;
    border: 2px solid #3F51B5;
}

[type="radio"].with-gap.radio-col-light-blue:checked + label:before {
    border: 2px solid #03A9F4;
}

[type="radio"].with-gap.radio-col-light-blue:checked + label:after {
    background-color: #03A9F4;
    border: 2px solid #03A9F4;
}

[type="radio"].with-gap.radio-col-teal:checked + label:before {
    border: 2px solid #009688;
}

[type="radio"].with-gap.radio-col-teal:checked + label:after {
    background-color: #009688;
    border: 2px solid #009688;
}

[type="radio"].with-gap.radio-col-lime:checked + label:before {
    border: 2px solid #CDDC39;
}

[type="radio"].with-gap.radio-col-lime:checked + label:after {
    background-color: #CDDC39;
    border: 2px solid #CDDC39;
}

[type="radio"].with-gap.radio-col-amber:checked + label:before {
    border: 2px solid #FFC107;
}

[type="radio"].with-gap.radio-col-amber:checked + label:after {
    background-color: #FFC107;
    border: 2px solid #FFC107;
}

[type="radio"].with-gap.radio-col-brown:checked + label:before {
    border: 2px solid #795548;
}

[type="radio"].with-gap.radio-col-brown:checked + label:after {
    background-color: #795548;
    border: 2px solid #795548;
}

[type="radio"].with-gap.radio-col-blush:checked + label:before {
    border: 2px solid #F15F79;
}

[type="radio"].with-gap.radio-col-blush:checked + label:after {
    background-color: #F15F79;
    border: 2px solid #F15F79;
}

[type="radio"].with-gap.radio-col-black:checked + label:before {
    border: 2px solid #000;
}

[type="radio"].with-gap.radio-col-black:checked + label:after {
    background-color: #000;
    border: 2px solid #000;
}

[type="radio"].with-gap.radio-col-white:checked + label:before {
    border: 2px solid #fff;
}

[type="radio"].with-gap.radio-col-white:checked + label:after {
    background-color: #fff;
    border: 2px solid #fff;
}


