/*
 * SimpleModal Basic Modal Dialog
 * http://simplemodal.com
 *
 * Copyright (c) 2013 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 */

/* IE 6 hacks */
#simplemodal-container a.modalCloseImg {
    background: none;
    right: -14px;
    width: 22px;
    height: 26px;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.',sizingMethod='scale');
}
