body {
    background: #fff;
    color: #333;
    font: 12px/22px verdana, arial, sans-serif;
    height: 100%;
    margin: 0 auto;
    width: 100%;
}

h1 {
    color: #3a6d8c;
    font-size: 34px;
    line-height: 40px;
    margin: 0;
}

h3 {
    color: #3a6d8c;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal;
    margin: 0 0 8px 0;
}

img {
    border: 0;
}

#logo {
    margin-bottom: 20px;
    width: 300px;
}

    #logo h1 {
        color: #666;
        letter-spacing: -1px;
        font-weight: normal;
    }

        #logo h1 span {
            color: #444;
            font-weight: bold;
        }

    #logo .title {
        color: #999;
        font-size: 12px;
    }

#container {
    margin: 0 auto;
    padding-top: 20px;
    width: 800px;
}

#content {
    border-bottom: 1px dotted #999;
    border-top: 1px dotted #999;
    padding: 20px 0;
}

#footer {
    clear: left;
    color: #888;
    margin: 20px 0;
}

    #footer a:link, #footer a:visited {
        color: #888;
        text-decoration: none;
    }

    #footer a:hover {
        color: #333;
        text-decoration: underline;
    }
