body {font: 8pt "New Century Schoolbook", "Times New Roman", TimesNR, Times, serif;}

body #sitemast {margin-bottom: 1em;}body #main {margin: 0 5%; padding: 0; position: static;}

body #extra {display: none !important;}

body #footer {margin-top: 2em;}