BODY {color: black; background: white;}
A:link, A:visited {background: white; color: black; text-decoration: underline;   }

H1, H2, H3 {background: white; color: black; padding-bottom: 1px;   border-bottom: 1px solid gray;}

DIV.adbanner {display: none;}