<%@ Page Language="C#" AutoEventWireup="true" Inherits="Statement" Codebehind="Statement.aspx.cs" %>

<%@ Register Assembly="CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"
    Namespace="CrystalDecisions.Web" TagPrefix="CR" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>

</head>
<body>
    <form id="form1" runat="server">
    <div>
<%--        <CR:CrystalReportViewer ID="CrystalReportViewer1" runat="server" AutoDataBind="true" />
--%>        
         <cr:crystalreportviewer id="CrystalReportViewer1" runat="server" autodatabind="True"
            height="1055px" width="905px" PrintMode="ActiveX"></cr:crystalreportviewer>
        
        
    
    </div>
    </form>
</body>
</html>
