<html>
<head>
<link rel="icon" href="#">
</head>
<html>
<body>
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <section id="fof" class="clear">
      <!-- ####################################################################################################### -->
      <div class="hgroup">
        <h1>Something Just Went Wrong !</h1>
        <!-- <h2>404 Error</h2> -->
      </div>
      <p>For Some Reason The Page You Requested Could Not Be Found On Our Server</p>
    <!--   <p>Go <a href="javascript:history.go(-1)">Back</a> or <a href="#">Home</a></p> -->
      <!-- ####################################################################################################### -->
    </section>
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
  </div>
</div>
</body>
</html>