﻿<%@ Page Language="C#" AutoEventWireup="true" Inherits="load" Codebehind="load.aspx.cs" %>
<%@ Register Src="~/load.ascx" TagName="load" TagPrefix="uc1" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <uc1:load  runat="server" ID="uploader" />
    </div>
    </form>
</body>
</html>
