<%@ Page Language="C#" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<script runat="server">

    protected void Page_Load(object sender, EventArgs e)
    {
    //    LblMessage.Text = Request.QueryString["Message"] +"--" + Request.QueryString["OrderID"];
    //    LblMessage.Text += Request.QueryString["AUTHORIZATIONDECISION"] +"--" + Request.QueryString["RESPONSETEXT"];
    //LblMessage.Text += Request.QueryString["ORDERNUMBER"] +"--" + Request.QueryString["AUTHORIZATIONNUMBER"];

        string url = "/domestic/ReceiverDefault.aspx?";
    //    string url = "http://172.26.8.12:8088/ReceiverDefault.aspx?";


        //switch (Request.QueryString["RESPONSETEXT"])
        //{
        //    case "FAILEDBEFOREPOST":
        //        Response.Redirect(url + "ORDERNUMBER=" + Request.QueryString["ORDERNUMBER"] + "&RESPONSETEXT=" + Request.QueryString["RESPONSETEXT"]);
        //        break;
        //    case "Authorized":
        //        Response.Redirect(url + "ORDERNUMBER=" + Request.QueryString["ORDERNUMBER"] + "&RESPONSETEXT=AUTHORIZED"); // + Request.QueryString["RESPONSETEXT"] );
        //        break;
        //    case "UNAUTHORIZED":
        //        Response.Redirect(url + "ORDERNUMBER=" + Request.QueryString["ORDERNUMBER"] + "&RESPONSETEXT=REJECTED"); // + Request.QueryString["RESPONSETEXT"] );
        //        break;
        //    default:
        //        Response.Redirect(url + "ORDERNUMBER=" + Request.QueryString["ORDERNUMBER"] + "&RESPONSETEXT=REJECTED"); // + Request.QueryString["RESPONSETEXT"] );
        //        break;
        //}
        
     
      if (Request.QueryString["RESPONSETEXT"] == "FAILEDBEFOREPOST")
      {
          Response.Redirect(url + "ORDERNUMBER=" + Request.QueryString["ORDERNUMBER"] + "&RESPONSETEXT=" + Request.QueryString["RESPONSETEXT"]);
      }
      else if (Request.QueryString["RESPONSETEXT"] != "null" || Request.QueryString["RESPONSETEXT"] != "")
      {
         // LblMessage.Text = url + "ORDERNUMBER=" + Request.QueryString["ORDERNUMBER"] + "&RESPONSETEXT=" + Request.QueryString["RESPONSETEXT"] + "&AUTHORIZATIONNUMBER=" + Request.QueryString["AUTHORIZATIONNUMBER"]; // "__" + Request.QueryString["RESPONSETEXT"];

          Response.Redirect(url + "ORDERNUMBER=" + Request.QueryString["ORDERNUMBER"] + "&RESPONSETEXT=" + Request.QueryString["RESPONSETEXT"] + "&AUTHORIZATIONNUMBER=" + Request.QueryString["AUTHORIZATIONNUMBER"]);
      }
    //else
    //{ 
    //}    
            
        
        
//AUTHORIZATIONDECISION=02&RESPONSETEXT=UnAuthorized&ORDERNUMBER=1154814758&AUTHORIZATIONNUMBER=2029069923
    
    }
</script>

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:label ID="LblMessage" runat="server" text="Label"></asp:label>
        <br />
        <br />
        
     
    </div>
    </form>
</body>
</html>
