<%@ Page Language="C#"  AutoEventWireup="false"  %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">





<html xmlns="http://www.w3.org/1999/xhtml" >

<%-- Response.Write("<script>window.open('../clientdefault.aspx','_parent');</script>");--%>


<head runat="server">

<script language="JavaScript" type="text/javascript">
<!-- Copyright 2003, Sandeep Gangadharan -->
<!-- For more free scripts go to http://sivamdesign.com/scripts/ -->
<!--

 if (window.event) { window.captureEvents(Event.ONMOUSEDOWN); }
function closeSelf() {
window.opener.location.href='providerdefault.aspx';
 window.close(); }
 document.onmousedown = closeSelf;

// -->
</script>




    <title>Session Expired</title>
</head>
<body style="font-family:Arial;" id="body1" runat="server" >
    <form id="form1" runat="server">
    <div>

<table width="97%">
        <tr valign="middle"><td >
        <asp:Label ID="lblAdd_Employee" runat="server"  Text="" Font-Size=Large Font-Names="Arial" ></asp:Label> </td>
        <td style="text-align: right"><img src="Client/Logo.gif" width="168" height="50" /></td></tr>
     
        <tr><td></td><td></td></tr>
        </table>
        
        You current session has expired. Click anywhere on the page to close the page and try logging again.
<br />
 
  <a href="javascript:closeSelf();parent.change_parent_url('');"> 	Login Again </a>
        </div>
    </form>
</body>


<script  language="javascript">

function redirect()
{
alert();
window.opener.location.href='providerdefault.aspx';

}




</script>






</html>
