﻿<%@ Page Language="C#" AutoEventWireup="true" Inherits="Test" Codebehind="Test.aspx.cs" %>

<%@ Register src="UserControls/Tips.ascx" tagname="Tips" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
	
	<h1>Test 1</h1>
    
        <uc1:Tips ID="Tips1" runat="server" />
    
    </div>
    </form>
</body>
</html>
