﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Templates/Inner.Master" AutoEventWireup="true" Inherits="UserManagment" Codebehind="UserManagment.aspx.cs" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="aspAjax" %>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolderLeft" runat="server" ClientIDMode="Static" >
    <script type='text/javascript' src='provider/js/jquery.simplemodal.js'></script>
    <link href="css/basic.css" rel="stylesheet" type="text/css" />
    <link href="css/basic_ie.css" rel="stylesheet" type="text/css" />
    <%--<asp:ScriptManager runat="server" ID="scriptManager" />--%>
    <link rel="stylesheet" href="../styles/stylejquery.css" />

     <script language="javascript" type="text/javascript">
        prm = Sys.WebForms.PageRequestManager.getInstance();
        prm.add_beginRequest(function () {
            $('#entryForm').block({ message: '<br/><img src="<%=Page.ResolveUrl("~/Images/progress_indicator.gif") %>" /><h1>Please wait ...</h1>' });
            });

            prm.add_endRequest(function () {
                $('#entryForm').unblock();
            });

            // Progress indicator preloading.
            var preload = document.createElement('img');
            preload.src = '<%=Page.ResolveUrl("~/Images/progress-indicator.gif") %>';
            delete preload;
    </script>
    <div style="margin-top: 20px">
        <asp:Label runat="server" ID="lblMessage" ForeColor="Red"></asp:Label>
        <asp:HyperLink ID="HlnkCreateUser" runat="server" NavigateUrl="#" Style="float: right;text-decoration:none">
            <img alt="" style="border: currentColor;width:43px;padding-left: 9px;" src="images/ico/client/UserManag.jpg" /><br />
            Create User
        </asp:HyperLink>
        <div style="clear: both"></div>
        <asp:GridView runat="server" ID="gvUserManagment" Visible="true" AutoGenerateColumns="false" Width="100%" Style="margin-top: 30px;"
            AutoGenerateDeleteButton="false" AutoGenerateEditButton="false" OnRowDataBound="gvUserManagment_RowDataBound" OnRowCommand="gvUserManagment_RowCommand"
            ShowHeaderWhenEmpty="True" EmptyDataText="No records Found" DataKeyNames="ReferenceNumber,IsActive,UserGroupID,Status">
            <HeaderStyle BackColor="#0072c6" ForeColor="White" Font-Bold="true" BorderStyle="None" Height="30px" Font-Size="14px" />
            <RowStyle BackColor="#F7F6F3" ForeColor="#333333" BorderStyle="None" Height="30px" Font-Size="12px" HorizontalAlign="Center" />
            <Columns>
                <asp:BoundField HeaderText="Login Name" DataField="UserLoginID" />
                <asp:BoundField HeaderText="Name" DataField="Name" />
                <asp:BoundField HeaderText="Email" DataField="Email" />
                <asp:BoundField HeaderText="Mobile" DataField="Mobile" />
                <asp:BoundField HeaderText="Active" DataField="Status" />
                <asp:TemplateField HeaderText="Action">
                    <ItemTemplate>
                        <asp:Label runat="server" ID="lblIsUserActPending" Visible="false" Text='<%#Eval("IsUserActPending")%>'></asp:Label>
                        <asp:LinkButton ID="lbtnAction" runat="server" Text="" CommandName="Action" CommandArgument="<%# Container.DataItemIndex %>" OnClientClick="return confirm('Are you sure you want to active/inactive this entry?');"></asp:LinkButton>
                    </ItemTemplate>
                </asp:TemplateField>
            </Columns>
        </asp:GridView>
    </div>
    </asp:Content>

<%--<asp:Content ID="Content3" runat="server" 
    contentplaceholderid="ContentPlaceHolder1">
    <p id="LblChangeBranchBanner" runat="server">
    Enable or Disable user access!
    </p>
    
</asp:Content>--%>

